@use "global" as *;

/* Accordion Group */
    .accordion-block-wrapper {
        
    }

/* Accordion Item */
    .accordion-item-wrapper {

        &.active {

            .accordion-item-title  {
            
                .accordion-plusminus {

                    &:before {
                        display: none;
                    }
                }
            }
        }
        
        .accordion-item-title {
            font-size:$h4;
            letter-spacing: $lsh4;
            font-weight: bold;
            border-bottom:1px solid $hairline;
            padding:20px 59px 20px 0;
            position: relative;
            cursor: pointer;
            transition: $transition;

            &:hover,
            &:focus {
                color:$link;

                .accordion-plusminus {
            
                    &:before,
                    &:after {
                        background-color: $link;
                    }
                }
            }

            .accordion-plusminus {
                width:44px;
                height:44px;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);                

                

                &:before,
                &:after {
                    content:'';                    
                    background-color:$secondarydark;
                    display: block;
                    position:absolute;
                    transition: $transition;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                }

                &:after {                    
                    width:16px;
                    height:2px;                    
                }

                &:before {                    
                    width:2px;
                    height:16px;
                }
            }
        }

        .accordion-item-content {
            padding-top:24px;
            padding-bottom: $double-spacing;
            display: none;

            @media( max-width:$sm ) {
                padding-bottom:56px;
            }

            & > *:last-child {
                margin:0;
            }

            p,
            ul,
            ol,
            table {
                font-size: $h5;
                letter-spacing: $lsh5;
            }

            .wp-block-image {
                margin-bottom:$spacing;
            }

            .wp-block-table {

                @media( max-width:$sm ) {
                    margin-left:-32px;
                    margin-right:-32px;
                    width:calc( 100%  + 64px );
                }
            
                table {
                    width:auto;
                    max-width: 656px;
                    margin:0 auto $spacing;                    

                    @media( max-width:$sm ) {
                        font-size: $f10;
                        letter-spacing: $ls10;
                        width:100%;
                        margin-left:0;
                        margin-right:0;

                        tr {

                            td {
                                padding:10px 6px;

                                &:first-child {
                                    padding-left:32px;
                                }

                                &:last-child {
                                    padding-right: 32px;
                                }                            
                            }
                        }
                    }
                }
            }
        }

        .is-style-card {
            border-radius: 8px;
            
        }

        .is-style-note {
            border-radius: 8px;
        }
    }
    
/* Highlight Product */
    .highlight-product-wrapper {
        border-radius: 40px;
        background-color: $white;        
        height:800px;
        width:100%;
        position: relative;
        overflow: hidden;

        &.is-dark {
            background-color: $black;

            .highlight-product-content-wrapper {

                .highlight-product-content {

                    .highlight-product-slogan  {
                        font-size:38px;                    
                        letter-spacing: 10.64px;
                        line-height: 55px;
                        color:$white;   
                        font-weight: bold;
                    }                    

                    .highlight-product-title {                        
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }                
                }
            }
        }

        &.is-alignment-left {

            .highlight-product-content-wrapper {
                width:100%;
                height:100%;
                display: flex;
                justify-content: flex-end;

                .highlight-product-content {
                    position:absolute;
                    width:850px;
                    top:50%;
                    transform: translateY(-50%);                    
                    right:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 60px );
                height:calc( 100% + 60px );   
                left:-60px;
                bottom:-60px;            
                background-position: left bottom;
            }
        }

        &.is-alignment-center {
            
            .highlight-product-content-wrapper {
                width:100%;
                height:100%;
                padding:100px 0 0 0;

                .highlight-product-content {
                    position:absolute;                    
                    width:100%;
                    left:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 72px );
                height:calc( 100% - 26px );   
                right:-36px;
                left:-36px;
                bottom:0;
                background-position: center bottom;
            }
        }

        &.is-alignment-right {    

            .highlight-product-content-wrapper {
                width:100%;
                height:100%;

                .highlight-product-content {
                    position:absolute;                    
                    width:850px;
                    top:50%;
                    transform: translateY(-50%);                    
                    left:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 110px );
                height:calc( 100% + 130px );   
                right:-110px;
                bottom:-130px;            
                background-position: right bottom;
            }
        }

        .highlight-product-content-wrapper {
            position:relative;
            z-index: 1;

            .highlight-product-content {
                text-align: center;

                .highlight-product-slogan {                    
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    line-height: 18px;
                    color:$black;                    
                }

                .highlight-product-title {
                    font-size:90px;
                    letter-spacing: 0;
                    line-height: 131px;                    
                    color:$black;
                    font-weight: bold;
                    display: inline-block;
                    margin-bottom: 24px;
                }

                .highlight-product-action {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:13px;

                    .std-button {
                        padding:9px 24px 9px 24px;
                    }

                    .link-arrow {
                        padding-right:13px;
                        color:$white;

                        &:hover,
                        &:focus {
                            color:$link;
                        
                            &:after {
                                background-color: $link;
                            }
                        }
                    
                        &:after {
                            background-color: $white;      
                            -webkit-mask-size:7px 13px;
                            mask-size:7px 13px;
                            width:7px;
                            height:13px;    
                            margin-top:1px;              
                        }
                    }
                }
            }
        }

        .highlight-product-bg {
            position: absolute;
            background-repeat: no-repeat;
            background-size:auto auto;
        }
    }

/* Product Card Group */
    .product-card-group-wrapper {
        display: flex;
        gap:16px;
        flex-wrap: wrap;
    }

/* Product Card */
    .product-card-wrapper {
        background-color: $white;
        padding:$spacing $spacing 21px;
        border-radius: 24px;
        text-align: center;
        width:calc( ( 100% - ( 3 * 16px ) ) / 4);        

        @media( max-width:$md ) {
            padding:$spacing $spacing 43px;
            width:calc( ( 100% - ( 2 * 16px ) ) / 3);            
        }

        @media( max-width:$sm ) {
            padding:24px $half-spacing 27px;
            width:calc( ( 100% - ( 1 * 16px ) ) / 2);
        }

        .product-card-image {
            margin-top:70px;
            margin-bottom: 40px;
            height:240px;   

            @media( max-width:$md ) {
                margin-top:20px;
                height:164px;
            }

            @media( max-width:$sm ) {
                margin-top:0;
                height:134px;
                margin-bottom: 24px;
            }

            img {
                width:100%;
                height:100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .product-card-variation {
            font-size: $h6;
            letter-spacing: $lsh6;
        }

        .product-card-title {
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: bold;
        }

        .product-card-price {
            font-size: $h6;
            letter-spacing: $lsh6;
        }        
    }    

/* Product Card Upsell */
    .product-card-wrapper {
    
        &.product-card-upsell {

            width:calc( ( 100% - ( 2 * 16px ) ) / 3);        

            @media( max-width:$sm ) {
                width:calc( ( 100% - ( 1 * 16px ) ) / 2);
            }

            .product-card-variation {
                font-size: $h5;
                letter-spacing: $lsh5;
                font-weight: bold;
                margin-bottom:$half-spacing;
            }

            .product-card-image {
                margin-top:$half-spacing;
                margin-bottom:$spacing;
            }

            .product-card-description {
                font-size: $h6;
                letter-spacing: $lsh6;
                margin-bottom:$half-spacing;
            }

            .product-card-action {

            }

            .product-card-title {
                margin-bottom:$half-spacing;
            }

            .product-card-price {
                font-size: $h5;
                letter-spacing: $lsh5;
                font-weight: bold;
                margin-bottom:$spacing;
            }    
        }
    }