@use "global" as *;

/* Cover */
    /* Padding */
        .wp-block-cover, 
        .wp-block-cover-image {
            padding:0 $spacing;

            @media( max-width:$sm ) {
                padding:0 $half-spacing;
            }
        }

    /* Wide */
        .wp-block-cover {

            &.wide-card-cover {

                .wp-block-cover__inner-container {
                    max-width: min(calc(100vw - 2 * 56px ), 1264px );

                    @media( max-width:$xl ) {
                        max-width:min(calc(100vw - 2 * 56px ), 960px );
                    }

                    @media( max-width:$md ) {
                        max-width:min(calc(100vw - 2 * 56px ), 716px );
                    }

                    @media( max-width:$sm ) {
                        max-width:min(calc(100vw - 2 * $half-spacing ), 716px );
                    }
                }
            }
        }

    /* No Padding */
        .wp-block-cover {
        
            &.nopadding {
                
            }
        }

    /* Fix text color on light backgrounds */
        .wp-block-cover__background.has-white-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-paleblue-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-lightgray-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-secondary-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-hairline-background-color ~ .wp-block-cover__inner-container {
            color:$black;
        }

/* Image */
    .wp-block-image {

        img {
            border-radius: 24px;
        }

        figcaption {
            font-size: $f10;
            letter-spacing: $ls10;
            text-align: right;
            color:$secondarydark;     
            margin:7px 0 10px;       

            a {
                position: relative;
                padding-right:12px;
                color:$secondarydark;            

                &:hover,
                &:focus {
                    color:$link;

                    &:after {
                        background-color: $link;
                    }
                }

                &:after {
                    content:'';
                    -webkit-mask-image:url(../../img/link.svg);
                    mask-image:url(../../img/link.svg);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    -webkit-mask-position:center;
                    mask-position: center;
                    -webkit-mask-size:9px 9px;
                    mask-size:9px 9px;
                    background-color:$secondarydark;
                    position:absolute;
                    right:0;
                    top:50%;
                    transform: translateY(-50%);
                    width:9px;
                    height:9px;
                    display: block;
                    transition: $transition;
                }
            }
        }
    }

    /* Square Border */
        .wp-block-image.is-style-square-border img {
            border-radius: 0;
        }

/* Columns */
    :where(.wp-block-columns.is-layout-flex) {
        gap:$spacing;
    }

    .wp-block-columns.gap16 {
        gap:16px;
    }

    /* Padding */
    .wp-block-columns {
        margin-bottom:$spacing;
    }

    /* Slim */
    .wp-block-columns.is-style-slim {
        max-width: $slim-width;
        margin-left:auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-slim-width;
        }
    }

    /* Shortcut Column */
    .wp-block-columns.shortcut-columns {
        gap:16px;

        @media( max-width:$sm ) {
            gap:38px;
        }
    
        p {
            padding-left:32px;
            padding-right:32px;
            margin-bottom:9px;
            cursor: pointer;
            transition: $transition;

            @media( max-width:$sm ) {
                padding-left:24px;
                padding-right:24px;                
            }

            &:hover,
            &:focus {
                color:$link;
            }

            &:last-child {
                margin:0;
            }

            &.pill {
                background-color: $lightgray;
                border-radius: $border-radius;
                padding:14px 32px;
                margin-bottom:23px;

                @media( max-width:$sm ) {
                    padding:9px 24px;
                }

                &:hover,
                &:focus {
                    background-color: $link;
                    color:$white !important;
                }
            }
        }
    }

    /* Step */
    .wp-block-columns.step .wp-block-column {
    
        @media( max-width:$md ) {
            flex-basis:calc( 100% / 3 - 32px ) !important;
        }

        @media( max-width:$sm ) {
            flex-basis:100% !important;
        }
    }

    /* Compare */
    .wp-block-columns.column-compare-size.column-4 {

        .wp-block-column {
            flex-basis: 25%;
            flex-grow:0;
        }
    }

/* Group */
    .wp-block-group {

        &.shortcuts-row {
            gap:39px;

            @media( max-width:$sm ) {
                gap:15px;
                flex-direction: column;
                align-items: flex-start;
            }
        
            p {
                font-size:$h5;
                letter-spacing: $lsh5;
                position:relative;     
                cursor: pointer;
                padding-right:14px;

                &:hover,
                &:focus {
                    color:$link;
                
                    &:after {
                        background-color: $link;
                    }
                }

                &:after {
                    content:'';
                    position:absolute;
                    top:50%;
                    right:0;
                    transform: translateY(-50%);
                    -webkit-mask-image:url(../../img/jump-arrow.svg);
                    mask-image:url(../../img/jump-arrow.svg);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    -webkit-mask-position:center;
                    mask-position: center;
                    -webkit-mask-size:10.5px 21px;
                    mask-size:10.5px 21px;
                    width:10.5px;
                    height:32px;
                    background-color: $secondarydark;
                    transition: $transition;
                }           
            }

            .wp-block-button__link {
                width:100%;
                text-align: left;
                position:relative;
                display: flex;
                align-items: center;

                @media( max-width:$sm ) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    font-size: $h6 !important;
                    letter-spacing: $lsh6 !important;
                    line-height: 17px;
                    padding:4px 24px 4px !important;
                    min-height: 53px;
                }

                
            }
        }
    }

/* Buttons */
    .wp-block-button {

        .wp-block-button__link:not(.has-background) {
            background-color: $link;            
            color:$white;
            border:1px solid $link;

            &:hover,
            &:focus {
                background-color: $white;
                border-color:$link;
                color:$link;
            }
        }

        .wp-block-button__link {
            border-radius: $spacing;
        }

        &.has-h-3-font-size {
            line-height: 37px;

            .wp-block-button__link:not(.has-background) {
                padding:11px 32px;

                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    line-height: 21px;
                }
            }
        }
    }

    /* Blue - Default */

    /* Black */
    .wp-block-button.is-style-black {
    
        .wp-block-button__link {
            background-color: $black;
            color:$white;
            border-color:$black;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
                border-color: $link;
            }
        }
    }

    /* White */
    .wp-block-button.is-style-white {
    
        .wp-block-button__link {
            background-color: $white;
            color:$black;
            border:none;
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: 700;
            padding:15px 32px;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
            }
        }
    }

    /* Gray */
    .wp-block-button.is-style-gray {
    
        .wp-block-button__link {
            background-color: $lightgray;
            color:$black;
            border:none;
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: 700;
            padding:15px 32px;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
            }
        }
    }

    /* Width 220 */
    .wp-block-buttons.width220 .wp-block-button__link {
        min-width:220px;
    }

    /* Gap 24 */
    .wp-block-buttons.gap24 {
        gap:24px;
    }
    

/* Column */
    /* Card */
    .wp-block-column.is-style-card {
        border-radius: $border-radius;
        padding:$spacing;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .radius8 .wp-block-column.is-style-card {
        border-radius: 8px;
    }

    /* Note */
    .wp-block-column.is-style-note {
        border-radius: $border-radius;
        padding:$spacing;
        border:1px solid $hairline;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .wp-block-column.is-style-card,
    .wp-block-column.is-style-note {

        &.thin-padding {
            padding:14px 16px
        }

        &.thinner-padding {
            padding:8px 16px;
        }
    }

    /* Fix text color on light backgrounds */    
    .wp-block-column.is-style-card.has-white-background-color,
    .wp-block-column.is-style-card.has-paleblue-background-color,
    .wp-block-column.is-style-card.has-lightgray-background-color,
    .wp-block-column.is-style-card.has-secondary-background-color,
    .wp-block-column.is-style-card.has-hairline-background-color {
        color:$black;
    }

    .wp-block-column > *:last-child {
        margin-bottom:0;
    }

/* Spacer */
    .wp-block-spacer {
        margin-bottom:0 !important;
    }

    .wp-block-spacer.is-style-spacer188 {
        height:0 !important;
        margin-top:188px;        

        @media( max-width:$sm ) {
            margin-top:80px !important;
        }
    }

    .wp-block-spacer.is-style-spacer112 {
        height:0 !important;
        margin-top:112px !important;

        @media( max-width:$sm ) {
            margin-top:56px !important;
        }
    }

    .wp-block-spacer.is-style-spacer80 {
        height:0 !important;
        margin-top:80px !important;

        @media( max-width:$sm ) {
            margin-top:40px !important;
        }
    }

    .wp-block-spacer.is-style-spacer64 {
        height:0 !important;
        margin-top:64px !important;

        @media( max-width:$sm ) {
            margin-top:32px !important;
        }
    }

    .wp-block-spacer.is-style-spacer40 {
        height:0 !important;
        margin-top:40px !important;

        @media( max-width:$sm ) {
            margin-top:20px !important;
        }
    }

    .wp-block-spacer.is-style-spacer32 {
        height:0 !important;
        margin-top:32px !important;

        @media( max-width:$sm ) {
            margin-top:16px !important;
        }
    }

/* Quote */
    .wp-block-quote {
        background-color: $lightgray;
        padding:$spacing;
        border-radius: 8px;
        font-size: $f17;
        letter-spacing: $ls17;
        font-style: normal;
        margin:40px 0;
        border: none;
    }

/* Gallery */
    .wp-block-gallery.is-style-vertical {
        flex-direction: column;
        gap:24px !important; 

        @media( max-width:$sm ) {
            gap:15px !important;
        }

        & > .wp-block-image {
            width:100% !important;
        }
    }

    .wp-block-gallery.width-original {

        .wp-block-image {
            width:auto;
            display: block !important;
            text-align: center;
    
            img {
                display: inline-block !important;
                width:auto !important;
            }
        }
    }

/* Table */
    .wp-block-table {        

        &.table-slice-half {

            table {
            
                td {
                    width: 50%;
                }
            }
        }

        &.noborder {
            
            table {
                border:none;
            }
        }
    
        table {
            border:1px solid $black;
            margin:0 0 $spacing 0;
        
            tbody {
            
                tr:nth-child(odd) {
                    background-color: $lightgray;
                }

                tr:nth-child(even) {
                    background-color: $white;
                }

                tr {
                
                    td {
                        border:none;
                        padding:10px 12px;

                        &:first-child {
                            padding-left:16px;
                        }

                        &:last-child {
                            padding-right:16px;
                        }
                    }
                }
            }
        }
    }

    .wp-block-column .wp-block-table:last-child table {
        margin:0;
    }

/* Contact Form 7 */
    .wpcf7-form {

        & > p {
            margin-bottom:10px;
        }
    
        label {
            font-size: $h6;
            font-weight: 700;
            
            span {
                color:$secondarydark;
                font-weight: 400;
            }

            .wpcf7-form-control-wrap {
                display: block;
                padding:9px 0 0 0;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"] {
                width: 100%;
            }
        }        

        .form-submit {            
            display: flex;
            justify-content: center;
            align-items: center;

            input[type="submit"] {
                display: inline-block;
            }
        }
    }

