@use "global" as *;

/* Footer */
    .site-footer {
        background-color: $black;        
        color:$white;
        font-size:$h6;

        #footer-widgets {
            background-color:transparent;

            .footer-widgets-container {                
                padding:0;
                max-width:100%;

                .inside-footer-widgets {
                    flex-direction: column;
                    margin:0;

                    & > * {
                        @media( max-width:$sm ) {
                            margin-bottom:0;
                        }
                    }
            
                    .footer-widget-1 {
                        background-color: $dark;
                        padding:30px 0;

                        @media( max-width:$sml ) {
                            padding:30px $half-spacing 29.5px;
                        }

                        @media( max-width:$xs ) {
                            padding:30px $half-spacing 30.5px;
                        }
                        
                        & > * {
                            max-width:min(calc(100vw - 2 * $double-spacing ), 588px );
                            margin-left:auto;
                            margin-right:auto;
                            padding:0;

                            @media( max-width:$sml ) {
                                max-width:min(calc(100vw - 2 * $double-spacing ), 532px );
                                max-width:532px;
                            }

                            @media( max-width:$xs ) {
                                max-width:min(calc(100vw - 2 * $half-spacing ), 438px );
                                max-width:229px;                                
                            }
                        }                        
                    }

                    .footer-widget-2 {
                        padding:56px 0 0 0;
                        margin: 0 0 48.5px 0;

                        @media( max-width:$sm ) {
                            padding:41px 0 0 0;
                            margin:0 0 25.5px 0;
                        }

                        @media( max-width:$sm ) {
                            padding:56px 0 0 0;
                            margin:0 0 10.5px 0;
                        }

                        & > * {
                            max-width:880px;
                            width:100%;
                            margin-left:auto;
                            margin-right:auto;
                            padding:0;

                            @media( max-width:$md ) {
                                padding:0 $spacing;
                            }

                            @media( max-width:$xs ) {
                                padding:0 $half-spacing;
                            }
                        }  

                        .wp-block-columns {                            
                            gap:17px;

                            @media( max-width:$sml ) {
                                gap:0;
                            }

                            .wp-block-column {     

                                @media( max-width:$sm ){
                                    display:block;
                                    text-align: center;  
                                    margin:0 0 25px 0;                                  
                                }

                                &:first-child {
                                    flex:0 0 283px;
                                    padding:0 54px 0 55px;

                                    @media( max-width:$md ) {
                                        flex:1 !important;
                                        padding:0 $half-spacing;
                                    }

                                    @media( max-width:$sm ) {
                                        flex:0 0 100% !important;
                                        padding:0 30px;
                                    }

                                    @media( max-width:$xs ) {                                        
                                        padding:0 32px;
                                    }
                                }

                                &:nth-child(2) {
                                    flex:0 0 282px;
                                    padding:0 73px 0 72px;

                                    @media( max-width:$md ) {
                                        flex:1 !important;
                                        padding:0 $half-spacing;
                                    }

                                    @media( max-width:$sm ) {
                                        flex:0 0 100% !important;
                                        padding:0 20px;
                                    }

                                    @media( max-width:$xs ) {                                        
                                        padding:0 0 ;
                                    }
                                }

                                &:last-child {
                                    flex:0 0 283px;
                                    padding:0 64px 0 63px;

                                    @media( max-width:$md ) {
                                        flex:1 !important;
                                        padding:0 $half-spacing;
                                    }

                                    @media( max-width:$sm ) {
                                        flex:0 0 100% !important;
                                        padding:0 0;
                                    }
                                }
                            
                                p {
                                    margin:0 0 4px 0;

                                    @media( max-width:$sm ) {
                                        margin:0 7.5px;
                                        display: inline-block;
                                    }
                                
                                    a {
                                        @include font( 12px );                            
                                        line-height: 18px;                            
                                        color:$secondary;

                                        &:hover,
                                        &:focus {
                                            color:$link;
                                        }
                                    }
                                }
                            }                                
                        }
                    }
                }

                .payment-sidebar {
                    margin: 0 0 7px 0;

                    @media( max-width:$xs ) {
                        margin: 0 0 39px 0;
                    }

                    & > * {
                        max-width:414px;
                        margin-left:auto;
                        margin-right:auto;

                        @media( max-width:$xs ) {
                            max-width: 220px;
                        }
                    }

                    .wp-block-gallery.has-nested-images.columns-default  {
                        gap:6.5px;

                        @media( max-width:$xs ) {
                            display:flex;    
                            justify-content: center; 
                            gap: 7px 6.5px;
                        }
                        
                        figure.wp-block-image:not(#individual-image) {                        
                            width:auto;

                            @media( max-width:$xs ) {
                               /* display:inline-block;*/
                               flex-grow:0;
                            }

                            img {
                                border-radius: 0;

                                @media( max-width:$xs ) {
                                    display:block;
                                    width:auto;
                                    height:auto;
                                }
                            }
                        }
                    }
                }

                .social-sidebar {
                    margin:0 0 30.5px 0;

                    @media( max-width:$xs ) {
                        margin:0 0 38.5px 0;
                    }

                    & > * {
                        max-width:132px;
                        margin-left:auto;
                        margin-right:auto;
                    }
                    
                    .wp-block-gallery.has-nested-images.columns-default  {
                        gap:0px;
                        
                        figure.wp-block-image:not(#individual-image) {                        
                            width:44px;
                        }
                    }
                }

                .copyright-sidebar {
                    text-align: center;     
                    padding:0 0 38.5px 0;

                    @media( max-width:$sml ) {
                        padding:0 0 22.5px 0;
                    }

                    & > * {
                        max-width:$default-width;
                        margin-left:auto;
                        margin-right:auto;
                    }

                    p {
                        @include font( $f10 );
                        margin:0;
                        font-weight: 400;
                    }
                }
            }            
        }

        .site-info {
            display:none;
        }
    }

/* Widgets */
    .widget-contact.wp-block-columns:not(.is-not-stacked-on-mobile) {
        gap:18px;

        @media( max-width:$sml ) {
            gap:73px;
        }

        @media( max-width:$xs ) {
            
            flex-direction: column;
            gap:60.5px;
        }
        
        & > .wp-block-column {

            @media( max-width:$sml ) {
                flex:1 !important;
            }
        
            & > .wp-block-columns {
                gap:12px;

                @media( max-width:$xs ) {
                    justify-content: center;
                }
                
                & > *:first-child {
                    flex: 0 0 48.71px !important;
                    display: flex;
                    align-items: center;
                }

                & > *:last-child {
                    flex:1;

                    @media( max-width:$sml ) {
                        flex:1 !important;
                    }
                }

                & > .wp-block-column {    

                    & > p:first-child {
                        @include font( $h6 );
                        font-weight: 700;
                        margin:0 0 3px 0;
                    }

                    .wp-block-button__link {
                        @include font( $f10 );
                        font-weight: 700;
                        padding:2px 11px 2.5px;
                        margin:0 0 4px 0;
                    }

                    & > p:last-child {
                        @include font( $f10 );
                        letter-spacing: 0;
                        color:$secondarydark;   
                    }
                }
            }

            &:last-child {

                .wp-block-columns {
                
                    .wp-block-column:last-child {

                        & > p:first-child {
                            margin:0;
                        }

                        .wp-block-columns {
                            gap:7px;
                            margin:0 0 4px 0;

                            .wp-block-column:first-child {
                                flex:0 0 39px;
                                display: flex;
                                align-items: center;

                                @media( max-width:$sml ) {
                                    flex:0 0 39px !important;
                                }

                                .wp-block-image {                                        

                                    img {
                                        margin:2px 0 0 1px;
                                        display:block;
                                    }                                    
                                } 
                            }  

                            .wp-block-column  {

                                @media( max-width:$sml ) {
                                    flex:1 !important;
                                }
                            
                                p {
                                    margin:0;
                                    font-size:16px;
                                    line-height: 26px;
                                    letter-spacing:1.28px;
                                }
                            }                    
                        }              
                    }
                }               
            }
        }        
    }

/* Breadcrumb Nav */
    .footer-breadcrumb-wrapper {        
        @include font( $f10 );
        padding:23px 0;
        background-color: $black;

        @media( max-width:$xs ) {
            padding:23.5px 0;
        }

        & > .container {

            @media( max-width:$sm ) {
                max-width:min(100vw - 30.5px, 944px);
            }

            @media( max-width:$xs ) {
                max-width:min(100vw - 31px, 944px);
            }
        }

        a {
            color:$secondary;

            &:hover,
            &:focus {
                color:$link;
            }

            &:not(:last-child) {

                &:after {
                    content:url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 4.5L1 8' stroke='%23B2BBC4' stroke-linecap='square'/%3E%3C/svg%3E%0A");
                    position: relative;
                    top:1px; 
                    margin-left:10px;
                }
            }
        }
    }
    
    .breadcrumb-nav {
        display:inline;
        margin:0 6px;

        &:after {
            content:url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 4.5L1 8' stroke='%23B2BBC4' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            position: relative;
            top:1px;
        }
    }

    .breadcrumb_last {
        margin-left:63px;
        color:$secondarydark;

        &:first-child {
            margin-left: 0;
        }

        @media( max-width:$sm ) {
            margin-left:0;
        }
    }

/* Contact Info */
    .footer-contactinfo-wrapper {
        background-color: $dark;
        padding:30px 0;

        .container {
            max-width: min(100vw - 64px,574px);

            .columns {
                @media( max-width:$xs ) {
                    flex-direction: column;
                    align-items: center;
                }
            }

            .footer-contactinfo {
                display: flex;

                &#contactinfo-emailconsulting {
                    
                    .footer-contactinfo-content {
                    
                        & > a {
                            display: block;
                            margin-bottom:5px;

                            .std-button {
                                padding:2px 11px;
                                font-size: $f10;
                                letter-spacing: $ls10;
                                font-weight: bold;
                            }
                        }
                    }
                }

                &#contactinfo-customerservice {
                
                    .footer-contactinfo-content {
                    
                        .footer-contactinfo-title {
                            margin-bottom: 0px;
                        }
                    }
                }

                .footer-contactinfo-icon {
                    margin-right:12px;
                    display: flex;      
                    align-items: center;         
                }

                .footer-contactinfo-content {
                
                    .footer-contactinfo-title {
                        font-size: $h6;
                        letter-spacing: $lsh6;
                        font-weight: bold;
                        margin:0 0 3px 0;
                    }

                    .footer-contactinfo-phone {
                        font-size:16px;
                        line-height: 26px;
                        letter-spacing: 1.28px;
                        display: flex;
                        align-items: center;
                        margin-bottom:4px;

                        svg {
                            margin-right: 6px;
                        }
                    }

                    .footer-contactinfo-detail {
                        font-size: $f10;
                        color:$secondarydark;
                        letter-spacing: 0;
                    }                
                }
            }
        }
    }

/* Links */
    .footer-links-wrapper {
        padding:63px 0 40px;

        @media( max-width:$md ) {
            padding:47px 0 43px;
        }

        .container {        
            display: flex;
            gap:$spacing;
            justify-content: space-between;

            @media( max-width:$md ) {
                flex-direction: column;
                gap:25px;
            }

            .footer-links {
                @media( max-width:$md ) {
                    text-align: center;
                }

                a {
                    display: block;
                    font-size: $h6;
                    letter-spacing: $lsh6;
                    color:$secondary;
                    margin-bottom:13px;

                     @media( max-width:$md ) {
                        display: inline-block;
                        margin:0 10px 9px;
                    }

                    &:hover,
                    &:focus {
                        color:$link;
                    }
                }            
            }
        }
    }