/*
 * Variables 
 * Mixins
 */

/* Variables */    
    :root {
        --wp--style--block-gap: 50px;

        @media( max-width: 76px ) {
            --wp--style--block-gap: 25px;
        }
    }

    $small-spacing: 12px;
    $half-spacing: 16px;
    $spacing: 32px;
    $double-spacing: 64px;
    $triple-spacing: 96px;

    $xl: 1439px;
    $lg: 1199px;
    $md: 991px;
    $sml: 781px;
    $sm: 767px;
    $xs: 576px;

    $slim-width: min(calc(100vw - 2 * 56px ), 656px );
    $default-width: min(calc(100vw - 2 * 56px ), 944px );
    $wide-width: min(calc(100vw - 2 * 56px ), 1440px );

    $mobile-slim-width: min(calc(100vw - 2 * $half-spacing ), 656px );
    $mobile-default-width: min(calc(100vw - 2 * $half-spacing ), 944px );
    $mobile-wide-width: min(calc(100vw - 2 * $half-spacing ), 1440px );

    $white:#ffffff;
    $black: #000000;
    $dark: #181818;
    $secondarydark: #888888;
    $secondary: #b2bbc4;
    $lightgray: #f5f5f7;
    $paleblue: #f7f9fb;
    $link: #0066cc;
    $beige: #c6b59d;
    $bluedream: #0171e2;

    $orange: #f56300;
    $green: #7fb34d;
    $hairline:#d2d2d7;

    $success: yellowgreen;
    $info: skyblue;
    $warning: gold;
    $error: salmon;

    $primary-font:'Noto Sans JP', sans-serif;

    $h1: 68px;
    $h2: 44px;
    $h3: 24px;
    $h4: 19px;
    $h5: 14px;
    $h6: 12px;

    $f30: 30px;
    $f17: 17px;
    $f10: 10px;

    /*$f90: 90px;
    $f68: 68px;
    $f48: 48px;
    $f44: 44px;
    $f38: 38px;
    $f32: 32px;
    $f31: 31px;
    $f30: 30px;
    $f28: 28px;
    $f24: 24px;
    $f21: 21px;
    $f19: 19px;
    $f17: 17px;
    $f16: 16px;
    $f14: 14px;
    $f12: 12px;
    $f11: 11px;
    $f10: 10px;*/

    $lh: 1.75;

    /*$lh145: 1.45;
    $lh15: 1.5;
    $lh175: 1.75;
    $lh21: 2.1;
    $lh285: 2.85;*/

    $ls: 0.08em;

    $lsh1: 5.44px;
    $lsh2: 3.52px;
    $lsh3: 1.92px;
    $lsh4: 1.52px;
    $lsh5: 1.12px;
    $lsh6: 0.96px;

    $ls30: 2.4px;
    $ls17: 1.36px;
    $ls10: 0.8px;

    /*$ls0: 0;
    $ls8: 0.08em;
    $ls16: 0.16em;
    $ls28: 0.28em;*/

    $transition: all 0.2s ease 0s;

    $border-radius:24px;

/* Mixins */
    @mixin font( $fontsize, $lineheight: $lh ) {
        font-size: $fontsize;
        line-height: $lineheight;
        @include ls( $fontsize );
    }

    @mixin ls( $fontsize ) {
        letter-spacing: 0.08 * calc( $fontsize / 1px ) + px;
    }

    /*@mixin std-button {
        border:1px solid $primary-color;
        background-color:$primary-color !important;
        color:$background-color;
        padding:14px $triple-spacing !important;
        font-family: $secondary-font;
        border-radius: 10px;

        &:hover,
        &:focus {                        
            background-color:$primary-color-hover !important;  
            color:$background-color; 
        }

        @media( max-width: $sm ) {
            padding:14px $double-spacing !important;
        }

        @media( max-width: $xs ) {
            padding:14px $spacing !important;
        }
    }

    @mixin alt-button {
        font-family: $secondary-font;
        border-radius: 10px !important;
        transition:border .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out;
        padding:14px $spacing;
        border:1px solid $primary-color !important;
        background-color:transparent !important;
        color:$primary-color !important;
        box-shadow:none !important;
        padding:10px 15px !important;

        &:hover {                        
            background-color:$primary-color !important;                
            color:$background-color !important;
        }  
    }*/