@use "global" as *; 

/* General */
    /* Notice/Info/Error/Message */
        .woocommerce-error, 
        .woocommerce-info, 
        .woocommerce-message {
            padding:10px 32px;
            margin:$half-spacing 0 !important;
            background-color: $lightgray;
            border:none;
            border-radius: 16px;
            color:$black;
            font-size: $h6;
            letter-spacing: $lsh6;
            text-align: center;

            @media( max-width:$sm ) {
                padding:10px 16px;
            }

            &::before {
                display: none;
            }
        }

        .woocommerce-info {
            border:1px solid $hairline;
        }

        .woocommerce-error {
            border:1px solid $orange;
            color:$orange;
            background-color: $white;
        }

        .notice-link {

            &:hover,
            &:focus {
            
                .notice-wrapper {
                    opacity:0.6;
                }
            }
        }

        .notice-wrapper {
            color:$black;
            background-color: $paleblue;
            transition: $transition;

            &.white {
                background-color: $white;
            }

            &.noticeproduct {
                
                .notice-container {
                    max-width:$default-width;

                    @media( max-width:$sm ) {
                        max-width:$mobile-default-width;
                    }

                    .notice-inner {
                        padding:5px 0;

                        .noticeproduct-left {
                            flex: 1;
                            display: flex;
                            align-items: center;

                            .noticeproduct-image {
                                width:60px;
                                margin-right:15px;
                            }
                        }

                        .noticeproduct-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .notice-container {
                max-width:420px;
                margin-left:auto;
                margin-right:auto;
            }

            .notice-inner {
                display: flex;
                align-items: center;   
                padding:19px 26px;         
            
                .notice-image {
                    width:68px;
                    height:46px;
                    margin-right: 18px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .notice-content {
                    flex:1;                

                    .notice-title {
                        font-weight: 700;
                        font-size: $h5;
                        letter-spacing: $lsh5;
                    }

                    .notice-description {
                        font-weight: 700;
                        font-size: $f10;
                        letter-spacing: $ls10;                
                    }
                }

                .notice-action {
                    display: flex;
                    align-items: center;
                }
            }
        }

    /* Loader */   
        .woocommerce .blockUI.blockOverlay:before {
            display: none;
        }

        body.woocommerce-cart .cart_totals.calculated_shipping.processing .blockUI,
        body.woocommerce-cart .cart_totals.processing .blockUI {
            background-color:#f4f4f4!important
        }
        @keyframes loader_spinner {
            100% {
                transform:rotate(360deg)
            }
        }
        @keyframes loader_fade {
            0% {
                opacity:0
            }
            100% {
                opacity:1
            }
        }
        body.woocommerce-cart .cart_totals.calculated_shipping.processing .blockUI:after,
        body.woocommerce-cart .cart_totals.processing .blockUI:after {
            content:'';
            display:inline-block;
            box-sizing:border-box;
            width:24px;
            height:24px;
            border-radius:100%;
            border:1px solid transparent;
            animation:loader_fade .5s ease-in,loader_spinner .5s linear infinite
        }
        body.woocommerce-cart .cart_totals.calculated_shipping.processing .blockUI:after,
        body.woocommerce-cart .cart_totals.processing .blockUI:after {
            border-top-color:#000;
            z-index:4;
            position:absolute;
            top:calc(50% - 12px);
            left:calc(50% - 12px)
        }
    
    /* Form */
        /* Row */
        .woocommerce form .form-row {
            padding:0;
            margin: 0 0 15px 0;
        }

        /* Label */
            .woocommerce form .form-row label {
                font-size: $h6;
                letter-spacing: $lsh6;
                font-weight: 700;
                margin-bottom:10px;
            }

        /* Required */
            .woocommerce form .form-row .required {
                font-size:0;
                width:33px;
                height:17px;
                text-align: center;
                color:$secondarydark;
                background-color: $lightgray;
                border-radius: 8px;
                display: inline-block;
                font-weight: 400;

                &:before {
                    content:'必須';
                    font-size:$f10;
                    letter-spacing: $ls10;
                    line-height: 15px;     
                    margin-bottom: 2px;                                   
                }
            }

        /* Input */
            .woocommerce form {
            
                input[type="text"], 
                input[type="email"], 
                input[type="url"], 
                input[type="password"], 
                input[type="search"], 
                input[type="tel"], 
                input[type="number"], 
                textarea, 
                select {
                    border:1px solid $hairline;
                    border-radius: 10px;
                }
            }

            /* Checkbox */
                .woocommerce-form__label-for-checkbox {
                
                    .woocommerce-form__input-checkbox {
                        margin-right:6px;
                    }
                }

            /* Radio */
                .woocommerce-input-wrapper {
                    display: flex;
                    align-items: flex-start;

                    .input-radio {
                        margin-top:6px;
                        margin-right:10px;

                        & + label {
                            flex:1;
                            font-weight: 400 !important;
                        }
                    }    
                }

        /* Textarea */
            .woocommerce form .form-row textarea {
                height:88px;
            }
        
        /* Invalid Input */
            .woocommerce form .form-row.woocommerce-invalid .select2-container, 
            .woocommerce form .form-row.woocommerce-invalid input.input-text,
            .woocommerce form .form-row.woocommerce-invalid select {
                border-color:#f00;
            }

    /* Woocommerce Checkout Button */
        #add_payment_method .wc-proceed-to-checkout, 
        .woocommerce-cart .wc-proceed-to-checkout, 
        .woocommerce-checkout .wc-proceed-to-checkout {
            padding:0;
        }

        #add_payment_method .wc-proceed-to-checkout a.checkout-button, 
        .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
        .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
            font-size: $f17;
            letter-spacing: $ls17;
            margin-bottom: 0;
            padding:15px 26px;
        }

    /* Select2 */
        .select2-container--default .select2-selection--single {
            border:1px solid $hairline;
            border-radius: 10px;
            height:auto;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color:$black;
            font-size: $h5;
            letter-spacing: $lsh5;
            padding:9px 20px 9px 16px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top:50%;
            margin-top:-11px;
        }

/* Cart */
    /* Wrapper */
    .order-wrapper {
        display: flex;
        margin:80px 0 0 0;
        gap:48px;

        @media( max-width:$md ) {
            flex-direction: column;
            gap:0;
        }
    
        .order-content {
            flex:1;
        
            & > h1 {
                font-weight: bold;
                text-align: center;
                font-size: $h2;
                letter-spacing: $lsh2;
            }
        }

        .order-sidebar {
            width:416px;
            background-color: $lightgray;
            padding:28px $spacing 38px;
            border-radius: $half-spacing;
            font-size: $h5;
            letter-spacing: $lsh5;

            @media( max-width:$md ) {                
                width:100%;                
            }

            @media( max-width:$sm ) {
                padding:28px $half-spacing 38px;
            }

            .cart-collaterals {
            
                .cart_totals {
                    float:none;
                    width:100%;

                    h3 {
                        font-weight: 700;
                        text-align: center;
                        margin-bottom:12px;
                    }
                }
            }
        }
    }

    /* Row/Column */
    .order-row {
        display: flex;
        align-items: center;
        gap:12px;
        font-size: $h5;
        letter-spacing: $lsh5;

        &.woocommerce-cart-form__cart-item {
            border-bottom:1px solid $hairline;
            align-items: flex-start;
            padding:0 0 32px 0;
            margin:0 0 32px 0;

            &:last-child {
                border:none;
                margin:0;
            }

            &.lastorder {
                border-bottom:none;            

                @media( max-width:$md ) {
                    margin:0 0 6px 0;
                }
            }
        }

        .order-column {
        
            .product-thumbnail {
                width:128px;

                @media( max-width:$md ) {
                    width:80px;
                }

                a {
                    display: flex;
                }
            }

            &.column-nameqtypriceremove {
                display: flex;
                flex:1;

                @media( max-width:$md ) {
                    flex-direction: column;
                }
            }

            &.column-nameqty {
                flex:1;
                padding:32px 0 0 0;

                @media( max-width:$md ) {
                    padding:0;
                }

                .product-name {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin:0 0 5px 0;
                    padding:0 0 0 4px;

                    a {
                        color:$black;

                        &:hover,
                        &:focus {
                            color:$link;
                        }
                    }
                }
            }

            &.column-priceremove {
                text-align: right;
                padding:32px 0 0 0;

                @media( max-width:$md ) {
                    text-align: left;
                    padding:0;
                }
            
                .product-price {             
                    text-align: right;
                    flex:1;
                    margin:0 0 9px 0;

                    @media( max-width:$md ) {
                        text-align: left;
                    }
                }

                .product-remove{
                
                    a.remove {
                        width: auto;
                        height:auto;
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        border-radius: 0;
                        color:$link !important;
                        font-weight: 400;
                        text-align: right;

                        @media( max-width:$md ) {
                            text-align: left;
                        }

                        &:hover,
                        &:focus {
                            background-color: transparent !important;
                            color:$secondary !important;
                        }
                    }
                }
            }
        }
    }

    /* Row/Column - Vertical */
    .order-row-vertical {
        display: flex;
        flex-direction: column;

        &.order-row-myaccount {
            margin-bottom: 12px;
        
            .order-attr {
                font-size:$f17;
                letter-spacing: $ls17;
                margin-bottom: 5px;
            }

            .order-value {
                font-size: $h5;
                letter-spacing: $lsh5;
                text-align: left;
            }
        }

        .order-attr {
            font-weight: bold;
            margin-bottom:22px;
        }

        .order-value {
            text-align: right;
        }
    }

    /* Input Number */
    .inputqty-wrapper {        
        display: flex;
        align-items: center;

        .input-minus,
        .input-plus {
            width:22px;
            height:22px;
            position: relative;
            cursor: pointer;
            transition: $transition;
            border-radius: 50%;

            &:hover,
            &:focus {
                background-color: $link;

                &:before,
                &:after {
                    background-color: $white;
                }
            }
        }

        .input-minus:before,
        .input-plus:before,
        .input-plus:after {
            content:'';                
            background-color: $link;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            transition: $transition;            
        }

        .input-minus {

            &:before {                
                width:11px;
                height:1px;                
            }        
        }

        .input-plus {
        
            &:before {                
                width:11px;
                height:1px;
            }  

            &:after {                
                width:1px;
                height:11px;                
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            width:45px !important;
            font-family: $primary-font;
            font-size: $h5;
            letter-spacing: $lsh5;
            padding:9px 5px;
            -moz-appearance: textfield;
            border:none !important;
        }
    }

    /* Cart Total Sidebar - Attr/value */
    .carttotal-row {
        display: flex;
        gap:24px;
        width: 100%;
        margin-bottom: 16px;

        .carttotal-attr {
            font-weight: 700;
            width:96px;
        }

        .carttotal-value {
            text-align: right;
            flex:1;
        }
    }

    .carttotal-subtotal {

        .carttotal-value {
            font-size:$h4;
            letter-spacing: $lsh4;
            font-weight: 700;
        }
    }


    /* Cart Total Sidebar */
        /* Coupon */
            .coupon-label {
                font-size:$h6;
                letter-spacing: $lsh6;
                margin-bottom:10px;
                font-weight: 700;
            }

            .coupon {
                background-color: $white;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                margin:0 0 24px 0;

                &:before {
                    content:'';
                }

                & > label {
                    display: none;
                }

                #coupon_code {
                    flex:1;
                    font-family: $primary-font;
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    min-width: 200px;
                    border:none;
                }

                button.button {
                    background-color: transparent;
                    width:75px;
                    padding:0 22px 0 17px;
                    height:100%;
                    min-height:45px;
                    border-radius: 0;
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    font-weight: 400;
                    color:$link;
                    text-align: left;
                    transition: $transition;
                    border: none;

                    &:hover,
                    &:focus {
                        background-color: $link;
                        color:$white;

                        &:after {
                            background-color: $white;
                        }
                    }

                    &:after {
                        content:'';
                        -webkit-mask-image:url(../../img/blue-arrow.svg);
                        mask-image:url(../../img/blue-arrow.svg);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat; 
                        -webkit-mask-position:center;
                        mask-position: center;
                        -webkit-mask-size:6px 12px;
                        mask-size:6px 12px;            
                        background-color:$link;
                        position:absolute;
                        right:14px;
                        top:50%;
                        transform: translateY(-50%);
                        width:12px;
                        height:12px;
                        display: block;
                        transition: $transition;
                        margin-top:1px;
                    }
                }
            }            

        /* Total Box */
            .cartotal-total {
                background-color: $white;
                border-radius: $half-spacing;
                padding:12px 16px 24px 16px;
                margin:0 0 16px 0;

                .carttotal-row {
                    align-items: center;

                    .carttotal-attr {
                        font-size: $h4;
                        letter-spacing: $lsh4;
                    }

                    .carttotal-value {
                        font-size:$f30;
                        letter-spacing: $ls30;
                    }
                }
            }

        /* Or */
            .carttotal-or {
                text-align: center;
                font-weight: bold;
                margin:0 0 13px 0;
            }

        /* Express Checkout */
            .carttotal-expresscheckout {            
                background-color: $white;
                border-radius: $half-spacing;
                padding:23px 16px 24px 16px;
                margin:0 0 16px 0;

                .carttotal-expresscheckout-title {
                    text-align: center;
                    font-weight: bold;
                    font-size: $h6;
                    letter-spacing: $lsh6;
                    margin:0 0 16px 0;
                }

                .carttotal-expresscheckout-content {

                }
            }

        /* Payment Options */
            .carttotal-paymentoptions {
                margin:0 0 25px 0;
                text-align: center;
            }

        /* Continue Shopping */
            .carttotal-continueshopping {
                text-align: center;
            }

    /* Cart empty */
        .cart-empty {
            text-align: center;
            margin:0 0 $double-spacing 0;
        }

        .return-to-shop {
            text-align: center;
        }

/* Checkout */
    /* Wrapper */
        .checkout-wrapper {
            display: flex;
            margin:80px 0 0 0;
            gap:48px;
            font-size: $h5;
            letter-spacing: $lsh5;

            @media( max-width:$md ) {
                flex-direction: column;
            }
        
            .checkout-content {
                flex:1;
            
                .checkout-registereduser {
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    color:$secondarydark;
                    margin:0 0 49px 0;

                    .checkout-breadcrumb {
                        font-size: $f10;
                        letter-spacing: $ls10;
                    }
                }

                .checkout-expresscheckout-wrapper {
                    .checkout-expresscheckout-title {
                        text-align: center;
                        font-weight: 700;
                        margin:0 0 22px 0;
                    }

                    .checkout-expresscheckout {
                        margin:0 0 42px 0;
                        border:1px solid $hairline;
                        border-radius: $half-spacing;
                        padding:24px 32px;
                    }
                }

                .checkout-or-wrapper {
                    text-align: center;
                    font-weight: 700;
                    margin:0 0 54px 0;
                    position: relative;

                    &:before {
                        content:'';
                        width:100%;
                        height:1px;
                        background-color: $hairline;
                        display: block;
                        position: absolute;
                        top:50%;
                        transform: translateY(-50%);
                    }   

                    .checkout-or-inner {                        
                        display: inline-block;
                        background-color: $white;
                        padding:0 8px;     
                        z-index: 1;                            
                        position: relative;
                    }
                }
            }

            .checkout-sidebar {
                width:416px;

                 @media( max-width:$md ) {                
                    width:100%;                
                }

                .checkout-sidebar-inner {
                    width:100%;
                    background-color: $lightgray;
                    padding:28px $spacing 38px;
                    border-radius: $half-spacing;
                    font-size: $h5;
                    letter-spacing: $lsh5;                   

                    @media( max-width:$sm ) {
                        padding:28px $half-spacing 16px;
                    }

                    h3 {
                        font-weight: 700;
                        text-align: center;
                        margin-bottom:13px;
                    }
                }
            }
        }

    /* Section */
        .checkout-section {        
        
            .checkout-section-title {
                font-size: $h3;
                letter-spacing: $lsh3;
                font-weight: bold;
                border-bottom:4px solid $black;
                padding:0 0 4px 0;
                margin:0 0 8px 0;
            }

            .checkout-section-content {
            
            }
        }

        .thwcfd-field-heading {            
            border-bottom:4px solid $black;
            padding:0 0 4px 0;
            margin:0 0 32px 0 !important;
        
            h3 {
                padding:0 0 3px 0;     
                margin:0;           
                font-weight: bold;
            }
        }

    /* Billing */
        .woocommerce-billing-fields {

            #billing_phone_field {
                margin-bottom:63px;
            }   
        }

    /* Shipping */
        .woocommerce-shipping-fields {
            margin-bottom:48px;

            #ship-to-different-address {
                margin:0 0 15px 0;

                span {
                    font-size:$h6;
                    letter-spacing: $lsh6;
                }
            }
        }

    /* Delivery Method */
        #specified_time + .select2 {
            width:100% !important;
        }

        #additional_time_desc_field {
            font-size:$h6;
            letter-spacing: $lsh6;
        }
    
    /* Sidebar - Cart Link */
        
        
        .cart-return-link {
            text-align: right;
            margin:0 0 5px 0;

            a {
                padding-right:7px;

                &:after {
                    background-color: $link;
                }
            }
        }

    /* Sidebar - Order Table */
        .order-review {
            
            .order-row.cart_item {
                align-items: flex-start;
                padding:0 0 19px 0;
                margin:0 0 19px 0;
                border-bottom:1px solid $hairline;
                gap:15px;
            
                .order-column {

                    &.product-thumb {
                        width:48px;
                        height:48px;
                    }   

                    &.product-name {
                        flex:1;
                    
                        .product-quantity {
                            display: block;
                            font-size: $h6;
                            letter-spacing: $lsh6;
                            color:$secondarydark;
                            font-weight: 400;
                        }
                    }

                    &.product-total {
                    
                    }
                }
            }

            .carttotal-subtotal {
                margin:23px 0 16px 0;
            }

            .woocommerce-shipping-totals {
                margin-bottom: 18px;
            }

            .cartotal-total {
                margin:0;
                padding:12px 16px 12px 16px;

                .carttotal-row {
                    margin:0;
                }
            }
        }

    /* Sidebar - Coupon Code */
        .woocommerce .checkout-couponcode-wrapper {

            form.checkout_coupon {
                padding:0;
            }

            .woocommerce-form-coupon-toggle {
                display: none;
            }
        }

    /* Payment */
        .woocommerce-checkout #payment {
            background:transparent;

            ul.payment_methods {
                padding:0;
                border:none;

                li {
                    margin:0 0 16px 0;
                }
            }

            .place-order {
                margin:0;
                padding:0 !important;

                .woocommerce-privacy-policy-text {
                
                    p {
                        font-size: $h6;
                        letter-spacing: $lsh6;
                    }
                }

                #place_order {
                    float:none;
                    width:100%;
                    font-size: $f17;
                    letter-spacing: $ls17;
                    padding:15px 26px;
                }
            }
        }

/* My Account */
    /* Login */
        .woocommerce form.checkout_coupon, 
        .woocommerce form.login, 
        .woocommerce form.register,
        .woocommerce form.lost_reset_password {
            background-color: $lightgray;
            padding:$spacing $spacing 47px;
            border-radius: 16px;
            border:none;
            margin:0 0 $half-spacing 0;

            input[type=text],
            input[type=password] {
                border:none;
            }

            .login-row {
                margin-top:-4px;
                margin-bottom:39px;
            }

            .woocommerce-form-login__submit {
                float:none;
                margin:0;
            }
        }

        .login-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:$spacing;
            font-size: $h6;
            letter-spacing: $lsh6;

            .login-column {
            
            }
        }

        .registerlogin-action {
            text-align: center;

            button.button {
                padding:15px 26px;
            }
        }

        .register-card {
            background-color: $lightgray;
            padding:38px $spacing;
            border-radius: 16px;
            text-align: center;
            font-size: 21px;
            @include ls( 21px );
        }

    /* Dashboard */
        .myaccount-header {
            margin:112px 0 64px 0;

            @media( max-width:$sm ) {
                margin:56px 0 32px 0;
            }

            .myaccount-avatar {
                text-align: center;
                margin:0 0 21px 0;

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    width:56px;
                    height:56px;
                }
            }

            .entry-title {
                font-size:$h3;
                letter-spacing: $lsh3;
                margin:0 0 6px 0;
            }

            .myaccount-description {
                font-size:$h5;
                letter-spacing: $lsh5;
                text-align: left;
            }
        }

        .myaccount-wrapper {
        
            .myaccount-navigation {
            
                .woocommerce-MyAccount-navigation {
                    float:none;
                    width:100%;
                    margin:0 0 $spacing 0;
                
                    ul {
                        list-style-type: none;
                        display: flex;
                        justify-content: center;
                        gap:16px;
                        margin:0;

                        li {                
                            display: flex;           

                            &.is-active {

                                a {
                                    background-color: $black;
                                    color:$white;
                                    border-color:$black;
                                }
                            }

                            &:last-child {

                                a {
                                    padding:7px 10px 7px 0;
                                    border:none;
                                    color:$secondarydark;
                                    background-color: transparent;                                    
                                    position:relative;
                                    font-size: $h6;
                                    letter-spacing: $lsh6;

                                    &:hover,
                                    &:focus {
                                        color:$link;
                                        background-color: transparent;

                                        &:after {
                                            background-color: $link;
                                        }
                                    }

                                    &:after {
                                        content:'';
                                        -webkit-mask-image:url(../../img/black-arrow.svg);
                                        mask-image:url(../../img/black-arrow.svg);
                                        -webkit-mask-repeat: no-repeat;
                                        mask-repeat: no-repeat; 
                                        -webkit-mask-position:center;
                                        mask-position: center;
                                        -webkit-mask-size:5px 10px;
                                        mask-size:5px 10px;            
                                        background-color:$secondarydark;
                                        position:absolute;
                                        right:0;
                                        top:50%;
                                        transform: translateY(-50%);
                                        width:5px;
                                        height:10px;
                                        display: block;
                                        transition: $transition;
                                        margin-top:-1px;
                                    }
                                }
                            }                            

                            a {
                                padding:6px 15px;
                                border:1px solid $link;
                                background-color: $lightgray;
                                border-radius: $spacing;
                                color:$link;
                                font-size:$h5;
                                letter-spacing: $lsh5; 

                                &:hover,
                                &:focus {
                                    background-color: $black;
                                    color:$white;
                                    border-color:$black;
                                }
                            }
                        }
                    }
                }
            }

            .myaccount-content {

                .woocommerce-MyAccount-content {
                    float:none;
                    width: 100%;
                    background-color: $lightgray;
                    border-radius: 16px;
                    padding:22px $spacing 26px;

                    @media( max-width:$sm ) {
                        padding:22px $half-spacing 26px;
                    }
                }

                /* Order */
                .woocommerce-Addresses {
                    display: flex;
                    gap:$spacing;

                    @media( max-width:$sm ) {
                        flex-direction: column;
                        gap:$half-spacing;
                    }

                    address {
                        font-style: normal;
                        margin:0;

                        .edit {
                            display: block;
                        }
                    }
                }

                /* Edit Account */
                .myaccount-editaccount-title {
                    font-size: $f17;
                    letter-spacing: $ls17;
                    font-weight: bold;
                    margin:0 0 21px 0;
                }

                .woocommerce-EditAccountForm  {

                    input {
                        border:none;
                    }

                    button[type=submit] {
                    
                    }

                    & > p:last-child {
                        text-align: center;
                    }

                    .myaccount-editaccount-note {
                        font-size: $f10;
                        letter-spacing: $ls10;
                    }

                    .myaccount-editaccount-changepassword {
                        margin-top:29px;

                        legend {
                            font-weight: 700;
                        }
                    }

                    & > p:last-child {
                        margin-bottom: 14px;

                        button[type=submit] {
                            padding:15px 25px;
                        }
                    }
                }
            }
        }