@use "../components/" as *;

.frontpage-slider-wrapper {

    & > * {
        max-width: 100%;
        transform: none !important;

        & > * {
            max-width: 100%;
            transform: none !important;
        }
    }
}

.frontpage-content-wrapper {
    
} 

.n2-ss-slider-controls {    

    &.n2-ss-slider-controls-absolute-left-center {        
        left:0;
        width:50% !important;
    }

    &.n2-ss-slider-controls-absolute-right-center {        
        right:0;
        width: 50% !important;
    }
}