@use "../components/" as *;

/* Featured Image */
.featured-image-wrapper {
    position: relative;

    .featured-image {
        margin:0;
        max-width:100%;

        img {
            width:100%;
            height:475px;
            object-fit: cover;
            object-position: center;

            @media( max-width:$sm ) {
                height:300px;
            }
        }

        &:after {
            content:'';
            background-color: rgba(0,0,0,0.4);
            position: absolute;            
            width:100%;
            height:100%;
            top:0;
            left:0;
        }
    }

    .page-heading-wrapper {
        position: absolute;
        z-index: 2;
        width:$default-width;        
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media( max-width:$sm ) {
            width:$mobile-default-width;
        }

        h1 {
            font-weight: bold;
            color:$white;
        }
    }
}

/* Paging */
    .paging-numbered,
    .nav-links {
        text-align:center;	
        margin: 100px auto !important;
        display:flex;
        align-items:center;
        justify-content:center;

        .page-numbers {
            padding:8px;
            min-width:50px;
            height:50px;
            border:1px solid $black;
            margin-left:4px;	
            margin-right:4px;
            line-height:32px;
            text-decoration: none;            
            font-size: $h5;            

            &.current {
                background-color:$black;
                border:1px solid $black;
                color:$white;
                cursor:default;			
                transition:all 0.2s ease 0s;
            }

            svg {
                width:8px;
                
                path {
                    fill:$black !important;
                }
            }

            &.prev,
            &.next {
                padding:9px 8px 7px 8px;
            }

            &:hover {
                background-color:$link;
                border:1px solid $link;
                color:$white;	

                svg path {
                    fill:$white !important;
                }
            }
        }

        a {	            
            border:none;

            &:hover {
                text-decoration:none;	
            }
        }

        .nav-first,
        .nav-last,
        .nav-prev,
        .nav-next {
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .nav-first svg,
        .nav-last svg {
            width:14px;
        }

        .nav-prev svg,
        .nav-next svg {
            width:8px;
        }

        .nav-first:hover svg,
        .nav-last:hover svg,
        .nav-prev:hover svg,
        .nav-next:hover svg {
            fill:$white;		
        }
    }