@use "../components/" as *;

.single-post {

    .post {
        margin:0;
    }

    .entry-header {
        max-width:$default-width;
        padding-top:112px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:64px;

        @media( max-width:$sm ) {
            max-width: $mobile-default-width;
            padding-top:56px;
            margin-bottom:32px;
        }

        .entry-title {
            text-align: center;
            font-weight: bold;
        }

        .entry-meta {
            display: none;
        }
    }

    

    .comments-area {
        display: none;
    }

    .single-footer {
        background-color: $paleblue;
        padding:67px 0 112px;

        @media( max-width:$sm ) {
            padding:38px 0 81px;
        }
    }
}

.prevnextpost-wrapper {
    display: flex;
    gap:24px;   
    justify-content: center;

    @media( max-width:$sm ) {
        gap:32px;
    }

    @media( max-width:$sm ) {
        gap:12px;
    } 

    .prevnextpost {
        flex:1;
        display: flex;
        flex-direction: column;
        max-width: calc( ( 100% - 24px ) / 2 );

        @media( max-width:$md ) {            
            flex:0 0 calc( ( 100% - 32px ) / 2 );
        }

        @media( max-width:$sm ) {            
            max-width: calc( ( 100% - 12px ) / 2 );
        }

        .prevnextpost-navigation {

            a {
                &:hover,
                &:focus {

                    .prevpost-navigation,
                    .nextpost-navigation {
                        color:$link;
                    }
                }
            }

            .prevpost-navigation,
            .nextpost-navigation {
                font-size: $h3;
                letter-spacing: $lsh3;
                font-weight: bold;
                position: relative;
                padding-bottom:3px;
                margin-bottom:22px;
                color:$black;
                transition: $transition;

                @media( max-width:$sm ) {
                    font-size:$f17;
                    letter-spacing: $ls17;   
                    margin-bottom: 12px;
                }
            
                &:after {
                    content:'';
                    position:absolute;
                    top:50%;                    
                    transform: translateY(-50%);                    
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    -webkit-mask-position:center;
                    mask-position: center;
                    -webkit-mask-size:15px 27px;
                    mask-size:15px 27px;
                    width:15px;
                    height:27px;
                    background-color: $black;
                    transition: $transition;

                    @media( max-width:$sm ) {
                        -webkit-mask-size:9px 24px;
                        mask-size:9px 24px;
                        width:9px;
                        height:24px;
                    }
                }

                &:hover,
                &:focus {
                
                    &:after {
                        background-color: $link;
                    }
                }
            }
        
            .prevpost-navigation {      
                padding-right:21px;                      
                text-align: right;

                @media( max-width:$sm ) {
                    padding-right:17px;
                }

                &:after {
                    right:0;    
                    -webkit-mask-image:url(../../img/next-arrow.svg);
                    mask-image:url(../../img/next-arrow.svg);
                }
            }

            .nextpost-navigation {    
                padding-left:21px;       

                @media( max-width:$sm ) {
                    padding-left:17px;
                }     

                &:after {
                    left:0;
                    -webkit-mask-image:url(../../img/prev-arrow.svg);
                    mask-image:url(../../img/prev-arrow.svg);
                }
            }
        }        
    }
}

.post-card {
    background-color: $white;
    border-radius: $spacing;
    overflow: hidden;
    flex:1;            
    display: flex;
    flex-direction: column;

    @media( max-width:$md ) {
        border-radius: 24px;
    }

    .post-card-thumb {
        width:100%;
        /*height:284px;*/
        /*padding-bottom:61.8%;*/
        aspect-ratio:1.618/1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $black;

        /*@media( max-width:$sm ) {
            height:100px;
        }*/
    }

    .post-card-description {
        padding:20px $spacing 47px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex:1;

        @media( max-width:$md ) {
            padding:12px 22px 23px 22px;
        }

        @media( max-width:$sm ) {
            padding:6px 8px 16px 8px;
        }
    
        .post-card-title {                    
        
            h3 {
                font-weight: bold;
                text-align: center;

                @media( max-width:$md ) {
                    margin-bottom:12px;
                }

                @media( max-width:$sm ) {
                    font-size:$h6;
                    letter-spacing: $lsh6;   
                    text-align: left;
                    margin-bottom:2px;
                }
            }
        }

        .post-card-content,
        .post-card-content p {
            font-size:$h6;
            letter-spacing: $lsh6;   

            &:last-child {
                margin:0;
            }

            @media( max-width:$sm ) {
                font-size:$f10;
                letter-spacing: $ls10;   
            }
        }
    }
}