@use "../components/" as *;

.page-template-template-b2b {

    .wpt-bulk-select-wrap { 
        display: none; 
    }

    .select2-container .select2-selection--single {
        margin:0;
        border-color:transparent !important;
    }

    .wc-product-table-controls .wc-product-table-select-filters .select2-container, 
    .wc-product-table-controls .wc-product-table-select-filters select {
        margin:0;
        height: auto;
        margin-right: 0;

        @media( max-width:$xs ) {
            width:100% !important;
        }
    } 

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-top:-6px;
    }

    .select2-container--open .select2-dropdown--below {
        border-top:1px solid #aaa;
    }

    .wc-product-table .product .quantity {
        display: flex !important;
    }

    .wc-product-table-wrapper .wc-product-table-controls {
        background-color: $lightgray;
        padding:28px $half-spacing;
        border-radius: $half-spacing;
        gap:$half-spacing;
        justify-content: flex-end !important;
        margin:0 0 $spacing 0 !important; 

        &.wc-product-table-above, &.wc-product-table-below {

            .dataTables_info {
                display: none;   
            }

            .wc-product-table.dataTable {

            }
        }  

        &.wc-product-table-below {
            margin-top:$spacing !important;         

            @media( max-width:$sm ) {
                flex-direction: column;
            }   

            label {
                display: flex;
                align-items: center;
                gap:$small-spacing;
                font-size: $f14;                
            }

            .select2-container {
                height: auto;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                padding:4px 20px 4px 16px !important;
            }

            .dataTables_length {
                margin-top:0;
                margin-bottom: 0;

                @media( max-width:$sm ) {
                    margin:0 0 24px 0;
                }
            }

            .dataTables_info {
                
            }

            .dataTables_paginate.paging_numbers {
                margin-bottom: 0;
                margin-left: 0;
                margin-right:0;
            }

            .wc-product-table-multi-form {
                margin:0;

                @media( max-width:$sm ) {
                    margin-top: $half-spacing;
                }
            }
        }

        .wc-product-table-select-filters {
            width:100%;
            display: flex;
            align-items: center;
            gap:$half-spacing;
            margin:0;

            @media( max-width:$xs ) {
                flex-direction: column;
                align-items: flex-start;
            }

            .wc-product-table-reset {
                margin:0;
                top:0;
                font-size: $f14;
                letter-spacing: $ls14;

                @media( max-width:$xs ) {
                    width:100%;
                    text-align: right;
                }
            }
        }

        .dataTables_filter {
            width: 100%;
            margin:0;
            text-align: left;

            label {                
                font-size: $f14;
                letter-spacing: $ls14;
                font-weight:bold;
                width: 100%;
                display: flex;
                flex-direction: column;                

                input[type="search"] {                    
                    color:$black;
                    background-color: $white;        
                    border:1px solid transparent;
                    padding:11px 16px;
                    border-radius: 10px;
                    height: auto;
                    box-shadow: none;
                    flex:1;
                    font-size: $f14;                    
                    margin:0;
                    transition: $transition;

                    &:hover,
                    &:focus {
                        background-color:$white !important;
                        color:$black;
                        border-color:transparent;    
                    }

                    &:focus,
                    &:focus-visible {
                        border-color:transparent;
                        outline: none;
                    }
                }
            }
        }

        .dataTables_info {
            margin:0;   
            font-size: $f14;
            letter-spacing: $ls14;
            color:$secondarydark;
        }

        .wc-product-table-multi-form {
            margin-bottom: 0;
            margin-right:0 !important;
            margin-left: $half-spacing;
        }
    }    

    .wc-product-table {
    
        thead {
        
            th {
            
                .wpt-multi-checkbox {
                    display: none;
                }
            }
        }

        tbody {
        
            td {

                &.col-name,
                &.col-sku {
                    @include font( $f14, $lh );
                    letter-spacing: 0;
                }

                &.col-price {

                    .woocommerce-price-suffix {
                        margin-left:0;
                    }   
                }
            
                &.col-add-to-cart {
                
                    form.cart {
                    
                        .add-to-cart-button {
                        
                            .quantity {
                            
                                .qty-label {
                                    display: none;
                                }
                            }

                            .minus-btn,
                            .plus-btn {
                                width:32px;
                                height:32px;

                                &:before {
                                    top:0;
                                    left:0;
                                }

                                &:after {
                                    width:32px;
                                    height:32px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .multi-cart {
        
            .multi-cart-check {
            
                .wpt-multi-checkbox {
                    top:2px;
                
                    &:after {
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        margin-left: 1px;
                    }
                }
            } 
        }
    }    

    .wc-product-table .add-to-cart-wrapper {
        
        a.button {
            font-size:0 !important;
            background-color: transparent;
            border:none;
            padding:0 !important;
            border-radius: 0;

            &:after {
                content:'在庫切れ';
                color:red;
                font-size:$f17;    
                line-height: $lh;
                letter-spacing: $ls17;
            }
        }
    }
}

.highlight-outofstock {
    color:#f00;
}