@use "../components/" as *;

body.page-template-template-stores {
    background-color: $lightgray;

    .blog-category-wrapper {
        margin-bottom: 64px;

        @media( max-width:$sm ) {
            margin-bottom: 40px;
        }
    }
}

.store-location-wrapper {
    background-color: $white;
    border-radius: $border-radius;
    padding:$double-spacing $spacing 56px;
    margin-bottom:106px !important;

    @media( max-width:$sm ) {
        border-radius: 0;        
        max-width: 100% !important;         
        padding:40px $half-spacing 24px;
        margin-bottom:76px !important;
    }

    .slim-container {
        display: flex;
        flex-wrap: wrap;
        column-gap:24px;
        row-gap:21px;

        @media( max-width:$md ) {
            gap:16px;
            row-gap:25px;
        }

        @media( max-width:$sm ) {
            gap:0;
        }

        .store-location {
            width:calc( 50% - 12px );

            @media( max-width:$md ) {
                width:calc( 50% - 8px );
            }

            @media( max-width:$sm ) {
                width:100%;
                margin-bottom: 16px;

                &.active {

                    .store-location-title:after {
                        transform: translateY(-50%) rotate(270deg);
                    }
                }
            }

            .store-location-title {
                background-color: $lightgray;
                padding:12px 32px;
                border-radius: 32px;
                font-size: $f17;
                letter-spacing: $ls17;
                font-weight: bold;
                margin: 0 0 23px 0;
                position: relative;

                @media( max-width:$sm ) {
                    font-size:$f10;
                    letter-spacing: $ls10;
                    padding:12px 24px;
                    margin:0;
                    cursor: pointer;                    
                    transition: $transition;

                    &:hover,
                    &:focus {
                        background-color: #eee;
                    }

                    &:after {
                        content:'';
                        -webkit-mask-image:url(../../img/blue-arrow.svg);
                        mask-image:url(../../img/blue-arrow.svg);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat; 
                        -webkit-mask-position:center;
                        mask-position: center;
                        -webkit-mask-size:6px 12px;
                        mask-size:6px 12px;            
                        background-color:$link;
                        position:absolute;
                        right:10px;
                        top:50%;
                        transform: translateY(-50%) rotate(90deg);
                        width:12px;
                        height:12px;
                        display: block;
                        transition: $transition;
                    }
                }
            }

            .store-location-list {
                padding:0 0 0 32px;
                font-size: $h5;
                line-height: 21px;
                letter-spacing: $lsh5;

                @media( max-width:$sm ) {
                    padding:24px 24px 0px;
                    display: none;
                }

                .store-list {
                    cursor: pointer;
                    transition: $transition;
                    margin:0 0 9px 0;

                    &:hover,
                    &:focus {
                        color:$link;
                    }

                    @media( max-width:$sm ) {
                        margin:0 0 24px 0;
                    }
                }
            }
        }
    }
}

.store-location-detail-wrapper {
    margin-bottom: 188px !important;

    @media( max-width:$sm ) {
        margin-bottom: 80px !important;
    }
    
    .store-location-detail {
    
        .store-location-detail-title {
            text-align: center;

            h2 {
                font-weight: bold;
                margin-bottom: 27px;

                @media( max-width:$sm ) {
                    font-size: $h3;
                    letter-spacing: $lsh3;
                    margin-bottom: 21px;
                }
            }            
        }

        .store-location-detail-list {
            margin:0 0 76px 0;

            @media( max-width:$md ) {
                display: flex;
                flex-wrap: wrap;
                gap:32px;
            }

            @media( max-width:$sm ) {
                gap:12px;
            }
        
            .store-detail {
                display: flex;
                background-color: $white;
                border-radius: $border-radius;
                margin:0 0 32px 0;
                overflow: hidden;

                @media( max-width:$md ) {
                    width:calc( 50% - 16px );
                    flex-direction: column;
                    margin:0;
                }

                @media( max-width:$sm ) {
                    width:calc( 50% - 6px );
                }
                
                .store-detail-photo {
                    min-height: 284px;
                    height:100%;
                    flex:1;
                    background-position: right bottom;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @media( max-width:$md ) {
                        height:auto;
                        min-height: 102px;
                        width:100%;
                        aspect-ratio:1.618/1;
                        flex:initial;
                    }
                }

                .store-detail-content {
                    padding:31px 24px 24px;
                    font-size: $h6;
                    letter-spacing: $lsh6;
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media( max-width:$md ) {
                        padding:20px 24px 24px;
                    }

                    @media( max-width:$sm ) {
                        font-size: $f10;
                        letter-spacing: $ls10;
                        padding:14px $half-spacing 26px;
                    }

                    .store-detail-content-top {

                        a {
                            color:$black;

                            &:hover,
                            &:focus {
                                color:$link;
                            }
                        }

                        .store-detail-title {

                            h5 {
                                font-weight: bold;
                                margin-bottom: 12px;

                                @media( max-width:$sm ) {
                                    font-size: $h6;
                                    letter-spacing: $lsh6;
                                    margin-bottom: 6px;
                                }
                            }
                        }

                        .store-detail-row {
                            display: flex;

                            .store-detail-attr {
                                margin-right: 4px;
                                flex-shrink: 0;
                            }

                            .store-detail-value {
                        
                            }
                        }

                        .store-detail-product-handled {
                            margin-bottom: 13px;

                            @media( max-width:$sm ) {
                                flex-direction: column;
                                margin-bottom: 10px;

                                .store-detail-attr {
                                    margin-right:0;
                                }
                            }

                            .store-detail-attr {
                                margin-right: 7px;
                            }
                        }

                        .store-detail-address {
                        
                            @media( max-width:$md ) {
                                margin:0 0 5px 0;
                            }
                        }

                        .store-detail-contact {
                            display: flex;
                            gap:24px;
                            margin-bottom: 13px;

                            @media( max-width:$md ) {
                                flex-direction: column;
                                gap:0;
                            }

                            .store-detail-phone {
                            
                            }

                            .store-detail-open {
                            
                            }
                        }

                        .store-detail-others {
                            margin-bottom: 13px;
                        }
                    }

                    .store-detail-content-bottom {

                        .store-detail-action {

                            @media( max-width:$md ) {
                                max-width:200px;
                            }

                            @media( max-width:$sm ) {
                                max-width:150px;
                            }
                        }

                        a {
                            font-size: $h5;
                            letter-spacing: $lsh5;
                            margin:0 12px 5px 0;
                            display: inline-block;

                            &:last-child {
                                margin-right:0;
                            }

                            @media( max-width:$md ) {
                                margin:0 19px 5px 0;
                            }

                            @media( max-width:$sm ) {
                                font-size: $f10;
                                letter-spacing: $ls10;
                                margin:0 9px 5px 0;
                            }

                            &.toTop {

                                &:hover,
                                &:focus {
                                
                                    &:after {
                                        background-color: $secondary;
                                    }
                                }
                            
                                &:after {
                                    background-color: $link;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.toTop {
    position: relative;
    padding:0 13px 0 0;

    &:after {
        content:'';
        -webkit-mask-image:url(../../img/top.svg);
        mask-image:url(../../img/top.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 
        -webkit-mask-position:center;
        mask-position: center;
        -webkit-mask-size:14px 21px;
        mask-size:14px 21px;
        background-color:inherit;
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        width:8px;
        height:16px;
        display: block;
        transition: $transition;
    }
}