@use "../components/" as *;

.page-template-template-compare,
.page-template-template-collection,
.page-template-template-sofa-top {    

    .content-area {
    
        & > .entry-header {

            .page-heading-wrapper .entry-container .entry-title {
                margin-bottom:16px;
                display: none;
                font-size: $h2;
                letter-spacing: $lsh2;                

                @media( max-width:$sm ) {
                    font-size: $h3;
                    letter-spacing: $lsh3;
                }

                &.active {
                    display: block;
                }
            }
        }

        & > .entry-content {

            .blog-category-wrapper {
                margin-top:56px;
                margin-bottom:56px;
            }
        }
    }

    &.white-bg {

        .blog-category-wrapper {

            .blog-category-inner {
                background-color: $lightgray;
            }
        }
    }

    .directsale-block-wrapper   {

        .directsale-block-price {
            margin:0;
        }
    
        .directsale-block-action {
            display: none;
        }

        /*
        &.disabled {                                                    
            cursor:default;
            filter:none;
            opacity:0.9;
            overflow:hidden;
            position: relative;
            pointer-events: none;
            opacity:0.5;
        
            &:after {
                content:' 在庫切れ';
                color:#f9423a;                            
                position:absolute;
                top:4px;
                right:4px;
                padding:2px 5px;
                border-radius: 10px;
                background-color: #f9423a;
                color:$white;
                font-size: 10px;
                letter-spacing: .8px;
                line-height: 15px;
            }                                               
        }
        */
    }

    .blog-category-wrapper {

        .blog-category-inner {

            @media( max-width:$sm ) {                
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            
            
        }
    }
}

.wp-block-columns.column-compare-size {

    .wp-block-column {
        display: flex;
        flex-direction: column;

        & > .wp-block-group {
            flex:1;
            /*display: flex;
            flex-direction: column;
            justify-content: space-between;*/
        }

        & > p {
            margin-bottom:5px !important;
        }

        & > h3 {
            line-height: 32px;
            margin-bottom:0 !important;

            & + p {
                margin-bottom:14px !important;
            }
        }

        & > .wp-block-image:not(:first-child) {
            margin-bottom:7px !important;
        
            figure {
                display: flex;
                justify-content: center;
            }
        }

        .compare-price {
            margin-top:14px;
            margin-bottom:21px !important;
        }

        & > .wp-block-buttons {
            margin-bottom:13px !important;
        }
    } 

    &:not(.is-not-stacked-on-mobile) {

        @media( max-width:$md ) {
            max-width:464px;
            margin-left:auto;
            margin-right:auto;
            column-gap:16px;
            row-gap:26px;
        }
    
        .wp-block-column {

            @media( max-width:$md ) {
                flex-basis:calc( 50% - 8px ) !important;
            }    
        }
    }
}

.compare-content-wrapper {

    .compare-content {
    
        &:not(:first-child) {
            display: none;
        }
    }
}

/* Compare Pet Page / Dog Finder */
    .choices {
        width:100%;
        max-width: 311px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 24px !important;

        &:after {
            content:url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 22.5L14 22.5' stroke='%23888888'/%3E%3Cpath d='M22 30.5L22 14.5' stroke='%23888888'/%3E%3C/svg%3E%0A") !important;
            border:none !important;
            top:50% !important;
            right:0 !important;
            margin-top:0 !important;
            transform:translateY(-50%);
            width:44px !important;
            height:44px !important;
            transition:$transition;
        }

        &:hover,
        &:focus,
        &.is-focused {
        
            &:after {
                content:url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 22.5L14 22.5' stroke='%230066cc'/%3E%3Cpath d='M22 30.5L22 14.5' stroke='%230066cc'/%3E%3C/svg%3E%0A") !important;
            }
        }

        &.is-open,
        &.is-focused {
        
            .choices__inner {
                border-color:$link;
            }
        }

        &.is-open {
        
            .choices__inner {
                border-radius: 12px 12px 0 0;
            }

            .choices__list--dropdown {
                border-color:$link;
            }
        }        

        .choices__inner {
            border:2px solid $link;
            border-radius: 12px;
            background-color: $white;
            padding:0 !important;
            min-height: 0;

            .choices__list--single {
                padding:14px 36px 14px 14px;
            }
        }

        .choices__list--dropdown {
            margin-top:-2px;
            border-radius:0 0 12px 12px;
            border:2px solid $link;
            border-top-color:$hairline;

            .choices__input {
                display: none !important;
            }
        }

        & + #dogfinder {
           width:100%;
            max-width:624px;
            margin-left:auto;
            margin-right: auto;
            background-color: #f8f8f8;
            border-radius:24px;
            border:none;
        }
    }

    

    #dogfinder.dog-small svg .dog-small, 
    #dogfinder.dog-medium svg .dog-medium, 
    #dogfinder.dog-large svg .dog-large,
    #dogfinder.dog-xxlarge svg .dog-xxl {
        fill:#000; 
    }