@use "../components/" as *;

.admin-bar {

    .selected-product-topbar {
        top:96px;

        @media( max-width:$md ) {
            top:84px;
        }

        @media( max-width:$sml ) {
            top:98px;
        }
    }
}

.selected-product-topbar {    
    font-size:$h4;
    letter-spacing: $lsh4;
    font-weight: 700;
    padding:6px 0 13px 0;
    background-color: $white;
    position: sticky;
    top:64px;
    z-index: 10000;

    @media( max-width:$md ) {
        top:52px;
    }

    @media( max-width:$sm ) {
        padding:12px 0;
    }

    .container {
        display: flex;            
        gap:$spacing;
        justify-content: space-between;
        padding:16px 0;

        @media( max-width:$sm ) {
            gap:16px;
        }

        @media( max-width:$sm ) {
            padding:12px 0;
        }

        .selected-product-topbar-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;            
            gap:32px;
            flex:1;

            @media( max-width:$sm ) {
                gap:16px;
            }

            img {
                height:100px;
                width:100px;
                object-fit: contain;
                object-position: center;

                @media( max-width:$sm ) {
                    height:60px;
                    width:60px;
                }
            }

            .selected-product-topbar-description {
            
                .selected-product-topbar-title {
                    font-size: $f17;
                    letter-spacing: $ls17;
                    font-weight: 700;
                }

                .selected-product-topbar-selectedproduct {
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    font-weight: 700; 
                }

                .selected-product-topbar-variation {
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    display: none;
                }
            }
        }

        .selected-product-topbar-right {                
            display: flex;
            align-items: center;
            justify-content: center;                        

            .selected-product-topbar-addtocart {
            
                a.button {
                    font-size: $f17;
                    letter-spacing: $ls17;
                    padding:9px 21px;

                    @media( max-width:$sm ) {
                        font-size: $h6;
                        letter-spacing: $lsh6;
                        padding:11px 16px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

.page-template-template-offers {
    background-color: $lightgray !important;
    
    .single_variation_wrap .price {
        display: none;
    }

    .tawcvs-swatches[data-attribute_name="attribute_pa_color"] {

        .swatch.selected, .swatch:hover {
            &:before {
                content: "";
                border: 2px solid #06c !important;
                border-radius: 100px;
                position: absolute;
                width: 22px;
                height: 22px;
                top: 0;
                left: 0;
            }

            .swatch-image {
                width: 14px !important;
                height: 14px !important;
                margin-top: 4px;
                margin-left: 4px;
            }
        }
    }

    .variations {

        .variation-wrap.pa_cover-selection {    
        
            .variation-label {
            
                .info-link {
                    display: none;
                }
            }

            .variation-value {
            
                .tawcvs-swatches[data-attribute_name="attribute_pa_cover-selection"] {
                    gap:16px;
                    flex-direction: row;

                    .swatch {
                        padding:5px;
                        width:calc((100% - 48px)/4);

                        &.selected,
                        &:hover {
                            padding:4px;
                        }

                        .swatch-image {
                            flex:1;
                            height:57px;
                        
                            img {
                                border-radius: 6px;
                                width:100%;
                                height:57px;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        .swatch-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }    

    .page-heading-wrapper {
        padding:50px 0;
    
        h1 {
            font-size: $h2;
            letter-spacing:$lsh2;
            font-weight: 700;
            text-align:center;

            @media( max-width:$sm ) {
                font-size:$h4;
                letter-spacing: $lsh4;
                max-width: min(100vw - 7px,944px);
            } 
        }
    }

    .entry-content {
        margin-bottom: 188px !important;

        @media( max-width:$sm ) {
            margin-bottom:80px !important;
        }
    }

    .related.products {
        max-width: $wooarchive-width !important;

        @media( max-width:$sm ) {
            max-width: $mobile-wooarchive-width !important;
        }
    
        &.offers-wrapper {
            padding:0;

            .added_to_cart {
                display: none;
            }

            .card {
                background-color: transparent;
                border-radius: 0;
                padding:0;
            
                ul.products {
                    gap:16px;
                    max-width: 100%;

                    li.product {                            
                        width:calc( ( 100% - 32px ) / 3);
                        background-color: $white;
                        border-radius: 24px;
                        padding:22px 16px 40px;
                        
                        @media( max-width:$md ) {
                            width:calc( ( 100% - 16px ) / 2 );
                        }

                        @media( max-width:$sm ) {
                            width:100%;
                        }

                        .offer-tagline {
                            text-align: center;
                            font-weight: bold;
                            margin-bottom: 21px;
                            min-height: 60px;
                            font-size: $h3;
                            letter-spacing: $lsh3;

                            @media( max-width:$sm ) {
                                font-size: $h4;
                                letter-spacing: $lsh4;
                            }
                        }

                        .woocommerce-LoopProduct-link {
                            margin-bottom:0;

                            .woocommerce-loop-product__title {
                                padding:16px 0 0 0;
                                margin:0 0 16px 0;
                                font-size: $h4;
                            }    

                            img {
                                max-height: 180px;
                                object-fit: contain;
                                object-position: center;
                            }                        
                        }

                        .jdgm-widget {
                            display: none !important;
                        }

                        .price {
                            color:$black;
                            font-size: $h4;
                            letter-spacing: $lsh5;    
                            margin-bottom: 24px;                            
                        }

                        .offer-shortdescription-wrapper {
                            font-size: $h5;
                            letter-spacing: $lsh5;   
                            margin-bottom:$spacing;  
                            position: relative;                       

                            p {
                                font-size: $h5;
                                letter-spacing: $lsh5;
                            }
                        }

                        .swatch-align-left {
                        
                            .variations_form {

                                .variations {
                                    padding:0 8px;
                                
                                    .variation-wrap:not(.pa_color) {
                                        display: block !important;
                                    }

                                    .variation-wrap {
                                        margin-bottom: $spacing;

                                        &.pa_filling {
                                        
                                            .info-link {
                                                display: none;
                                            }
                                        }

                                        .variation-label {
                                    
                                            label {
                                                font-size: $h5;
                                                letter-spacing: $lsh5;
                                                justify-content: center;
                                                margin-bottom: $half-spacing;
                                            }

                                            .pa_color_variation_label {
                                                display: block;
                                                font-size: $h5;
                                                letter-spacing: $lsh5;
                                                justify-content: center;
                                                margin-bottom: $half-spacing;
                                                font-weight: 700;

                                                .info-link {
                                                    display: none;
                                                }
                                            }
                                        }

                                        .variation-value {
                                            text-align: center;

                                            select {
                                                border:1px solid $link;
                                                color:$link;
                                                font-size: $h5;
                                                letter-spacing: $lsh6;
                                                width:auto;
                                                background-size: 8px auto;
                                                padding: 10px 32px 10px 32px;
                                                background-image: url(../../img/down-arrow-link.svg);
                                            }
                                            .variation-selector {
                                                display: block !important;
                                                visibility: visible !important;
                                                margin-top: -20px;

                                                select {
                                                    display: none;
                                                }

                                                .variation-label-sync {
                                                    background-image: none;
                                                    font-size: $h6;
                                                    color: #000;
                                                    text-align: center;
                                                    border:0px;
                                                    padding: 10px 32px 0px 32px;
                                                }
                                            }

                                            .tawcvs-swatches {
                                                margin-top: 22px !important;
                                                display: flex;
                                                gap:16px;
                                                flex-wrap: wrap;       
                                                
                                                .swatch {
                                                    &.selected {
                                                        pointer-events: none;
                                                    }
                                                }

                                                &.swatches-circle {                                                    

                                                    .swatch-item-wrapper {
                                                        width:calc( ( 100% - 16px ) / 2 );

                                                        &:only-child {
                                                            margin-left:auto;
                                                            margin-right:auto;
                                                        }

                                                        &:last-child {
                                                        
                                                            .swatch-shape-circle {
                                                                padding:16px 3px;

                                                                &:hover,
                                                                &:focus,
                                                                &.selected {
                                                                    padding:15px 2px;
                                                                }

                                                                span {
                                                                    text-align: center;
                                                                }
                                                            }
                                                        }

                                                        .swatch-shape-circle {
                                                            border:1px solid $secondary;
                                                            padding:16px 15px;
                                                            transition: border-color .2s ease 0s;
                                                            border-radius: 12px;
                                                            margin:0;

                                                            &:before {
                                                                display: none;
                                                            }

                                                            &:hover,
                                                            &:focus,
                                                            &.selected {
                                                                border:2px solid $link;
                                                                padding:15px 14px;
                                                            }

                                                            span {
                                                                width: 100%;
                                                            }
                                                        }
                                                    }

                                                    /*.swatch-item-wrapper {                                                        

                                                        .swatch {
                                                            font-size: 0;

                                                            &:hover {
                                                            
                                                                &:before {
                                                                    border:none !important;
                                                                    position:static;
                                                                    width:auto;
                                                                    height:auto; 
                                                                }
                                                            }
                                                        
                                                            span.text {
                                                            
                                                                &:before {
                                                                    font-size: $h5;
                                                                    letter-spacing: $lsh5;
                                                                }
                                                            }
                                                        }   

                                                        &:nth-child(1) .swatch span.text:before { content: 'S'; } 
                                                        &:nth-child(2) .swatch span.text:before { content: 'M'; } 
                                                        &:nth-child(3) .swatch span.text:before { content: 'L'; } 
                                                        &:nth-child(4) .swatch span.text:before { content: 'XXL'; } 
                                                    }*/                                          
                                                }

                                                /*&[data-attribute_name="attribute_pa_color"] {

                                                    
                                                }*/

                                                
                                                &[data-attribute_name="attribute_pa_shampoo"] {                                                    

                                                    .swatch-item-wrapper {
                                                        width:calc( ( 100% - 16px ) / 2 );                                                        

                                                        .swatch {
                                                            text-align: center;
                                                            /*border-radius: 4px;  
                                                            border:2px solid $secondary;                                             

                                                            &:hover,
                                                            &:focus,
                                                            &.selected {
                                                                border:2px solid $link;
                                                            }*/
                                                        }
                                                    }
                                                }

                                                &[data-attribute_name="attribute_pa_filling"] {
                                                    display: flex;
                                                    flex-direction: column;
                                                    flex-wrap: wrap;
                                                    gap:6px;

                                                    .swatch {
                                                        display: flex;
                                                        gap:19px;
                                                        align-items: center;
                                                        padding:14px 21px 10px;
                                                        border:1px solid $secondary;
                                                        border-radius: 12px;
                                                        transition: border-color .2s ease 0s;

                                                        &:before {
                                                            display: none !important;
                                                        }
                                                    
                                                        &:hover,
                                                        &:focus,
                                                        &.selected {
                                                            padding:13px 20px 9px;                                                            
                                                            border:2px solid $link;
                                                        }

                                                        .swatch-image {
                                                            width:110px !important;
                                                            flex:0 0 110px !important;
                                                            height:53px !important;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            margin:0;

                                                            img {
                                                                width:110px;
                                                                height:53px;
                                                                display: block;
                                                                object-position: left;
                                                                object-fit: contain;
                                                                border-radius:0;
                                                            }
                                                        }

                                                        .swatch-text {
                                                        
                                                            .swatch-label {
                                                                margin:0 0 1px 0;
                                                            }

                                                            .swatch-description {
                                                                font-size:$f10;
                                                                line-height:15px;
                                                                color:$secondarydark;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            
                                .single_variation_wrap {
                                
                                    .woocommerce-variation.single_variation {
                                        display:flex !important;
                                        margin-bottom: 24px;
                                        padding: 14px 21px 10px 21px;
                                    }

                                    .woocommerce-variation-add-to-cart {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.offer-addtocart-wrapper {
    display: flex;
    justify-content: center;

    .offer-confirm-addtocart {
        &:disabled {
            cursor: default;
            border-color: $hairline;
            background-color: $hairline;
            color: $secondarydark;
        }
    }
}