@use "../abstracts" as *;

html {

    .editor-styles-wrapper  {	
        font-family: $primary-font;
        font-size:$f17;    
        line-height: $lh;
        letter-spacing: $ls;
        color:$black;

        h1,
        .has-h-1-font-size {
            font-size: $h1;
        }

        h2,
        .has-h-2-font-size {
            font-size: $h2;
        }

        h3,
        .has-h-3-font-size {
            font-size: $h3;
        }

        h4,
        .has-h-4-font-size {
            font-size: $h4;
        }

        h5,
        .has-h-5-font-size {
            font-size: $h5;
        }

        h6,
        .has-h-6-font-size {
            font-size: $h6;
        }
    }
}