@use "../abstracts/global" as *;
@use "../abstracts/mixins" as *;

/* Columns */
    .wp-block-columns.is-style-slim {
        max-width:$slim-width;
        margin-left:auto;
        margin-right:auto;
    }

/* Image */
    .wp-block-image {
    
        img {
            border-radius: $border-radius;
        }
    }

/* Cover */
    /*.wp-block-cover {
    
        .wp-block-cover__inner-container {
            color:inherit;

            a {
                

                &:hover,
                &:focus {
                    color:$primary-color;
                }
            }

            p {
                label {
                    color:$background-color;
                }
            }
            
            & > :not(.entry-content) {
                &:not(.alignwide) {
                    &:not(.alignfull) {
                        &:not(.alignleft) {
                            &:not(.alignright) {
                                &:not(.wp-block-separator) {
                                    &:not(.entry-attachment) {
                                        &:not(.woocommerce) {
                                            max-width: $default-width;
                                            margin-left: auto;
                                            margin-right: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }*/

/* Buttons */
   /*.wp-block-buttons {
    gap:$spacing !important;

    .wp-block-button {
        
        // Fill Button
        .wp-block-button__link {
            border-radius: 0px;
            transition:border .1s ease-in-out, color .1s ease-in-out,background-color .1s ease-in-out;
            padding:14px $spacing;
            
            &:not(.has-background) {
                border-color:$primary-color;
                border-width: 1px;
                border-style: solid;
                background-color:$primary-color;
                color:$background-color;
            
                &:hover {
                    border-color:$primary-color-hover;
                    background-color:$primary-color-hover;                
                }
                
                // Button inside Block Cover
                .wp-block-cover__inner-container & {
                    border-color:$background-color;
                    background-color:$background-color;
                    color:$foreground-color;
                    padding:14px $triple-spacing;
                
                    &:hover {
                        border-color:$primary-color-hover;
                        background-color:$primary-color-hover;   
                        color:$background-color;             
                    }

                    @media( max-width: $sm ) {
                        padding:14px $double-spacing;
                    }

                    @media( max-width: $xs ) {
                        padding:14px $spacing;
                    }
                }
            }
        }                

        // Outline Button
        &.is-style-outline {

            .wp-block-button__link {
                border-radius: 10px;
                transition:border .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out;
                padding:14px $spacing;

                &:not(.has-background) {
                    border:1px solid $primary-color;
                    background-color:transparent;
                    color:$primary-color;
                
                    &:hover {                        
                        background-color:$primary-color;                
                        color:$background-color;
                    }
                }

                // Button inside Block Cover
                .wp-block-cover__inner-container & {                    

                    &:not(.has-background) {
                        border:1px solid $background-color;
                        background-color:transparent;
                        color:$background-color;
                        padding:14px $triple-spacing;
                    
                        &:hover {                        
                            background-color:$background-color;   
                            color:$foreground-color;     
                        }

                        @media( max-width: $sm ) {
                            padding:14px $double-spacing;
                        }

                        @media( max-width: $xs ) {
                            padding:14px $spacing;
                        }
                    }
                }
            }            
        }
    }

    // Button wrapper inside Block Cover
    .wp-block-cover__inner-container & {  
        gap:$double-spacing !important;
    }    
}*/

/* Columns */
    /*.wp-block-columns {
        margin-bottom: $spacing;

        @media( max-width:$sml ) {
            margin-bottom: 0; 
        }
    }*/
