@use "../abstracts/global" as *;
@use "../abstracts/mixins" as *;

/* Single Faculty - Content */
.dynamic-content-template {

    &.faculty {
        margin-top:$double-spacing;    
    }
}

.block-single-faculty {      
    margin-bottom:$double-spacing;

    @media( max-width:$md ) {
        flex-direction: column;
    }

    .faculty-sidebar {

        @media( max-width:$md ) {
            margin-bottom:$double-spacing;
        }

        h4 {
            font-family: $primary-font !important;
            font-weight: bold;
            display:none;

            @media( max-width:$md ) {
                display:block;
                @include h5;
            }
        }

        h2, h3 {
            @include h5;
            font-family: $primary-font !important;
            font-weight: bold;
            margin:0 0 10px 0;

            @media( max-width:$md ) {
                margin:0;
            }
        }

        .gutentor-post-module {
            margin-bottom:$double-spacing;

            @media( max-width:$md ) {
                column-count: 3;
            }

            @media( max-width:$xs ) {
                column-count: 2;
            }

            @media( max-width:450px ) {
                column-count: 1;
            }

            a {
            
                &:hover,
                &:focus {
                    color:$primary-color;
                }
            }
        }
    }

    & > .wp-block-column:last-child {
        background-color: $background-color;

        @media( max-width:$md ) {
            margin-bottom:$spacing;                    
        }

        @media( max-width:$xs ) {
            margin-top:$triple-spacing;
        }

        .staff-box {
            gap:$spacing !important;
            background-color: $primary-color;
            color:$background-color;
            padding:$spacing;
            border-bottom:5px solid #62101c;

            @media( max-width:$md ) {
                margin-bottom:$spacing;
            }

            @media( max-width:$xs ) {
                text-align: center;
            }

            & > .wp-block-column:first-child {
                flex-basis:120px !important;

                @media( max-width:$md ) {
                    flex-grow:0;
                }

                @media( max-width:$xs ) {
                    flex-grow:1;
                    flex-basis:100% !important;
                    text-align: center;
                }

                img {
                    width:100%;

                    @media( max-width:$xs ) {
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        border-radius: 50%;
                        object-position: center top;
                        margin-top:-100px;
                    }
                }
            }

            & > .wp-block-column:last-child {
                flex:1 !important;                

                p {
                
                    &.gb-headline-text {
                        @include h6;
                        color:#f4f4f4;
                    }
                }
            }
        }

        .dynamic-entry-content {
            padding:0 $spacing $spacing $spacing;
        }
    }
}

/* Block - Latest News */
.gutentor-blog-post-wrapper.latest-news {

    .grid-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc( -1 * $spacing );
        margin-left: calc( -1 * $spacing );

        .blog-list {
            width:50%;
            padding:0 $spacing;

            @media( max-width:$sm ) {
                width:100%;
            }

            &:not(:last-child) {
                margin: 0 0 $double-spacing 0;
            }   

            .gutentor-single-item {
                display:flex;
                margin:0 calc( -1 * $spacing );

                @media( max-width:$md ) {
                    flex-direction: column;
                    margin:0 calc( -0.5 * $spacing );
                }

                .gutentor-single-item-image-box {
                    flex:1;
                    padding:0 $spacing;
                    margin:0 !important; 

                    @media( max-width:$md ) {
                        margin:0 0 10px 0 !important;
                        padding:0 calc( 0.5 * $spacing );
                    }

                    img {
                        width:100%;
                    }
                }

                .gutentor-post-content {
                    flex:1;
                    padding:0 $spacing;
                    display:flex;
                    flex-direction: column;
                    width:100% !important;

                    @media( max-width:$md ) {
                        padding:0 calc( 0.5 * $spacing );
                    }

                    .gutentor-single-item-title {
                        order:2;
                        font-weight: 700;
                        @include h4;
                        margin:0 0 20px 0;
                        word-break: normal;
                        color:$foreground-color;

                        a {
                        
                            &:hover,
                            &:focus {
                                color:$primary-color;
                            }
                        }
                    }

                    .entry-meta {   
                        order:1;                 
                        margin: 0 0 9px 0;
                        color:$foreground-color;

                        .posted-on {
                            font-weight: 700;

                            &:before,
                            i {
                                display:none;
                            }
                        }

                        .cat-links {

                            i {
                                display:none;
                            }  

                            a {

                                &:hover,
                                &:focus {
                                    color:$primary-color;
                                }
                            }
                        }

                        div:not(:last-child) {
                            padding-right:$spacing;
                        }
                    }

                    .gutentor-post-excerpt  {
                        order:3;
                        display: none;

                        @media( max-width:$sm ) {
                            display: block;
                        }
                    }
                }
            }     
        }

        .blog-list:nth-child(1) {        
            width:100%;

            .gutentor-single-item {            
                
                .gutentor-single-item-image-box {
                    width:100% !important;
                }

                .gutentor-post-content {                

                    .gutentor-single-item-title {
                        @include h2;

                        @media( max-width:$sm ) {
                            @include h4;
                        }
                    }

                    .gutentor-post-excerpt  {
                        order:3;
                        display: block;
                    }
                }
            }
        }

        .blog-list:nth-child(2) {   
            padding-right:$spacing;

            @media( max-width:$sm ) {
                padding-right:calc( 0.5 * $spacing );
            }
        }

        .blog-list:nth-child(3) {   
            padding-left:$spacing;

            @media( max-width:$sm ) {
                padding-left:calc( 0.5 * $spacing );
            }
        }

        .blog-list:nth-child(2),
        .blog-list:nth-child(3) {

            @media( max-width:$sm ) {
                padding:0 $spacing;
            }

            .gutentor-single-item {
                flex-direction: row-reverse;

                @media( max-width:$md ) {
                    flex-direction: column;
                }

                .gutentor-single-item-image-box {
                    width:180px;
                    flex: 0 0 auto;

                    @media( max-width:$md ) {
                        width:100%;
                    }
                }
            }
        }
    }
}