@use "../abstracts" as *;

/* Page */
    // Title
    #page {
    
        .entry-header {
            margin-top:112px;
            margin-bottom:64px;

            .entry-title {
                text-align: center;
            }    
        }
    }
    