@use "../abstracts/global" as *;
@use "../abstracts/mixins" as *;

/* Footer */
.site-footer {
    background-color:$secondary;
    
    #footer-widgets {
        padding:44px 0 0 0;
    
        .footer-widgets-container { 
            max-width: $default-width;
            margin-left:auto;
            margin-right:auto;
           
            padding:0px;

            .inside-footer-widgets {
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                /*grid-template-rows: repeat(3, 1fr);*/
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin:0;
                grid-auto-rows: minmax(min-content, max-content);
                font-size: 15px;
                line-height: 25px;
                color:$white;

                @media( max-width:$md ) {
                    grid-template-columns: repeat(2, 1fr);
                    /*grid-template-rows: repeat(5, 1fr); */
                    text-align: center;
                }

                .inner-padding {                    
                    max-width: $default-width;
                    margin-left:auto !important;
                    margin-right:auto !important;
                }

                .footer-widget-1 {
                    grid-area: 1 / 1 / 2 / 3;
                    margin:0 0 16px 0;

                    @media ( max-width:$md ) {
                        margin: 0 0 $spacing 0;
                    }

                    .inner-padding {
                        padding:0;

                        img {
                            width:394px;
                        }
                    }
                }

                #site-navigation {
                    grid-area: 2 / 1 / 3 / 3;  

                    .inside-navigation {
                        margin-bottom: 23px;
                        
                        .menu-toggle {
                            display:none;
                        }

                        .main-nav {
                            width:100%;
                        
                            ul {
                                display: flex !important;

                                @media( max-width:$md ) {
                                    justify-content: center;
                                }
                            
                                li {
                                
                                    a {

                                        &:first-child {
                                            padding-left:0;

                                            @media( max-width:$md ) {
                                                padding-left:20px;
                                                line-height: 40px;
                                            }
                                        }

                                        &:hover,
                                        &:focus {
                                            color:$black;
                                        }
                                    }

                                    &.current-menu-item {

                                        a {
                                            color:$white;
											font-weight:700;
                                        }
                                    }
                                }
                            }
                        }

                        .menu-bar-items {
                            display: none;    
                        }
                    }

                    &:after {
                        content:'';
                        width:100%;
                        left:0;
                        position:absolute;
                        height:2px;
                        background-color: #2b2b2b;
                    }
                    
                }

                .footer-widget-2 {
                    grid-area: 3 / 1 / 4 / 2;                     
                    color:#aaa;
                    display: flex;
                    padding:42px 0 36px 0;

                    @media( max-width:$md ) {
                        grid-area: 3 / 1 / 4 / 3;
                        justify-content: center;
                        padding:$spacing 0;
                        margin:0;
                    }

                    a {
                        padding-bottom:2px;
                        border-bottom:1px solid $black;

                        &:hover,
                        &:focus {
                            border-bottom:1px solid $black;
                        }
                    }

                    .inner-padding {
                        padding:0;
                        margin:0 !important;
                    }
                }

                .footer-widget-3 {
                    grid-area: 3 / 2 / 4 / 3;                                        
                    display: flex;
                    margin:0;
                    justify-content: flex-end;
                    padding:39px 0 32px 0;

                    .inner-padding {
                        margin:0 !important;
                    }

                    @media( max-width:$md ) {
                        grid-area: 4 / 1 / 5 / 3;
                        justify-content: center;
                        flex-direction: column;
                        padding:0 0 $spacing 0;
                    }

                    .wp-block-social-links {

                        @media( max-width: $md ) {
                            justify-content: center;
                        }

                        .wp-social-link {
                            margin:0;                            

                            svg {
                                fill:#aaa;
                                width:32px;
                                height:32px;

                                &:hover,
                                &:focus {
                                    fill:$black;
                                }                                
                            }
                        }

                        .wp-social-link-tiktok {

                            svg {
                                width:26px;
                                height:26px;
                            }
                        }
                    }

                    .inner-padding {
                        padding:0;
                    }
                }

                .footer-widget-4,
                .footer-widget-0 {
                    display:none;
                }
            }
        }
    }

    .site-info {
        display:none;
    }
}

/* Footer 1 */
.footer-widget-1 {

    .wp-block-cover {
        align-items: flex-start;
        padding:74px;

        @media( max-width: $md ) {
            padding:$double-spacing;
        }

        @media( max-width: $sm ) {
            padding:$spacing;
        }
    }
}

/* Signup */
.signup {
    border:1px solid $black;

    .wp-block-group__inner-container,
    p {        
        width:100%;
        display:flex;

        @media ( max-width:$sm ) {
            flex-direction: column;
        }

        input[type=text] {
            flex:1;
            border-color:$black;
            padding:19px 30px;

            @media ( max-width:$sm ) {
                text-align: center;
            }
        }

        input[type=submit] {
            background-color:$black;
            color:$white;
        }        
    }
}

