@use "../abstracts/global" as *;
@use "../abstracts/mixins" as *;

/* Header */		
.header-top {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.navigation-stick {
    background-color: $white;

    .main-nav {

        ul {

            li {

                a {
                    color:$link;                            

                    @media( max-width: $md ) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                &:not([class*="current-menu-"]) {
                    &:hover {
                        & > a {
                            color:$secondary;  
                        }
                    }
                }

                &.menu-item-has-children {
                
                    & > a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.site-header {   	        
    background-color:$white;

    .inside-header {
        flex-wrap:wrap;
        padding:0;
        flex-direction: column;

        @media( max-width: $sm ) {
            justify-content: space-between;
        }

        .header-top {
            width:100%;
            border-bottom:2px solid $hairline;

            & > * {
                max-width:$default-width;
                margin-left:auto;
                margin-right:auto;
            }

            .container {
                padding-right:65px;

                @media( max-width: $sm ) {
                    padding-right:0;
                }

                .site-logo {
                    order:1;
                    width:396px;
                    padding:22px 0;
                    text-align: center;

                    @media( max-width: $sm ) {
                        border:none;
                    }  
                    
                    a {
                        width:100%;
                    
                        img {
                            width:100%;
                        }
                    }
                }
            }
        }

        .header-bottom {
            width:100%;
            border-bottom:2px solid $hairline;
            padding:12px 0;

            @media( max-width:$sm ) {
                padding:8px 0 0 0;
            }

            & > * {
                max-width:$default-width;
                margin-left:auto;
                margin-right:auto;
            }
        }
        
        .header-widget {
            order:2;
            flex:1;
            margin-left:50px;
            margin-right:50px;
            max-width:100%;

            @media( max-width: $sm ) {
                margin-top:0;
                margin-left:$spacing;
                max-width:calc( 100% - 290px );
            }   
        }
        
        #mobile-menu-control-wrapper {
            order:3;            
            position:relative;
            justify-content: flex-end;

            @media( max-width: $sm ) {
                margin:0 0 8px 0;
            }

            .menu-toggle {
                padding:0;
                background:none;
                line-height: 0;
                text-align: right;
                flex:0;

                @media( max-width:$xs ) {
                    margin-left: 0;
                    width:100%;
                    padding-right: 0 !important;
                    flex:0;
                }

                .gp-icon {

                    svg {
                        width:28px;
                        height:28px;
                        top:0;
                        fill:$link;

                        &:hover {
                            fill:$link;
                        }
                    }
                }
            }

            .menu-bar-items {
                /*position:absolute;
                top:-84px;
                right:0px;*/

                .search-item {

                    a {
                        padding-top:4px;
                        padding-right:20px;
                        line-height: 36px;

                        .icon-search {
                            font-size:25px;

                            svg {
                                fill:$link;
                                transition: $transition;
                            }

                            &:hover,
                            &:focus {
                            
                                svg {
                                    fill:$link;
                                }
                            }
                        }
                    }
                }
            }

            .navigation-search {
                top:-90px;
                right:65px;
                left:auto;
                width:300px;
                border-bottom:1px solid $hairline;

                @media( max-width:$md ) {
                    width:calc( 100% - 65px );
                }
            }
        }
        
        #site-navigation {
            order:4;
            padding:0;	

            @media( max-width: $sm ) {
                width:100%;
                margin:0;
            }

            &.toggled {
                margin-top:0px;
                border-top:1px solid $hairline;
                background-color:$white;
            }

            &.main-navigation {

                .main-nav {      

                    @media( max-width:$sm ) {
                        padding:0;
                    }            

                    ul {

                        @media( max-width:$sm ) {
                            padding:15px 0 5px 0;
                        }

                        li {
                            text-align: right;
                            
                            @media( max-width:$sm ) {
                                margin-bottom:10px;
                                text-align: left;
                            }

                            a {                                
                                color:$black;                                   
                                padding-left:15px;
                                padding-right:15px;

                                @media( max-width: $md ) {
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }

                                @media( max-width: $sm ) {
                                    padding:0;
                                }
                            }

                            &:first-child {

                                a {
                                    padding-left:0;
                                }
                            }

                            &.current-menu-item {
                                a {
                                    color:$link !important;
                                }
                            }

                            &:not([class*="current-menu-"]) {
                                &:hover {
                                    & > a {
                                        color:$link;  
                                    }
                                }
                            }

                            &.menu-item-has-children {
                            
                                & > a {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }

                ul {

                    ul {
                        background-color:$white;
                        box-shadow:0 0 1px rgba(0,0,0,.1);
                    }
                }
            }	

            .inside-navigation {
                
                .menu-bar-items {
                    position:absolute;
                    top:-84px;
                    right:0px;

                    .icon-search {
                        font-size:25px;

                        svg {
                            fill:$link;
                            transition: $transition;
                        }

                        &:hover,
                        &:focus {
                        
                            svg {
                                fill:$link;
                            }
                        }
                    }
                }

                .navigation-search {
                    top:-90px;
                    right:65px;
                    left:auto;
                    width:300px;
                    border-bottom:1px solid $hairline;

                    @media( max-width:$md ) {
                        width:calc( 100% - 65px );
                    }
                    
                    @media( max-width:$sm ) {
                        position:absolute;
                        top:-50px;
                        right:95px;
                        width:calc( 100% - 95px );
                        z-index:100;                        
                    }

                    .search-field {
                    
                        @media( max-width:$sm ) {
                            outline:none;
                            padding:10px 0px;
                            height:46px;
                        }
                    }
                }
            }		
        }
    }
}

/* FIX - Nav left layout */
.nav-float-right {

    #site-navigation {
        margin-left:0;   
    }
}

/* WIDGET - Aelia Currencies Switcher */
.widget_wc_aelia_currencyswitcher_widget {
    margin:5px 0;

    .aelia_cs_currencies {
        padding:5px 8px;
    }
}