@use "../abstracts" as *;

.entry-header {

    & > * {
        max-width: $default-width;
        margin-left: auto;
        margin-right: auto; 
    }
}   

.entry-title {
    margin:$double-spacing auto $double-spacing;
}

.entry-meta {

    & > * {
        max-width: $default-width;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
}

.post-category {
    border-bottom:2px solid $primary-color;
    padding-bottom:3px;
    transition:$transition;
}

.entry-date {
    @include h6;
}

/* Content / Sidebar */
.content-title {

    h1 {
        font-family: $primary-font;
        font-weight: 700;
        margin-bottom: $double-spacing;
    }
}

.content-wrapper {
    display:flex;

    @media( max-width:$md ) {
        flex-direction: column;
    }
    
    .content-left {
        width:70%;
        padding-right:$spacing;

        @media( max-width:$md ) {
            width:100%;
            padding-right:0;
        }
    }

    .content-right {
        width:30%;
        padding-left:$spacing;

        @media( max-width:$md ) {
            width:100%;
            padding-left:0;
        }
    }

    &.rtl {
        .content-left {
            width:30%;
            padding-right:$spacing;
            margin-bottom:$double-spacing;

            @media( max-width:$md ) {
                width:100%;
                padding-right:0;                
            }
        }

        .content-right {
            width:70%;
            padding-left:$spacing;
            margin-bottom:$double-spacing;

            @media( max-width:$md ) {
                width:100%;
                padding-left:0;
            }
        }
    }
}

.gutenberg-content-wrapper {
    margin-bottom:38px;        

    .wp-block-column {

        @media( max-width:781px ) {
            text-align: left !important;

            .has-text-align-right {
                text-align: left !important;
            }
        }

        & > *:last-child {
            margin:0;
        }
    }
}

/* Screen Reader */
.screen-reader-label {
    display:none;
}

/* Single */
.single {

    &.separate-containers {
    
        .container.grid-container {

            .inside-article {

                .entry-header {
                    padding:0; 
                }     
            }  
        }
    }  

    &.post-image-above-header {
    
        .inside-article {
        
            .featured-image {
                margin:0;
            }
        }
    }

    .entry-header {
    
        .entry-title {
            margin-bottom:0;
        }
    }
}

/* Yoast Breadcrumb */
.yoast-breadcrumbs {
    @include h6;
    color:$secondary-color-hover;
    margin-bottom:$double-spacing;
    border-bottom:1px solid #ddd;

    a {
        color:$foreground-color;

        &:hover,
        &:focus {
            color:$primary-color;
        }
    }

    .breadcrumb_last {
        font-weight: bold;
    }
}


/* Paging */
.paging-wrapper {    
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
    padding:0 98px;
    margin:$double-spacing 0;
    flex-wrap: wrap;

    .page-numbers {
        padding:0 8px;
        color:$foreground-color;
        font-weight: 500;

        &:hover,
        &:focus {
            color:$primary-color;
        }
    
        &.current {
            color:$primary-color;
        }

        &.prev,
        &.next {            
            transition: $transition;
            position:absolute;
            top:0;
            padding:0;

            &:hover,
            &:focus {                
                color:$primary-color;
            }
        }

        &.prev {
            left:0;
        }

        &.next {
            right:0;
        }
    }
}

/* Sharer */
.sharer-wrapper {
    display: flex;
    padding:$spacing 0;

    .sharer-title {
        margin:0 15px 0 0;
        @include h5;
        font-family: $primary-font;
        font-weight: bold;
    }

    .sharer-list {
        display:flex;
    }

    a {
        border:1px solid $foreground-color;
        width:30px;
        height:30px;
        text-align: center;
        line-height: 30px;
        display: bloc;
        border-radius: 50%;
        margin:0 10px 10px 0;

        &:last-child {
            margin:0 0 10px 0;
        }

        &.sharer-facebook {
            svg {
                width:8px;
            }
        }

        &.sharer-twitter {
            svg {
                width:16px;
            }
        }

        &.sharer-linkedin {
            svg {
                width:14px;
            }
        }

        &.sharer-email {
            svg {
                width:16px;
            }
        }

        &:hover,
        &:focus {
            background-color:$primary-color;
            border-color:$primary-color;

            svg {
                fill:$background-color;
            }
        }

        
    }
}

/* Split Content */
.content-cover {
    background-color:$border-color;
	
	&.no-sticky {
		padding-top:$double-spacing;	
	}

    &.padded {
        padding-top:$double-spacing;
        padding-bottom:$double-spacing;
    }
}

/* Related Post */
.related-box {
    display:flex;
    border: 1px solid $foreground-color;
    margin: 0 0 43px 0;

    @media( max-width:$lg ) {
        flex-direction: column-reverse;
    }

    .related-box-content {
        padding:$spacing;
        flex:1;
        
        .related-meta {
            display:flex;
            margin:0 0 13px 0;
        
            .related-meta-category {
                margin:0 10px 0 0;

                a {
                    display:inline-block;
                    padding:7px 15px 3px;                    
                    border-radius: 50px;
                    border:1px solid $foreground-color;                    
                    @include h5;

                    &:hover,
                    &:focus {
                        background-color:$foreground-color;
                        color:$background-color;                    
                    }
                }
            }

            .related-meta-date {
            
                display:flex;
                align-items: center;

                a {
                    color:$secondary-color;                                        

                    &:hover,
                    &:focus {
                        color:$primary-color;
                    }

                    .entry-date {                        
                        @include h4;
                    }
                }
            }
        }

        .related-title {

            h3 {
                margin:0 0 8px 0;
            }
        }

        .related-excerpt {
            color:$secondary-color;
        }
    }

    .related-box-thumb-link {
        width:238px;
        border-left:1px solid $foreground-color;

        @media( max-width:$lg ) {
            width:100%;
            height:300px;
            border-left:none;
            border-bottom:1px solid $foreground-color;
        }

        .related-box-thumb {            
            width:100%;
            height:100%;
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

/* Comments */
.comments-area {
    padding:0;

    & > * {
        max-width: $default-width;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
}

/* Boxed List */
.boxed-list {
    padding:$spacing;
    background-color: $background-color;
    margin-bottom:$double-spacing;

    &:last-child {
        margin:0;
    }

    &.boxed-list-border {
        border-top:5px solid $primary-color;
    }

    .post-box{
    
        &:last-child {
            border-bottom:0 !important;
            margin:0 !important;
            padding:26px 0 0 0 !important;
        }
    }
}

/* Sidebar List */
.sidebar-list {

    h2,
    h5 {
        @include h5;
        font-family: $primary-font;
        font-weight: bold;
        margin: 0 0 10px 0;    
    }

    p {
        margin:0 0 5px 0;

        @media( max-width:$md ) {
            margin:0 0 10px 0;
        }

        a {
            color:$foreground-color;

            &:hover,
            &:focus {
                color:$primary-color;
            }
        }
    }
}

/* Filter */
.filter-wrapper {

    .filter-header {

        @media( max-width:$md ) {
            background-color:$primary-color;
            color:$background-color;            
            display:flex;    
            flex-wrap: wrap;        
        }
    
        h2,
        h5 {
            @media( max-width:$md ) {
                flex:1;
                padding:10px 15px;
                margin:0;
            }
        }

        .filter-icon {
            @media( max-width:$md ) {
                width:$double-spacing;                
                background-color:$primary-color;
                cursor: pointer;
                border-left:2px solid $primary-color-hover;
                transition: $transition;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover,
                &:focus {
                    background-color: $primary-color-hover;

                    &:before {
                        /*transform: rotate(135deg);
                        margin-top:-7px;*/
                    }
                }

                &:before {
                    content:'';
                    border-top:2px solid $background-color;
                    border-right:2px solid $background-color;
                    transform: rotate(135deg);
                    width:14px;
                    height:14px;
                    display: block;
                    margin-top:-7px;
                    /*transition:transform 0.1s ease 0s;*/
                }
            }
        }
    }

    .filter-content {
        @media( min-width:992px ) {
            display:block !important;
        }

        @media( max-width:$md ) {
            display:none;
            padding:$spacing $spacing 15px $spacing;
            background-color: $background-color;                
            column-count: 3;
        }

        @media( max-width:$xs ) {
            column-count: 2;
        }

        @media( max-width:450px ) {
            column-count: 1;
        }
    }

    &.open {

        .filter-header {
        
            .filter-icon {
            
                @media( max-width:$md ) {
                    &:before {                        
                        transform: rotate(-45deg);
                        margin-top:7px;
                    }
                }
            }
        }
    }
}

/* Caption */
.wp-block-image {

    figcaption {
        line-height: 17px;
        font-style: italic;
        background-color: $border-color;
        padding:10px 15px;
        margin:0 0 $spacing 0;
    }

    .alignleft {
        margin:0 35px $spacing 0;
    }

    .alignright {
        margin:0 0 $spacing 35px;
    }
}

/* Related */
.related {
    padding:$spacing;
}

/* Screen Reader */
.screen-reader-text {
    /*background: #88b7d5;
    font-size:12px;
    font-family:var(--global--font-primary);
    position:absolute;
    background-color:rgba(0,0,0,0.8);
    padding:5px 8px;
    border-radius:4px;
    bottom: -30px;
    left: 50%;
    transform:translateX(-50%);
    display:none;*/
}

.screen-reader-text:after {		
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(0,0,0,0.8);
    border-width: 5px;
    margin-left: -5px;
    left:50%;
    top:-10px;
}

a:hover .screen-reader-text {
    display:block;		
    width: auto;
    height: auto;
    clip: auto;
    clip-path: none;
    overflow:visible;
}

/* Sharer */
/*.sharer-wrapper {
    display:flex;
    align-items:center;
    background-color:$border-color;
    padding:$spacing 0;
}

.sharer-title {
    text-align:left;
    margin:0 20px 0 0;

    h4 {
        @include h5;
        font-family: $primary-font;
        text-transform: uppercase;
    }
}

.sharer-title h4 {
    font-weight:bold;
    margin:0;
}
    
.sharer-list {
    display:flex;
    align-items:center;
    justify-content:flex-start;	
}

.sharer-link {
    cursor:pointer;	
}

.sharer-link:hover svg {
    fill:var(--global--color-white);
}

.sharer-link.sharer-facebook:hover {
    border-color:#4267b2; 
    background-color:#4267b2; 
}	  

.sharer-link.sharer-twitter:hover {
    border-color:#1da1f2; 
    background-color:#1da1f2; 
}	

.sharer-link.sharer-pinterest:hover {
    border-color:#e60023; 
    background-color:#e60023; 
}	

.sharer-link.sharer-linkedin:hover {
    border-color:#0e76a8; 
    background-color:#0e76a8; 
}	

.sharer-link.sharer-email:hover {
    border-color:#13adea; 
    background-color:#13adea;
}

.sharer-list a {
    display:flex;
    justify-self: center;
    align-items: center;
    padding:0;    
    margin:0 15px 0 0 ;	
    border-radius:100px;
    border:2px solid transparent;
    position:relative;
}

.sharer-list svg {
    width:30px;
    height:30px;
    fill:$foreground-color;
    vertical-align:middle;
}

.sharer-list a:last-child img {
    margin:0;	
}

.sharer-wrapper a .screen-reader-text {
    bottom:auto;
    top:-30px;
    word-break:initial;
}

.sharer-wrapper a .screen-reader-text:after {		
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgba(0,0,0,0.8);
    border-width: 5px;
    margin-left: -5px;
    left:50%;
    top:100%;
}

.sharer-wrapper a:hover .screen-reader-text {
    display:block;		
    width: auto;
    height: auto;
    clip: auto;
    clip-path: none;
    overflow:visible;
    color:#fff;
}*/