<select id="compare-size">
    <option value="0">10kg未満の小型犬</option>
    <option value="1">25kg未満の中型犬</option>
    <option value="2">40kg未満の大型犬</option>
    <option value="3">41kg以上の超大型犬</option>
    <option value="4">アイリッシュ・ウルフハウンド</option>
    <option value="5">アメリカン・コッカー・スパニエル</option>
    <option value="6">イタリアン・グレーハウンド</option>
    <option value="7">イングリッシュ・コッカー・スパニエル</option>
    <option value="8">ウィペット</option>
    <option value="9">ウエスト・ハイランド・ホワイト・テリア</option>
    <option value="10">キャバリア・キング・チャールズ・スパニエル</option>
    <option value="11">グレート・デーン</option>
    <option value="12">グレート・ピレニーズ</option>
    <option value="13">コーギー</option>
    <option value="14">ゴールデン・レトリーバー</option>
    <option value="15">サモエド</option>
    <option value="16">シェットランド・シープドッグ</option>
    <option value="17">シベリアン・ハスキー</option>
    <option value="18">シー・ズー</option>
    <option value="19">ジャック・ラッセル・テリア</option>
    <option value="20">ジャーマン・シェパード</option>
    <option value="21">セントバーナード</option>
    <option value="22">ダックスフンド</option>
    <option value="23">ダルメシアン</option>
    <option value="24">チワワ</option>
    <option value="25">トイプードル</option>
    <option value="26">ドーベルマン</option>
    <option value="27">ニューファンドランド</option>
    <option value="28">ノーフォーク・テリア</option>
    <option value="29">バセット・ハウンド</option>
    <option value="30">バーニーズ・マウンテン・ドッグ</option>
    <option value="31">パグ</option>
    <option value="32">パピヨン</option>
    <option value="33">ビション・フリーゼ</option>    
    <option value="34">ビーグル</option>
    <option value="35">フラットコーテッド・レトリーバー</option>
    <option value="36">フレンチ・ブルドッグ</option>
    <option value="37">ブルドッグ</option>
    <option value="38">ペキニーズ</option>
    <option value="39">ボクサー</option>
    <option value="40">ボストン・テリア</option>
    <option value="41">ボルゾイ</option>
    <option value="42">ボーダー・コリー</option>
    <option value="43">ポメラニアン</option>
    <option value="44">マスティフ</option>
    <option value="45">マルチーズ</option>
    <option value="46">ミニチュア・シュナウザー</option>
    <option value="47">ミニチュア・ピンシャー</option>
    <option value="48">ヨークシャー・テリア</option>
    <option value="50">ラブラドール・レトリーバー</option>
    <option value="51">レオンベルガー</option>
    <option value="52">ロットワイラー</option>
    <option value="53">ワイアー・フォックス・テリア</option>
    <option value="54">ワイマラナー</option>
    <option value="55">日本スピッツ</option>
    <option value="56">柴</option>
    <option value="57">狆</option>
    <option value="58">秋田</option>
</select>

