@use "../../abstracts/global" as *;

body.search {
	// Search page
	header.page-header {
		padding: 0;
	}

	.filter-wrapper {

		.filter-header {
			display:none;

			@media (max-width: $md ) {
				display:block;
			}
		}
		
		.filter-icon {
			display:none;	
		}
	
		.filter-content {
			@media (max-width: $md ) {
				column-count: 1;
				display:block !important;
				padding:$spacing;
			}
		}
	}

	form[name=advanced-search] {
		/*margin-top: var(--wp--style--block-gap);*/

		@media (max-width: 576px) {
			--wp--style--block-gap: 0;
		}

		select {
			width: 100%;
		}

		input[type=search] {
			width: 100%;
		}

		fieldset legend {
			font-weight: bold;
		}

		// Skips the first fieldset which already has a top margin
		fieldset ~ fieldset {
			margin-top: $spacing;
		}

		input[type=submit] {
			margin-top: $spacing;
			width: 100%;
		}
	}

	// No results page
	.no-results {
		.inside-article .entry-header {
			padding-top: 0 !important; // Adding important to keep the structure simple here
		}

		.search-form {
			display: none;
		}
	}

	// Select2
	span.select2-selection {
		border-radius: 0;
	}

	.select2-dropdown {
		border: none;

		// add a box-shadow to the dropdown to make it look like a select element
		box-shadow: 3px 9px 12px 0px rgba(0,0,0,0.22);
	}

	.select2-container--default .select2-selection--multiple {
		border-color: $border-color;

		.select2-selection__choice {
			padding: 8px;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 290px;
		}

		.select2-selection__choice__remove {
			margin-right: 8px;
		}
	}

	ul.select2-results__options > li {
		padding-left: 15px;
		padding-right: 15px;

		&.select2-results__option--highlighted {
			background-color: $primary-color;
		}
	}

	.select2-container .select2-selection--multiple .select2-selection__rendered {
		position: relative;
		padding: 0 0 0 5px;

		&::after {
			content: "";
			background-image: url(../../img/down-arrow.svg);
			background-repeat: no-repeat;
			background-position: right 13px center;	    
			background-size: 17px auto;    
			appearance: none;
			padding-right: 53px;
			position: absolute;
			height: 22px;
			right: 5px;
			top: 20px;
		}
	}

	.select2-container--default .select2-search--inline input.select2-search__field {
		color: $foreground-color;
		background-color: $background-color;
		border-color: $border-color;
		padding: 10px;
	}

	.select2-container .select2-search--inline, .select2-container--default .select2-search--inline input.select2-search__field {
		width: 100% !important;
	}

	.select2-container--disabled:last-child {
		.select2-selection__rendered::after {
			top: 15px;
		}

		.select2-search--inline input.select2-search__field {
			margin-top: 0;
		}
	}

	.select2-container--open .select2-dropdown {
		top: 33px;
	}
	
}

