@use "global" as *;

/* Accordion Group */
    .accordion-block-wrapper {
        
    }

/* Accordion Item */
    .accordion-item-wrapper {

        &.active {

            .accordion-item-title  {
            
                .accordion-plusminus {

                    &:before {
                        display: none;
                    }
                }
            }
        }
        
        .accordion-item-title {
            font-size:$h4;
            letter-spacing: $lsh4;
            font-weight: bold;
            border-bottom:1px solid $hairline;
            padding:20px 59px 20px 0;
            position: relative;
            cursor: pointer;
            transition: $transition;

            &:hover,
            &:focus {
                color:$link;

                .accordion-plusminus {
            
                    &:before,
                    &:after {
                        background-color: $link;
                    }
                }
            }

            .accordion-plusminus {
                width:44px;
                height:44px;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);                

                

                &:before,
                &:after {
                    content:'';                    
                    background-color:$secondarydark;
                    display: block;
                    position:absolute;
                    transition: $transition;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                }

                &:after {                    
                    width:16px;
                    height:2px;                    
                }

                &:before {                    
                    width:2px;
                    height:16px;
                }
            }
        }

        .accordion-item-content {
            padding-top:24px;
            padding-bottom: $double-spacing;
            display: none;

            @media( max-width:$sm ) {
                padding-bottom:56px;
            }

            & > *:last-child:not(ul,ol) {
                margin:0;
            }

            p,
            ul,
            ol,
            table {
                font-size: $h5;
                letter-spacing: $lsh5;
            }

            .wp-block-image {
                margin-bottom:$spacing;
            }

            .wp-block-table {

                @media( max-width:$sm ) {
                    /*margin-left:-32px;
                    margin-right:-32px;
                    width:calc( 100%  + 64px );*/
                }
            
                table {
                    width:auto;
                    max-width: 656px;
                    margin:0 auto $spacing;                    

                    @media( max-width:$sm ) {
                        font-size: $f10;
                        letter-spacing: $ls10;
                        width:100%;
                        margin-left:0;
                        margin-right:0;

                        tr {

                            td {
                                padding:10px 6px;

                                &:first-child {
                                    padding-left:32px;
                                }

                                &:last-child {
                                    padding-right: 32px;
                                }                            
                            }
                        }
                    }
                }
            }
        }

        .is-style-card {
            border-radius: 8px;
            
        }

        .is-style-note {
            border-radius: 8px;
        }
    }

/* Direct Sales */
    body.white-bg {

        .directsale-block-wrapper {
            background-color: $lightgray;

            a {
                text-align: left;
            }
        }    

        .gray-bg {

            .directsale-block-wrapper {
                background-color: $white;
            } 
        }
    }    

    .directsale-block-wrapper  {
        text-align: center;
        margin-bottom: $spacing;
        border-radius: 24px;
        /*padding:48px 24px 33px;*/
        padding:24px 24px;
        background-color: $white;
        height:100%;
        display: flex;
        flex-direction: column;
        position: relative;

        & > *:last-child {
            margin-bottom: 0px !important;
        }

        .directsale-badge {
            /*position: absolute;
            top:15px;
            left:13px;*/
            position: relative;
            top:-9px;
            left:-11px;
            width:38px;
            z-index: 1;
        }
   
        .directsale-block-thumb {
            display: flex;
            justify-content: center;
            margin-bottom: 26px;
            /*flex:1;*/

            a {
                display: flex;
                justify-content: center;
        
                img {
                    /*aspect-ratio: 1/1;*/
                    object-fit: contain;
                    object-position: center;
                    width:100%;
                    max-height:250px;
                }
            }
        }

        .directsale-block-title {
            margin-bottom:4px;
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: bold;
            word-break: keep-all;

            a {
                color:$black;

                &:hover,
                &:focus {
                    color:$link;
                }
            }
        }

        .directsale-block-variation {
            font-size: $f10;
            letter-spacing: $ls10;
            margin-top:5px;
            margin-bottom: 4px;

            a {
                color:$black;

                &:hover,
                &:focus {
                    color:$link;
                }
            }
        }

        .directsale-block-price {
            display:flex;                
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom:21px;  
            color:$secondarydark;    

            &.from-prefix {
                
                bdi {
                
                    &:after {
                        content:' から';
                    }
                }
            }      

            del {                    
                text-decoration: none;       
                position:relative;
                display: flex;         
                align-items: center;                
                line-height: 22px;

                &:before {
                    width: 100%;
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    height: 0;
                    border-bottom: 1px solid #f9423a;
                    opacity: .7;
                    transform: rotate(-15deg);
                }

                .amount {                                        
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    text-align: center;                    

                    bdi {
                        color:$secondarydark;   
                    }
                }
            }

            ins {
                display: flex;
                align-items: center;
                color:#f9423a;
                line-height: 23px;
                text-decoration: none;
            
                .amount {
                    font-size: $h5;
                    letter-spacing: $lsh5;    

                    bdi {
                        color:#f9423a;   
                    }                
                }
            }       

            .amount {
                    
                bdi {
                    color:$black;
                    font-size: $h5;
                    letter-spacing: $lsh5;
                }
            }   

            .woocommerce-price-suffix {
                font-size:$h6;
                letter-spacing: $lsh6;
                color:$black;
                margin-left:0;
                margin-bottom: 0;
            }                 
        }

        .directsale-block-action {
            display: flex;
            justify-content: center;
            align-items: center;    

            .std-button {
                padding:10px 15px;
                font-size: $h5;
                letter-spacing: $lsh5;
            }
        }
    }

/* Hearts */
    .hearts-block-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1px;
        margin-bottom: 5px;

        .heart {           
            -webkit-mask-image:url(../../img/blocks/hearts/heart.svg);
            mask-image:url(../../img/blocks/hearts/heart.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            -webkit-mask-position:center;
            mask-position: center;
            -webkit-mask-size:20px 17px;
            mask-size:20px 17px;
            background-color:#ffb900;            
            width:20px;
            height:17px;
            display: block;
            transition: $transition;
        }
    }

/* Slider Card Group */
    .slider-card-block-wrapper.flexslider {
        margin-bottom: 32px !important;
        padding-bottom:40px;

        @media( max-width:$sm ) {
            padding-left: 32px;
            padding-right:32px;
        }

        &.alignfull {            
            max-width:calc( 100vw - 112px );
            margin-left:auto;
            margin-right:auto;

            @media( max-width:$sm ) {                                
                max-width:calc( 100vw - 96px );
                padding-left:0;
                padding-right:0;

                ol.flex-control-nav {
                    width:100%;
                }

                ul.flex-direction-nav .flex-next {
                    right:-32px !important;
                }
            }
        }

        ul.slides {
            padding:0;
            margin:0;

            li {
                list-style-type: none;
            }
        }

        ol.flex-control-nav {
            bottom:0;
        
            @media( max-width:$sm ) {
                width:calc( 100% - 64px );
            }
        }

        ul.flex-direction-nav {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width: 100%;
            margin:0;

            .flex-prev,
            .flex-next {
                width:32px;
                height:32px;
            
                &:before {
                    right:auto;
                    left:50%;
                    transform: translate(-50%, -50%);
                }
            }

            .flex-prev {
                left:-32px;
            }

            .flex-next {
                right:-32px;
            }

            @media( max-width:$sm ) {

                .flex-next {
                    right:32px;
                }
            }

        }

        &:hover,
        &:focus {
        
            ul.flex-direction-nav {

                .flex-prev {
                    left:-32px;
                }
                
                .flex-next {
                    right:-32px;
                }

                @media( max-width:$sm ) {
                    .flex-next {
                        right:32px;
                    }
                }
            }
        }
    }    

    /* Inside cover or columns, make nav arrow inside like on mobile */
    .wp-block-cover,
    .wp-block-columns,
    .wp-block-group {

        .slider-card-block-wrapper.flexslider {
            padding-left: 32px;
            padding-right:32px;

            ol.flex-control-nav {
                width:calc( 100% - 64px );
            }

            ul.flex-direction-nav {

                .flex-next {
                    right:32px;
                }
            }
        }

        &:hover,
        &:focus {
        
            ul.flex-direction-nav {

                .flex-next {
                    right:32px;
                }                
            }
        }
    }

    /* Slider Card Item */
    .slider-card-item {

        .slider-card-readmore {
            font-size:$h5;
            letter-spacing: $lsh5;
            display:inline;
        }
        
        .slider-lightbox-content {
            display:none;
        }
    }

/* Variatin in Stock */
    .variationinstock-block-outer {
        display: flex;
        flex-wrap:wrap;
        gap:$half-spacing;
        justify-content: center;

        @media( max-width:$sm ) {
            flex-direction: column;            
        }

        .variationinstock-block-wrapper  {
            text-align: center;     
            border-radius: 24px;            
            flex:0 0 calc( ( 100% - ( 3 * $half-spacing ) ) / 4 ); /* For the rest of the child, don't allow them to grow beyond 33% size */
            padding:48px 24px 33px;
            background-color: $white;            
            
            &:nth-child(-n+3) { /* For the first 3 child, allow them to grow in size to 100% or 50% when there's only one or two child */
                flex:1 0 calc( ( 100% - ( 3 * $half-spacing ) ) / 4 );
            }

            &.gray-bg {
                background-color: $lightgray;
            }

            @media( max-width:$sm ) {
                flex: 0 0 100%;
            }
        
            .variationinstock-block-thumb {
                display: flex;
                justify-content: center;
                margin-bottom: 26px;

                a {
                    display: flex;
                    justify-content: center;
            
                    img {
                        aspect-ratio: 1/1;
                        object-fit: contain;
                        object-position: center;
                        width:100%;
                        max-height:500px;
                    }
                }
            }

            .variationinstock-block-title {
                margin-bottom:4px;
                font-size: $h5;
                letter-spacing: $lsh5;
                font-weight: bold;

                a {
                    color:$black;

                    &:hover,
                    &:focus {
                        color:$link;
                    }
                }
            }

            .variationinstock-block-price {
                display:flex;                
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom:21px;  
                color:$secondarydark;          

                del {                    
                    text-decoration: none;       
                    position:relative;
                    display: flex;         
                    align-items: center;                
                    line-height: 22px;

                    &:before {
                        width: 100%;
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 50%;
                        height: 0;
                        border-bottom: 1px solid #f9423a;
                        opacity: .7;
                        transform: rotate(-15deg);
                    }

                    .amount {                                        
                        font-size:$h6;
                        letter-spacing: $lsh6;
                        text-align: center;

                        bdi {
                            color:$secondarydark;   
                        }               
                    }
                }

                ins {
                    display: flex;
                    align-items: center;
                    color:#f9423a;
                    line-height: 23px;
                    text-decoration: none;
                
                    .amount {
                        font-size: $h5;
                        letter-spacing: $lsh5;  

                        bdi {
                            color:#f9423a;   
                        }                     
                    }
                }      

                .amount {
                    
                    bdi {
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        color:$black;
                    }
                }   

                .woocommerce-price-suffix {
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    color:$black;
                    margin-left:0;
                }   
            }

            .variationinstock-block-action {
                display: flex;
                justify-content: center;
                align-items: center;            
            }
        }
    }
    
/* Highlight Product */
    .highlight-product-wrapper {
        border-radius: 40px;
        background-color: $white;        
        height:800px;
        width:100%;
        position: relative;
        overflow: hidden;

        &.is-dark {
            background-color: $black;

            .highlight-product-content-wrapper {

                .highlight-product-content {

                    .highlight-product-slogan  {
                        font-size:38px;                    
                        letter-spacing: 10.64px;
                        line-height: 55px;
                        color:$white;   
                        font-weight: bold;
                    }                    

                    .highlight-product-title {                        
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }                
                }
            }
        }

        &.is-alignment-left {

            .highlight-product-content-wrapper {
                width:100%;
                height:100%;
                display: flex;
                justify-content: flex-end;

                .highlight-product-content {
                    position:absolute;
                    width:850px;
                    top:50%;
                    transform: translateY(-50%);                    
                    right:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 60px );
                height:calc( 100% + 60px );   
                left:-60px;
                bottom:-60px;            
                background-position: left bottom;
            }
        }

        &.is-alignment-center {
            
            .highlight-product-content-wrapper {
                width:100%;
                height:100%;
                padding:100px 0 0 0;

                .highlight-product-content {
                    position:absolute;                    
                    width:100%;
                    left:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 72px );
                height:calc( 100% - 26px );   
                right:-36px;
                left:-36px;
                bottom:0;
                background-position: center bottom;
            }
        }

        &.is-alignment-right {    

            .highlight-product-content-wrapper {
                width:100%;
                height:100%;

                .highlight-product-content {
                    position:absolute;                    
                    width:850px;
                    top:50%;
                    transform: translateY(-50%);                    
                    left:0;
                }
            }        

            .highlight-product-bg {
                width:calc( 100% + 110px );
                height:calc( 100% + 130px );   
                right:-110px;
                bottom:-130px;            
                background-position: right bottom;
            }
        }

        .highlight-product-content-wrapper {
            position:relative;
            z-index: 1;

            .highlight-product-content {
                text-align: center;

                .highlight-product-slogan {                    
                    font-size:$h6;
                    letter-spacing: $lsh6;
                    line-height: 18px;
                    color:$black;                    
                }

                .highlight-product-title {
                    font-size:90px;
                    letter-spacing: 0;
                    line-height: 131px;                    
                    color:$black;
                    font-weight: bold;
                    display: inline-block;
                    margin-bottom: 24px;
                }

                .highlight-product-action {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:13px;

                    .std-button {
                        padding:9px 24px 9px 24px;
                    }

                    .link-arrow {
                        padding-right:13px;
                        color:$white;

                        &:hover,
                        &:focus {
                            color:$link;
                        
                            &:after {
                                background-color: $link;
                            }
                        }
                    
                        &:after {
                            background-color: $white;      
                            -webkit-mask-size:7px 13px;
                            mask-size:7px 13px;
                            width:7px;
                            height:13px;    
                            margin-top:1px;              
                        }
                    }
                }
            }
        }

        .highlight-product-bg {
            position: absolute;
            background-repeat: no-repeat;
            background-size:auto auto;
        }
    }

/* Product Card Group */
    .product-card-group-wrapper {
        display: flex;
        gap:16px;
        flex-wrap: wrap;
    }

/* Product Card */
    .product-card-wrapper {
        background-color: $white;
        padding:$spacing $spacing 21px;
        border-radius: 24px;
        text-align: center;
        width:calc( ( 100% - ( 3 * 16px ) ) / 4);        

        @media( max-width:$md ) {
            padding:$spacing $spacing 43px;
            width:calc( ( 100% - ( 2 * 16px ) ) / 3);            
        }

        @media( max-width:$sm ) {
            padding:24px $half-spacing 27px;
            width:calc( ( 100% - ( 1 * 16px ) ) / 2);
        }

        .product-card-image {
            margin-top:70px;
            margin-bottom: 40px;
            height:240px;   

            @media( max-width:$md ) {
                margin-top:20px;
                height:164px;
            }

            @media( max-width:$sm ) {
                margin-top:0;
                height:134px;
                margin-bottom: 24px;
            }

            img {
                width:100%;
                height:100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .product-card-variation {
            font-size: $h6;
            letter-spacing: $lsh6;
        }

        .product-card-title {
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: bold;
        }

        .product-card-price {
            font-size: $h6;
            letter-spacing: $lsh6;
        }        
    }    

/* Product Card Upsell */
    .product-card-wrapper {
    
        &.product-card-upsell {

            width:calc( ( 100% - ( 2 * 16px ) ) / 3);        

            @media( max-width:$sm ) {
                width:calc( ( 100% - ( 1 * 16px ) ) / 2);
            }

            .product-card-variation {
                font-size: $h5;
                letter-spacing: $lsh5;
                font-weight: bold;
                margin-bottom:$half-spacing;
            }

            .product-card-image {
                margin-top:$half-spacing;
                margin-bottom:$spacing;
            }

            .product-card-description {
                font-size: $h6;
                letter-spacing: $lsh6;
                margin-bottom:$half-spacing;
            }

            .product-card-action {

            }

            .product-card-title {
                margin-bottom:$half-spacing;
            }

            .product-card-price {
                font-size: $h5;
                letter-spacing: $lsh5;
                font-weight: bold;
                margin-bottom:$spacing;
            }    
        }
    }

/* Hardcoded Price */
    .hprice-block-wrapper  {
        text-align: center;        
        margin-top: 14px;
        margin-bottom: 21px;

        .hprice-original {
            color:$secondarydark;
            font-size:$h6;
            letter-spacing: $lsh6;
            text-align: center;

            .hprice-original-inner {
                position: relative;
                display: inline-block;
                margin-left:auto;
                margin-right:auto;                

                &:before {
                    width: 100%;
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    height: 0;
                    border-bottom: 1px solid #f9423a;
                    opacity: .7;
                    transform: rotate(-15deg);
                }
            }
        }

        .hprice-sale {
            font-size: $h5;
            letter-spacing: $lsh5;
            color:#f9423a;
        }

        .hprice-normal {
            font-size: $h5;
            letter-spacing: $lsh5;
            color:$black;
        }

        .hprice-tax-included {
            font-size:$h6;
            letter-spacing: $lsh6;
        }
    }