@use "global" as *;

/* Import */
    .editor-styles-wrapper,
    .block-editor .editor-styles-wrapper {
        font-family: $primary-font;

        @import "global.scss";
        @import "general.scss";
        @import "blocks.scss";
        @import "acf_blocks.scss";
 
        @import "../layout/template_compare_collection.scss";
        @import "../layout/template_stores.scss";
        @import "../layout/template_faq.scss";

        @import "../layout/page_aboutus.scss";
        @import "../layout/page_professional.scss";
    
        .backend-placeholder {
            padding:$double-spacing $spacing;
            background-color: #eeeeee;
        }

        /* Extra Class - Hide */
        .hide {
            opacity: 0.5;
        }

        /* Fix - CF7 Combobox */
        .wp-block-contact-form-7-contact-form-selector {

            input[type=text] {
                padding:2px;
            }
        }
    }

/* Post - Slim editor to emulate front end */
    .post-type-post {

        .editor-styles-wrapper {
            max-width:$slim-width;
            width: 100%;
            margin:0 auto;

            .wp-block {
                width:100%;
            }
        }
    }

/* Block - Cover, fix text color */
     /* Fix text color on light backgrounds */
        .editor-styles-wrapper,
        .block-editor .editor-styles-wrapper {

            .wp-block-cover__background.has-white-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-paleblue-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-lightgray-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-secondary-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-hairline-background-color ~ .wp-block-cover__inner-container {
                color:$black;

                h1, h2, h3, h4, h5, h6 {
                    color:$black;
                }
            } 
        }

    /* Fix text color on dark backgrounds */
        .editor-styles-wrapper,
        .block-editor .editor-styles-wrapper {

            .wp-block-cover__background.has-black-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-dark-background-color ~ .wp-block-cover__inner-container,
            .wp-block-cover__background.has-secondarydark-background-color ~ .wp-block-cover__inner-container {
                color:$white;

                h1, h2, h3, h4, h5, h6 {
                    color:$white;
                }
            }
        }

/* Block - Spacer, change the way it displayed in back end */
    .editor-styles-wrapper,
    .block-editor .editor-styles-wrapper {
        .wp-block-spacer.is-style-spacer188 {
            height:188px !important;
            margin-top:28px;        

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:80px !important;
            }
        }

        .wp-block-spacer.is-style-spacer112 {
            height:112px !important;
            margin-top:28px !important;

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:56px !important;
            }
        }

        .wp-block-spacer.is-style-spacer80 {
            height:80px !important;
            margin-top:28px !important;

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:40px !important;
            }
        }

        .wp-block-spacer.is-style-spacer64 {
            height:64px !important;
            margin-top:28px !important;

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:32px !important;
            }
        }

        .wp-block-spacer.is-style-spacer40 {
            height:40px !important;
            margin-top:28px !important;

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:20px !important;
            }
        }

        .wp-block-spacer.is-style-spacer32 {
            height:32px !important;
            margin-top:28px !important;

            @media( max-width:$sm ) {
                margin-top:28px !important;
                height:16px !important;
            }
        }
    }

/* FIX Leaking from Woocommerce booking calendar */
    .components-popover:not(.is-mobile) .components-popover__content {
        position:relative;
        min-width:auto;
    }

    .components-popover:not(.is-without-arrow):not(.is-mobile)::before, 
    .components-popover:not(.is-without-arrow):not(.is-mobile)::after {
        display:none;
    }

    .edit-post-visual-editor .components-button.has-icon,
    .block-editor-block-list__insertion-point-inserter .block-editor-inserter__toggle.components-button.has-icon {
        padding:0 !important;
    }

/* Fix Leaking from Woocommerce filter */
    .components-base-control {
        width:100%;
        margin:0;
    }

/* Fix Shadow on dark theme */
    /*.is-dark-theme .block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after {
        box-shadow:0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
    }*/

/* Fix component buttons */    
    .edit-post-visual-editor .components-button {
        padding:6px 12px !important;
        font-size:13px !important;
        border: none !important;
        font-size: 13px !important;
        border-radius:2px !important;
        background-color: transparent;

        &.is-primary {
            background:#c9356e !important;
            color:#fff;
            box-shadow: none;

            &:hover:not(:disabled) {
                background:var(--wp-components-color-accent-darker-10,var(--wp-admin-theme-color-darker-10,#006ba1)) !important;
            }

            &:focus:not(:disabled) {
                color:#fff;
            }
        }

        &.is-secondary { 
            background:#c9356e !important;
            color:var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba)) !important;
            box-shadow:inset 0 0 0 1px var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));

            &:hover:not(:disabled) {
                color:var(--wp-components-color-accent-darker-10,var(--wp-admin-theme-color-darker-10,#006ba1)) !important;
            }
        }

        &.is-tertiary {
            background:#0000 !important;
            color:#2271b1 !important;
            border-color:1px solid #2271b1 !important;

            &:hover:not(:disabled) {
                color:var(--wp-components-color-accent-darker-10,var(--wp-admin-theme-color-darker-10,#006ba1)) !important;
            }
        }

        &:focus {
            /*color:$white !important;*/
        }
    }

     .edit-post-visual-editor .components-circular-option-picker__option-wrapper .components-button {
        border-radius: 50% !important;
    }

    .block-editor-block-variation-picker__variation.components-button.has-icon.is-secondary {
        background-color:transparent !important;
        color:var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba)) !important;
        box-shadow: inset 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba)) !important;
    }

    .components-button.is-link {
        background-color:transparent !important;
        color:#2271b1 !important;

        &:active,
        &:hover {
            color:#0a4b78 !important;
        }
    }

    .block-editor-button-block-appender {
        background-color:transparent !important;
        color:#1e1e1e !important;

        &:hover {
            box-shadow:inset 0 0 0 1px var(--wp-admin-theme-color) !important;
            color:var(--wp-admin-theme-color) !important;
        }
    }

    .block-editor-block-parent-selector .block-editor-block-parent-selector__button {
        border:1px solid #1e1e1e !important;
    }

/* Metabox */
    .edit-post-meta-boxes-area .metabox-row {
        margin-bottom:$spacing;
    }

    .edit-post-meta-boxes-area .metabox-row label {
        display:block;
        font-weight: 700;
        margin-bottom:10px;
    }

    .edit-post-meta-boxes-area .metabox-row select.postbox {
        border:1px solid $secondary;
    }

    .edit-post-meta-boxes-area .metabox-row .metabox-description {
        margin-top:10px;
        padding-left:25px;
        font-style: italic;
        max-width:400px;
    }

/* ACF Blocks - Editor Only */
    .editor-styles-wrapper,
    .block-editor .editor-styles-wrapper  {

        /* Accordion */
            .accordion-block-wrapper {    
                padding:$spacing $spacing;    
                background-color: $lightgray;
            }

            .accordion-item-wrapper {
                padding:$spacing $spacing;
                background-color: $white;
                margin-bottom:$spacing;
            }

            .accordion-item-content {
                display: block !important;
            }

        /* Direct Sales */
            .directsale-block-wrapper {
                box-sizing: border-box;
                background-color: $lightgray;
            
                a {
                    pointer-events: none;
                    cursor:default;
                    text-decoration: none !important;
                }
            }

        /* Slider Card */
            .slider-card-block-wrapper {                        
                border:1px solid $lightgray;
                max-width: $default-width;
                margin-left:auto;
                margin-right: auto;
                box-sizing:border-box;
                padding:$spacing;

                @media( max-width:$sm ) {
                    max-width: $mobile-default-width;
                }

                .wp-block-acf-slider-card-item {


                    li.slider-card-item {
                        list-style-type: none;                        
                        margin-bottom: $spacing;
                        border-bottom:1px solid $secondarydark;

                        & > .block-editor-inner-blocks {
                        
                            & > .block-editor-block-list__layout {
                                flex-direction: column;
                            }
                        }                        
                    }
                }                
            }

            .slider-card-item-wrapper {
                padding:$spacing $spacing;
                background-color: $white;
                margin-bottom:$spacing;
            }

            .slider-card-item-content {
                display: block !important;
            }
    
            .slider-card-item  .block-editor-block-list__layout > * {
                width:100%;
            }

            .slider-card-item  .block-editor-block-list__layout > hr {
                border-bottom: dashed 1px $link;
                background: transparent;
                position: relative;
                overflow: visible;

                &:after {
                    content:'Lightbox Content';
                    font-size: $f10;                    
                    padding:3px 8px;
                    background-color: $link;
                    color:$white;
                    position: absolute;
                    left:50%;
                    top:2px;
                    transform: translateX(-50%);
                }

            }

        /* Variation in Stock */
            .variationinstock-block-wrapper {
                box-sizing: border-box;
            
                a {
                    pointer-events: none;
                    cursor:default;
                    text-decoration: none !important;
                }
            }
        
        /* Product Card Group */
            .block-editor-inner-blocks {
                width:100%;
        
                .block-editor-block-list__layout {
                    width:100%;
                    display: flex;
                    gap:16px;
                    flex-wrap: wrap;

                    .wp-block-acf-product-card {
                        width:calc( ( 100% - ( 3 * 16px ) ) / 4);
                        margin-left:0;
                        margin-right:0;            

                        @media( max-width:$md ) {
                            width:calc( ( 100% - ( 2 * 16px ) ) / 3);
                        }

                        @media( max-width:$sm ) {
                            width:calc( ( 100% - ( 1 * 16px ) ) / 2);
                        }

                        .acf-block-body {
                            height:100%;                                                       

                            & > div {
                                height:100%;

                                .acf-block-preview {
                                    background-color: $white;
                                    border-radius: 24px;
                                    min-height: 420px;
                                }
                            }
                        }

                        .product-card-wrapper {
                            width:100%;
                            box-sizing: border-box;
                        }
                    }

                    .wp-block-acf-product-card-upsell {
                        width:calc( ( 100% - ( 2 * 16px ) ) / 3);
                        margin-left:0;
                        margin-right:0;            

                        @media( max-width:$md ) {
                            width:calc( ( 100% - ( 2 * 16px ) ) / 3);
                        }

                        @media( max-width:$sm ) {
                            width:calc( ( 100% - ( 1 * 16px ) ) / 2);
                        }

                        .acf-block-body {
                            height:100%;                                                       

                            & > div {
                                height:100%;

                                .acf-block-preview {
                                    background-color: $white;
                                    border-radius: 24px;
                                    min-height: 420px;
                                }
                            }
                        }

                        .product-card-wrapper {
                            width:100%;
                            box-sizing: border-box;
                        }
                    }
                }
            }        
    }

/* Fix Classic Toolbar */
    .block-editor .editor-styles-wrapper,
    .editor-styles-wrapper {

        .block-library-classic__toolbar button {
            padding:0;
            background-color: transparent;
            border:none;
            color:#3c434a;
            border-radius: 0;
        }
    }

/* Hide */
    #woocommerce-order-notes .inside .order_notes:nth-child(2) {
        display: none;
    }

/* Moved from the old site */
    ._billing_last_name_field{
        float:left !important;
    }
    ._billing_first_name_field, ._billing_yomigana_first_name_field{
        float:right !important;
    }

    ._shipping_last_name_field{
        float:left !important;
    }
    ._shipping_first_name_field, ._shipping_yomigana_first_name_field{
        float:right !important;
    }
 
    .warehouse-chained-product-item{
        padding:5px;
        display:inline-block;
        vertical-align: top;
    }

    .product-quantity input{
        width:80px;
        height:29px;
    }
    .warehouse-chained-product-item.chained-product{
        width:40%;
    }
    .variation_products .warehouse-chained-product-item.chained-product{
        width:50%;
    }
    table.wp-list-table .column-name {
        width: 13% !important;
    }
    table.wp-list-table .column-product_cat, table.wp-list-table .column-product_tag {
        width: 8%!important;
    }

    .woocommerce-store-alerts.is-alert-update.css-1pd4mph{
        display: none !important;
    }

    .verified-order {
        background-color: #80ff80 !important; /* Light green background */
    }  

    /* Order Screen */
    #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.name .wc-order-item-sku,
    .wc-order-preview .wc-order-preview-table .wc-order-item-sku {        
        color: red !important;
        font-size: 20px !important;
        width: 100%;        
        white-space: nowrap;        
    }

    #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.name .wc-order-item-sku {
        position: absolute;
        text-align: center;

        @media( max-width:$lg ) {
            position: static;
            text-align: initial;
        }
    }

/* Elite Highlighter */
    #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr th, 
    #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr th {
        vertical-align: middle;
    }

    .elite-highlighter {
        background-color: $link;
        padding:4px 12px;
        color:$white;
        border-radius:999px;
        display: inline-block;
    } 