@use "global" as *;

/* Cover */
    /* Padding */
        .wp-block-cover, 
        .wp-block-cover-image {
            padding:0 $spacing;

            @media( max-width:$sm ) {
                padding:0 $half-spacing;
            }
        }

    /* Wide */
        .wp-block-cover {

            &.wide-card-cover {

                .wp-block-cover__inner-container {
                    max-width: min(calc(100vw - 2 * 56px ), 1264px );

                    @media( max-width:$xl ) {
                        max-width:min(calc(100vw - 2 * 56px ), 960px );
                    }

                    @media( max-width:$md ) {
                        max-width:min(calc(100vw - 2 * 56px ), 716px );
                    }

                    @media( max-width:$sm ) {
                        max-width:min(calc(100vw - 2 * $half-spacing ), 716px );
                    }
                }
            }
        }

    /* No Padding */
        .wp-block-cover {
        
            &.nopadding {
                
            }
        }

    /* Fix text color on light backgrounds */
        .wp-block-cover__background.has-white-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-paleblue-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-lightgray-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-secondary-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-hairline-background-color ~ .wp-block-cover__inner-container {
            color:$black;
        }

    /* Fix text color on dark backgrounds */
        .wp-block-cover__background.has-black-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-dark-background-color ~ .wp-block-cover__inner-container,
        .wp-block-cover__background.has-secondarydark-background-color ~ .wp-block-cover__inner-container {
            color:$white;
        }

    /* Single Product */
        /* Highlight Left */
            .wp-block-cover.is-style-cover-highlight-left {                
                padding:120px 0;

                @media( max-width:$sm ) { 
                    padding:60px 0;

                    p {
                        line-height: 27px !important;
                    }
                }

                .wp-block-cover__background {
                    border-radius: 40px;
                }
            
                .wp-block-cover__inner-container {                    

                    & > .wp-block-columns {
                        align-items: center;

                        @media( max-width:$md ) {
                            flex-direction: column;
                            text-align: center;

                            .has-text-align-right {
                                text-align: center;
                            }
                        }
                        
                        .wp-block-column:nth-child(1) {
                            flex:2;
                        }

                        .wp-block-column:nth-child(2) {
                            flex:3;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin-bottom:$spacing;
                        line-height: 1.4;
                    }

                    p {
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        line-height: 40px;
                    }
                }
            }

        /* Highlight Center */
            .wp-block-cover.is-style-cover-highlight-center {                
                padding:120px 0;

                @media( max-width:$sm ) { 
                    padding:60px 0;

                    p {
                        line-height: 27px !important;
                    }
                }

                .wp-block-cover__background {
                    border-radius: 40px;
                }
            
                .wp-block-cover__inner-container {                    
                    flex-direction: column;   
                    gap:$double-spacing;                 

                    & > .wp-block-columns {
                        align-items: center;
                        
                        .wp-block-column:nth-child(1) {
                            flex:1;
                        }

                        .wp-block-column:nth-child(2) {
                            flex:1;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin-bottom:$spacing;
                        line-height: 1.4;
                    }

                    p {
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        line-height: 40px;
                        max-width:656px;
                        margin-left:auto;
                        margin-right: auto;
                    }
                }
            }

        /* Highlight Right */
            .wp-block-cover.is-style-cover-highlight-right {                
                padding:120px 0;

                @media( max-width:$sm ) { 
                    padding:60px 0;

                    p {
                        line-height: 27px !important;
                    }
                }

                .wp-block-cover__background {
                    border-radius: 40px;
                }                
            
                .wp-block-cover__inner-container {                                        

                    & > .wp-block-columns {
                        align-items: center;

                        @media( max-width:$md ) {
                            flex-direction: column;
                            text-align: center;

                            .has-text-align-right {
                                text-align: center;
                            }
                        }
                        
                        .wp-block-column:nth-child(1) {
                            flex:3;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                        .wp-block-column:nth-child(2) {
                            flex:2;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin-bottom:$spacing;
                        line-height: 1.4;
                    }

                    p {
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        line-height: 40px;
                    }
                }
            }

/* Heading */
    .is-style-gradient-purple-blue {
        background: #b490ca;
        background: -moz-linear-gradient(left, #b490ca 0%, #99bbd4 100%);
        background: -webkit-linear-gradient(left, #b490ca 0%,#99bbd4 100%);
        background: linear-gradient(to right, #b490ca 0%,#99bbd4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b490ca', endColorstr='#99bbd4',GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0);
        background-clip: text;
    }

    .is-style-gradient-pink {
        background: #ca9090;
        background: -moz-linear-gradient(left, #ca9090 0%, #d499b2 100%);
        background: -webkit-linear-gradient(left, #ca9090 0%,#d499b2 100%);
        background: linear-gradient(to right, #ca9090 0%,#d499b2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca9090', endColorstr='#d499b2',GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0);
        background-clip: text;
    }

    h2.confident-title {
        font-size:38px;
        @include ls( 38px );
        margin-bottom: 0;

        @media( max-width:$sm ) {
            font-size:$h3;
            letter-spacing:$lsh3;
        }
    }

/* Image */
    .wp-block-image {

        img {
            border-radius: 24px;
        }

        figcaption {
            font-size: $f10;
            letter-spacing: $ls10;
            text-align: right;
            color:$secondarydark;     
            margin:7px 0 10px;       

            a {
                position: relative;
                padding-right:12px;
                color:$secondarydark;            

                &:hover,
                &:focus {
                    color:$link;

                    &:after {
                        background-color: $link;
                    }
                }

                &:after {
                    content:'';
                    -webkit-mask-image:url(../../img/link.svg);
                    mask-image:url(../../img/link.svg);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    -webkit-mask-position:center;
                    mask-position: center;
                    -webkit-mask-size:9px 9px;
                    mask-size:9px 9px;
                    background-color:$secondarydark;
                    position:absolute;
                    right:0;
                    top:50%;
                    transform: translateY(-50%);
                    width:9px;
                    height:9px;
                    display: block;
                    transition: $transition;
                }
            }
        }
    }

    /* Square Border */
        .wp-block-image.is-style-square-border img {
            border-radius: 0;
        }

/* Columns */
    :where(.wp-block-columns.is-layout-flex) {
        gap:$spacing;
    }

    .wp-block-columns.gap16 {
        gap:16px;
    }

    /* Direct Sale Columns */
    .wp-block-columns.directsale-columns {
        gap:16px;

        .wp-block-column {

            @media( max-width:$sml ) {
                flex:0 0 calc( ( 100% - 16px ) / 2 ) !important;
            }
        }
    }

    /* Direct Sale Block Wrapper */
    .directsale-block-percentage {
        background-color: red;
        color: #fff;
        font-size: 14px;
        position: relative;
        width: 90px;
        margin: -10px -10px 10px auto;
        font-weight: bold;
        padding: 2px 5px;
        border-radius: 10px;
    }

    .home .directsale-block-percentage {
        margin: -75px -10px 70px auto;
    }

    /*
    .directsale-block-wrapper {
        &.disabled {                                                    
            cursor:default;
            filter:none;
            opacity:0.9;
            overflow:hidden;
            position: relative;
            pointer-events: none;
            opacity:0.5;
        
            &:after {
                content:' 在庫切れ';
                color:#f9423a;                            
                position:absolute;
                top:4px;
                right:4px;
                padding:2px 5px;
                border-radius: 10px;
                background-color: #f9423a;
                color:$white;
                font-size: 10px;
                letter-spacing: .8px;
                line-height: 15px;
            }                                               
        }
    }   
    */

    /* Padding */
    .wp-block-columns {
        margin-bottom:$spacing;
    }

    /* Slim */
    .wp-block-columns.is-style-slim {
        max-width: $slim-width;
        margin-left:auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width:$mobile-slim-width;
        }
    }

    /* Slim Gap */
    .wp-block-columns.slim-gap {
        gap:16px;
        margin-bottom:16px;
    }

    /* Shortcut Column */
    .wp-block-columns.shortcut-columns {
        gap:16px;

        @media( max-width:$sm ) {
            gap:38px;
        }
    
        p {
            padding-left:32px;
            padding-right:32px;
            margin-bottom:9px;
            cursor: pointer;
            transition: $transition;

            @media( max-width:$sm ) {
                padding-left:24px;
                padding-right:24px;                
            }

            &:hover,
            &:focus {
                color:$link;
            }

            &:last-child {
                margin:0;
            }

            &.pill {
                background-color: $lightgray;
                border-radius: $border-radius;
                padding:14px 32px;
                margin-bottom:23px;

                @media( max-width:$sm ) {
                    padding:9px 24px;
                }

                &:hover,
                &:focus {
                    background-color: $link;
                    color:$white !important;
                }
            }
        }
    }

    /* Step */
    .wp-block-columns.step .wp-block-column {
    
        @media( max-width:$md ) {
            flex-basis:calc( 100% / 3 - 32px ) !important;
        }

        @media( max-width:$sm ) {
            flex-basis:100% !important;
        }
    }

    /* Compare */
    .wp-block-columns.column-compare-size.column-4 {

        .wp-block-column {
            flex-basis: 25%;
            flex-grow:0;
        }
    }

    .wp-block-columns.column-compare-size {

        p.link-arrow a {
            
            &:after {
                background-color: $link;
            }

            &:hover,
            &:focus {

                &:after {
                    background-color: $secondary;
                }
            }
        }
    }

    /* Peace of Mind */
    .wp-block-columns.peace-of-mind {
        gap:16px;

        .wp-block-column {
            padding:24px 24px 40px;
            display: flex;
            flex-direction: column;

            h2 {
                height:110px;
                font-size: 38px;
                line-height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
            }

            p {
                flex: 1;
                margin-bottom: 24px;
            }

            .wp-block-image {
                height:128px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    /* Fabric Card */
    .wp-block-columns {
    
        .wp-block-column.fabric-card {
            padding:32px 0 0 0 !important;
            overflow: hidden;

            .wp-block-image {
                display: flex;
            }
        }
    }

/* Row */
    /* Slim */
        .wp-block-row.is-style-slim-row {
            max-width: $slim-width;
            margin-left:auto;
            margin-right: auto;

            @media( max-width:$sm ) {
                max-width:$mobile-slim-width;
            }
        }

/* Stack */
    /* Slim */
        .wp-block-stack.is-style-slim-stack {
            max-width: $slim-width;
            margin-left:auto;
            margin-right: auto;

            @media( max-width:$sm ) {
                max-width:$mobile-slim-width;
            }
        }

/* Media & Text */
    .wp-block-media-text {

        .wp-block-media-text__content {
        
            ul,
            ol {
            
                li {
                    list-style-position: inside;
                }
            }
        }
    }

/* Group */    
    /* Slim */
        .wp-block-group.is-style-slim-group {
            max-width: $slim-width !important;
            margin-left:auto;
            margin-right: auto;

            @media( max-width:$sm ) {
                max-width:$mobile-slim-width !important;
            }
        }

    /* Zigzag */
        .wp-block-group.zigzag {

            .wp-block-group__inner-container {
            
                & > * {
                    max-width:100% !important;
                }

                & > .wp-block-media-text {
                    /* Image on left */
                    .wp-block-media-text__media {
                        margin-right:20px;
                    }

                    .wp-block-media-text__content {
                    
                    }

                    /* Image on right */
                    &.has-media-on-the-right {                    
                        
                        .wp-block-media-text__content {
                        
                        }

                        .wp-block-media-text__media {
                            margin-left:20px;
                            margin-right:0;
                        }
                    } 

                    @media( max-width:$md ) {
                        display: flex;
                        flex-direction: column-reverse;

                        &.has-media-on-the-right {
                            flex-direction: column;
                        }

                        .wp-block-media-text__media {
                            margin:0 !important;
                            width:100%;
                        }

                        .wp-block-media-text__content {
                            padding:$half-spacing;
                            width:100%;

                            & > *:last-child {
                                margin:0;
                            }
                        }
                    }
                }
            }
        }

    /* Shortcuts Row */
        .wp-block-group {

            &.shortcuts-row {
                gap:39px;

                @media( max-width:$sm ) {
                    gap:15px;
                    flex-direction: column;
                    align-items: flex-start;
                }
            
                p {
                    font-size:$h5;
                    letter-spacing: $lsh5;
                    position:relative;     
                    cursor: pointer;
                    padding-right:14px;

                    &:hover,
                    &:focus {
                        color:$link;
                    
                        &:after {
                            background-color: $link;
                        }
                    }

                    &:after {
                        content:'';
                        position:absolute;
                        top:50%;
                        right:0;
                        transform: translateY(-50%);
                        -webkit-mask-image:url(../../img/jump-arrow.svg);
                        mask-image:url(../../img/jump-arrow.svg);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat; 
                        -webkit-mask-position:center;
                        mask-position: center;
                        -webkit-mask-size:10.5px 21px;
                        mask-size:10.5px 21px;
                        width:10.5px;
                        height:32px;
                        background-color: $secondarydark;
                        transition: $transition;
                    }           
                }

                .wp-block-button__link {
                    width:100%;
                    text-align: left;
                    position:relative;
                    display: flex;
                    align-items: center;

                    @media( max-width:$sm ) {
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        font-size: $h6 !important;
                        letter-spacing: $lsh6 !important;
                        line-height: 17px;
                        padding:4px 24px 4px !important;
                        min-height: 53px;
                    }

                    
                }
            }
        }

    /* Single Product Content */
        .single-product-content {
        
            .wp-block-group__inner-container {
                padding:0;
            }
        }

/* Buttons */
    .wp-block-button {

        .wp-block-button__link:not(.has-background) {
            background-color: $link;            
            color:$white;
            border:1px solid $link;

            &:hover,
            &:focus {
                background-color: $white;
                border-color:$link;
                color:$link;
            }
        }

        .wp-block-button__link {
            border-radius: $double-spacing;
            padding:11px 26px;

            @media( max-width:$sm ) {
                font-size: $h5;
                letter-spacing: $lsh5;
                padding:7px 20px;
            }
        }

        &.has-h-3-font-size {
            line-height: 37px;

            .wp-block-button__link:not(.has-background) {
                padding:11px 32px;

                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    line-height: 21px;
                }
            }
        }
    }

    /* Blue - Default */

    /* Non Clickable */
    .wp-block-button.is-style-nonclickable {
    
        .wp-block-button__link {
            background-color: $black;
            color:$white;
            border-color:$black;
            cursor: default;
            pointer-events: none;

            &:hover,
            &:focus {
                background-color: $black;
                color:$white;
                border-color: $black;
            }
        }
    }

    /* Black */
    .wp-block-button.is-style-black {
    
        .wp-block-button__link {
            background-color: $black;
            color:$white;
            border-color:$black;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
                border-color: $link;
            }
        }
    }

    /* White */
    .wp-block-button.is-style-white {
    
        .wp-block-button__link {
            background-color: $white;
            color:$black;
            border:none;
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: 700;
            padding:15px 32px;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
            }
        }
    }

    /* Gray */
    .wp-block-button.is-style-gray {
    
        .wp-block-button__link {
            background-color: $lightgray;
            color:$black;
            border:none;
            font-size: $h5;
            letter-spacing: $lsh5;
            font-weight: 700;
            padding:15px 32px;

            &:hover,
            &:focus {
                background-color: $link;
                color:$white;
            }
        }
    }

    /* Width 220 */
    .wp-block-buttons.width220 .wp-block-button__link {
        min-width:220px;
    }

    /* Gap 24 */
    .wp-block-buttons.gap24 {
        gap:24px;
    }
    

/* Column */
    /* Card */
    .wp-block-column.is-style-card {
        border-radius: $border-radius;
        padding:$spacing;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .radius8 .wp-block-column.is-style-card {
        border-radius: 8px;
    }

    /* Note */
    .wp-block-column.is-style-note {
        border-radius: $border-radius;
        padding:$spacing;
        border:1px solid $hairline;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .wp-block-column.is-style-card,
    .wp-block-column.is-style-note {

        &.thin-padding {
            padding:14px 16px
        }

        &.thinner-padding {
            padding:8px 16px;
        }
    }

    /* Fix text color on light backgrounds */    
    .wp-block-column.is-style-card.has-white-background-color,
    .wp-block-column.is-style-card.has-paleblue-background-color,
    .wp-block-column.is-style-card.has-lightgray-background-color,
    .wp-block-column.is-style-card.has-secondary-background-color,
    .wp-block-column.is-style-card.has-hairline-background-color {
        color:$black;
    }

    .wp-block-column > *:last-child {
        margin-bottom:0;
    }

/* Spacer */
    .wp-block-spacer {
        margin-bottom:0 !important;
    }

    .wp-block-spacer.is-style-spacer188 {
        height:0 !important;
        margin-top:188px;        

        @media( max-width:$sm ) {
            margin-top:80px !important;
        }
    }

    .wp-block-spacer.is-style-spacer112 {
        height:0 !important;
        margin-top:112px !important;

        @media( max-width:$sm ) {
            margin-top:56px !important;
        }
    }

    .wp-block-spacer.is-style-spacer80 {
        height:0 !important;
        margin-top:80px !important;

        @media( max-width:$sm ) {
            margin-top:40px !important;
        }
    }

    .wp-block-spacer.is-style-spacer64 {
        height:0 !important;
        margin-top:64px !important;

        @media( max-width:$sm ) {
            margin-top:32px !important;
        }
    }

    .wp-block-spacer.is-style-spacer40 {
        height:0 !important;
        margin-top:40px !important;

        @media( max-width:$sm ) {
            margin-top:20px !important;
        }
    }

    .wp-block-spacer.is-style-spacer32 {
        height:0 !important;
        margin-top:32px !important;

        @media( max-width:$sm ) {
            margin-top:16px !important;
        }
    }

/* Quote */
    .wp-block-quote {
        background-color: $lightgray;
        padding:$spacing;
        border-radius: 8px;
        font-size: $f17;
        letter-spacing: $ls17;
        font-style: normal;
        margin:40px 0;
        border: none;
    }

/* Gallery */
    .wp-block-gallery.is-style-vertical {
        flex-direction: column;
        gap:24px !important; 

        @media( max-width:$sm ) {
            gap:15px !important;
        }

        & > .wp-block-image {
            width:100% !important;
        }
    }

    .wp-block-gallery.width-original {

        .wp-block-image {
            width:auto;
            display: block !important;
            text-align: center;
    
            img {
                display: inline-block !important;
                width:auto !important;
            }
        }
    }

/* Table */
    .wp-block-table {        

        &.table-slice-half {

            table {
            
                td {
                    width: 50%;
                }
            }
        }

        &.noborder {
            
            table {
                border:none;
            }
        }
    
        table {
            border:1px solid $black;
            margin:0 0 $spacing 0;
        
            tbody {
            
                tr:nth-child(odd) {
                    background-color: $lightgray;
                }

                tr:nth-child(even) {
                    background-color: $white;
                }

                tr {
                
                    td {
                        border:none;
                        padding:10px 12px;

                        &:first-child {
                            padding-left:16px;
                        }

                        &:last-child {
                            padding-right:16px;
                        }
                    }
                }
            }
        }
    }

    .wp-block-column .wp-block-table:last-child table {
        margin:0;
    }

/* Contact Form 7 */
    .wpcf7-form {

        & > p {
            margin-bottom:10px;
        }
    
        label {
            font-size: $h6;
            font-weight: 700;
            
            span {
                color:$secondarydark;
                font-weight: 400;
            }

            .wpcf7-form-control-wrap {
                display: block;
                padding:9px 0 0 0;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"] {
                width: 100%;
            }
        }        

        .form-submit {            
            display: flex;
            justify-content: center;
            align-items: center;

            input[type="submit"] {
                display: inline-block;
            }
        }
    }

/* Table */
    .wp-block-table.is-style-simple {

        table {
            border:none;

            tbody {
            
                tr:nth-child(2n+1) {
                    background-color: $lightgray;   
                }

                tr:nth-child(2n) td {
                    background-color: $white;
                }
            }


        }
    
    }