@use "global" as *;

/*
 * General
 * Flexslider
 * Lightbox
 * Custom Class
 */

/* General */
    body:not(.wp-admin) {
        font-family: $primary-font;
        font-size:$f17;    
        line-height: $lh;
        letter-spacing: $ls17;
        color:$black;
        background-color:$white;        
    } 

    body {
        overflow-x: hidden;

        &.white-bg,
        .white-bg {
            background-color: $white;
        }

        &.gray-bg,
        .gray-bg {
            background-color: $lightgray;
        }

        &.menu-active {
        
            @media( max-width:$sm ) {
                overflow-y: hidden;
            }
        }
    }

    body, button, input, select, textarea {
        font-family: $primary-font;
    }

    input,
    textarea {
        font-size: $h5;
        letter-spacing: $lsh5;
    }

    h1, h2, h3, h4, h5, h6 {
        color:$black;
    }

    h1,
    .h1,
    .has-h-1-font-size {
        font-size: $h1;        
        letter-spacing: $lsh1;
        line-height: $lh;
        
        @media( max-width:$sm ) {
            font-size: $h3;
            letter-spacing: $lsh3;
        }
    }

    h2,
    .h2,
    .has-h-2-font-size {
        font-size: $h2;
        letter-spacing: $lsh2;
        line-height: $lh;

        @media( max-width:$sm ) {
            font-size: $h3;
            letter-spacing: $lsh3;
        }
    }

    h3,
    .h3,
    .has-h-3-font-size {
        font-size: $h3;	
        letter-spacing: $lsh3;
        line-height: $lh;
    }

    h4,
    .h4,
    .has-h-4-font-size {
        font-size: $h4;
        letter-spacing: $lsh4;
        line-height: $lh;

        @media( max-width:$sm ) {
            font-size: $h5;
            letter-spacing: $lsh5;
        }
    }

    h5,
    .h5,
    .has-h-5-font-size {
        font-size: $h5;
        letter-spacing: $lsh5;
        line-height: $lh;
    }

    h6,
    .h6,
    .has-h-6-font-size {
        font-size: $h6;
        letter-spacing: $lsh6;
        line-height: $lh;
    }

    .h7 {
        font-size: $f10;
        letter-spacing: $ls10;
    }

    p,
    .has-paragraph-font-size {
        font-size:$f17;
        letter-spacing: $ls;
        margin-bottom:32px;

        @media( max-width:$sm ) {
            font-size: $h5;
            letter-spacing: $lsh5;
            /*margin-bottom:32px;*/
        }

        &.margin-bottom-half {
            margin-bottom: 16px;
        }

        &.margin-bottom-three-quarters {
            margin-bottom: 16px;
        }
    }

    a {
        color:$link;
        text-decoration: none;
        transition:$transition;
        
        &:hover, &:focus {
            color:$secondary;
        }
    }

    input[type="text"], 
    input[type="email"], 
    input[type="url"],
    input[type="password"],
    input[type="search"], 
    input[type="tel"], 
    input[type="number"], 
    textarea, 
    select {
        color:$black;
        background-color: $white;        
        border:none;
        padding:11px 16px;
        border-radius: 10px;

        &:focus,
        &:focus-visible {
            border-color:$link;
            outline: none;
        }
    }

    select {
        background-image:url(../../img/down-arrow.svg);
        background-repeat:no-repeat;
        background-position:right 18px center;	    
        background-size:17px auto;    
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        padding-right:53px;
    }

    input[type="email"]:hover, 
    input[type="month"]:hover, 
    input[type="number"]:hover, 
    input[type="password"]:hover,
    input[type="search"]:hover, 
    input[type="tel"]:hover,
    input[type="text"]:hover,
    input[type="time"]:hover,
    input[type="url"]:hover, 
    input[type="week"]:hover,
    select:hover, textarea:hover,
    input[type="email"]:focus, 
    input[type="month"]:focus, 
    input[type="number"]:focus, 
    input[type="password"]:focus,
    input[type="search"]:focus, 
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus, 
    input[type="week"]:focus,
    select:focus, textarea:focus {
        background-color:$white !important;
        color:$black;
        border-color:$black;    

        .wp-block-cover__inner-container & {
            border-color:$black;
        }
    }

    button,
    a.button,
    input[type="submit"],
    .std-button,
    .woocommerce #respond input#submit, 
    .woocommerce a.button, 
    .woocommerce button.button, 
    .woocommerce input.button,
    .woocommerce #respond input#submit.alt, 
    .woocommerce a.button.alt, 
    .woocommerce button.button.alt, 
    .woocommerce input.button.alt {
        border:1px solid $link;
        background-color:$link;
        color:$white;
        padding:10px 25px;   
        border-radius:32px;
        transition:background-color 0.2s ease 0s;
        font-weight: 400;
        line-height: 1.75;

        &:hover,
        &:focus {                                    
            background-color:$white;   
            color:$link;     
        }

        @media( max-width:$sm ) {
            font-size: $h5;
            letter-spacing: $lsh5;
            padding:7px 20px;
        }
    }
    
    input[type=radio] {
        margin-right:10px;
    }

    .std-button {
        display: inline-block;
    }

    ::-webkit-input-placeholder { /* Edge */
        color: $secondary;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $secondary;
    }

    ::placeholder {
        color: $secondary;
    }

    table {
        border-width: 1px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin:0 calc( $spacing * -1 );
    }

    .row > * {
        width: 100%;
        max-width: 100%;
    }

    [class^="col-"] {
        padding:0 $spacing;
        flex:1 0 0%;
    }

    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        position: relative;
        width: 100%;
        padding-right: $spacing;
        padding-left: $spacing;
    }

    .col-xs-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-xs-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-xs-3 { flex: 0 0 25%; max-width: 25%;}
    .col-xs-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
    .col-xs-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
    .col-xs-6 { flex: 0 0 50%; max-width: 50%;}
    .col-xs-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
    .col-xs-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
    .col-xs-9 { flex: 0 0 75%; max-width: 75%;}
    .col-xs-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
    .col-xs-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
    .col-xs-12 { flex: 0 0 100%; max-width: 100%;}

    @media( min-width:576px ) {		
        .col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
        .col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
        .col-sm-3 { flex: 0 0 25%; max-width: 25%;}
        .col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
        .col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
        .col-sm-6 { flex: 0 0 50%; max-width: 50%;}
        .col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
        .col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
        .col-sm-9 { flex: 0 0 75%; max-width: 75%;}
        .col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
        .col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
        .col-sm-12 { flex: 0 0 100%; max-width: 100%;}
    }

    @media( min-width:768px ) {
        .col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
        .col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
        .col-md-3 { flex: 0 0 25%; max-width: 25%;}
        .col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
        .col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
        .col-md-6 { flex: 0 0 50%; max-width: 50%;}
        .col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
        .col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
        .col-md-9 { flex: 0 0 75%; max-width: 75%;}
        .col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
        .col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
        .col-md-12 { flex: 0 0 100%; max-width: 100%;}
    }

    @media( min-width:992px ) {
        .col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
        .col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
        .col-lg-3 { flex: 0 0 25%; max-width: 25%;}
        .col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
        .col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
        .col-lg-6 { flex: 0 0 50%; max-width: 50%;}
        .col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
        .col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
        .col-lg-9 { flex: 0 0 75%; max-width: 75%;}
        .col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
        .col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
        .col-lg-12 { flex: 0 0 100%; max-width: 100%;}
    }

    @media( min-width:1200px ) {
        .col-xl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
        .col-xl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
        .col-xl-3 { flex: 0 0 25%; max-width: 25%;}
        .col-xl-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
        .col-xl-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
        .col-xl-6 { flex: 0 0 50%; max-width: 50%;}
        .col-xl-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
        .col-xl-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
        .col-xl-9 { flex: 0 0 75%; max-width: 75%;}
        .col-xl-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
        .col-xl-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
        .col-xl-12 { flex: 0 0 100%; max-width: 100%;}
    }

    @media( min-width:1290px ) {
        .col-xxl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
        .col-xxl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
        .col-xxl-3 { flex: 0 0 25%; max-width: 25%;}
        .col-xxl-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
        .col-xxl-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
        .col-xxl-6 { flex: 0 0 50%; max-width: 50%;}
        .col-xxl-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
        .col-xxl-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
        .col-xxl-9 { flex: 0 0 75%; max-width: 75%;}
        .col-xxl-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
        .col-xxl-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
        .col-xxl-12 { flex: 0 0 100%; max-width: 100%;}
    }

    /* Container Width */
    .site-content {
        flex-direction: column;

        .featured-image,
        .post-image-above-header .inside-article .featured-image,
        .post-image-above-header .inside-article .post-image {
            margin-bottom:32px;

            @media( max-width:$sm ) {
                margin-bottom:32px;
            }

            img {
                border-radius: 24px;
            }
        }
        
        .entry-content {
            width:100%;
            max-width: 100%;   
            margin:0 !important;   

            & > * {
                margin-bottom:32px;
            }

            .wp-block-heading {
                margin-bottom:32px;

                @media( max-width:$sm ) {
                    margin-bottom:32px;
                }
            }

            /*& > .wp-block-image {
                margin-bottom:32px;

                @media( max-width:$sm ) {
                    margin-bottom:32px;
                }
            }*/

            &:not(:first-child) {
                /*margin-top:$double-spacing;*/
                margin-top:0;
            } 

            .alignfull {
                margin:0;
            }

            .alignwide {
                max-width: $wide-width;
                margin-left: auto;
                margin-right: auto;

                @media( max-width:$sm ) {
                    max-width:$mobile-wide-width;
                }
            }

            & > :not(.alignwide) {
                &:not(.alignfull) {
                    &:not(.alignleft) {
                        &:not(.alignright) {
                            &:not(.wp-block-separator) {
                                &:not(.entry-attachment) {
                                    &:not(.is-style-slim) {
                                        max-width: $default-width;
                                        margin-left: auto;
                                        margin-right: auto;    

                                        @media( max-width:$sm ) {
                                            max-width:$mobile-default-width;
                                        }
                                    }                    
                                }
                            }
                        }
                    }
                }
            }

            ul,
            ol {
                margin-left:17px;
            }
        }
    }

    body {

        &.slim-container-width,
        .slim-container-width {
        
            .site-content {

                .entry-content {

                    & > :not(.alignwide) {
                        &:not(.alignfull) {
                            &:not(.alignleft) {
                                &:not(.alignright) {
                                    &:not(.wp-block-separator) {
                                        &:not(.entry-attachment) {
                                            &:not(.is-style-slim) {
                                                max-width: $slim-width;   
                                                margin-left: auto;
                                                margin-right: auto;                                          

                                                @media( max-width:$sm ) {
                                                    max-width:$mobile-slim-width;
                                                }
                                            }                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.normal-container-width,
        .normal-container-width {
        
            .site-content {

                .entry-content {

                    & > :not(.alignwide) {
                        &:not(.alignfull) {
                            &:not(.alignleft) {
                                &:not(.alignright) {
                                    &:not(.wp-block-separator) {
                                        &:not(.entry-attachment) {
                                            &:not(.is-style-slim) {
                                                max-width: $default-width;     
                                                margin-left: auto;
                                                margin-right: auto;                                        

                                                @media( max-width:$sm ) {
                                                    max-width:$mobile-default-width;
                                                }
                                            }                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.wider-container-width,
        .wider-container-width {
        
            .site-content {

                .entry-content {

                    & > :not(.alignwide) {
                        &:not(.alignfull) {
                            &:not(.alignleft) {
                                &:not(.alignright) {
                                    &:not(.wp-block-separator) {
                                        &:not(.entry-attachment) {
                                            &:not(.is-style-slim) {
                                                max-width: $wooarchive-width;  
                                                margin-left: auto;
                                                margin-right: auto;                                           

                                                @media( max-width:$sm ) {
                                                    max-width:$mobile-wooarchive-width;
                                                }
                                            }                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.widest-container-width,
        .widest-container-width,
        .page-template-template-offers {
        
            .site-content {

                .entry-content {

                    & > :not(.alignwide) {
                        &:not(.alignfull) {
                            &:not(.alignleft) {
                                &:not(.alignright) {
                                    &:not(.wp-block-separator) {
                                        &:not(.entry-attachment) {
                                            &:not(.is-style-slim) {
                                                max-width: $wide-width;   
                                                margin-left: auto;
                                                margin-right: auto;                                          

                                                @media( max-width:$sm ) {
                                                    max-width:$mobile-wide-width;
                                                }
                                            }                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Container */
    .container,
    .entry-container > *,
    .wp-block-cover__inner-container {
        max-width:$default-width;
        margin-left: auto;
        margin-right: auto;    

        @media( max-width:$sm ) {
            max-width:$mobile-default-width;
        }
    }

    .wide-container {
        max-width:$wide-width;
        margin-left: auto;
        margin-right: auto;  

        @media( max-width:$sm ) {
            max-width:$mobile-wide-width;
        } 
    }

    .slim-container {
        max-width:$slim-width;
        margin-left: auto;
        margin-right: auto;  

        @media( max-width:$sm ) {
            max-width:$mobile-slim-width;
        }  
    }

    /* Title */
    .entry-header {

        & > * {
            max-width: $wide-width;
            margin-left: auto !important;
            margin-right: auto !important;  
            text-align: center;

            @media( max-width:$sm ) {
                max-width:$mobile-wide-width;
            } 
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        .page-heading-wrapper {
            margin:112px 0 0 0;

            @media( max-width:$sm ) {
                margin:56px 0 0 0;
            }

            .entry-container {

                .entry-title {        
                    max-width:$wide-width;
                    margin:0 auto $double-spacing;

                    @media( max-width:$sm ) {
                        max-width:$mobile-wide-width;
                        margin: 0 auto $spacing;
                    }
                }

            }
        }
    }


    /* Full Width Content */
    /*.full-width-content {

        &:not(.contained-content) {

            .site-content {
                flex-direction:column;
                max-width:100% !important;
            }
        }
    }
    */


    /* Contained Content */
    /*.contained-content {
        #page {

            &.container {
                max-width:$default-width;
                margin-left: auto;
                margin-right: auto;     
            }
        }
    }*/

    #page {
        padding-top:64px;

        @media( max-width:$md ) {
            padding-top:52px;
        }

        /*&.grid-container {
            padding:0;
        }*/
    }

    /* Non full width content */
    /*.separate-containers {

        .container {

            &.grid-container {
                max-width: 100%;

                .inside-article {
                    background-color:transparent;
                    padding:0;
                    max-width:100%;
                    margin-left: auto;
                    margin-right: auto; 

                    .entry-header {
                        padding-top: $double-spacing;
                    }
                }
            }    
        }

        .site-main {
            margin:0;
        }
    }*/

    /* Title */
    /*.entry-header {

        .entry-title {        
            margin:0 0 $double-spacing 0;
        }
    }*/

    /* Gutenberg based color */
    .has-white-color { color:$white; }
    .has-black-color { color:$black; }
    .has-dark-color { color:$dark; }
    .has-secondarydark-color { color:$secondarydark; }
    .has-secondary-color { color:$secondary; }
    .has-lightgray-color { color:$lightgray; }
    .has-paleblue-color { color:$paleblue; }
    .has-link-color { color:$link; }
    .has-orange-color { color:$orange; }
    .has-green-color { color:$green; }
    .has-hairline-color { color:$hairline; }

    .has-white-background-color { background-color:$white; }
    .has-black-background-color { background-color:$black; }
    .has-dark-background-color { background-color:$dark; }
    .has-secondarydark-background-color { background-color:$secondarydark; }
    .has-secondary-background-color { background-color:$secondary; }
    .has-lightgray-background-color { background-color:$lightgray; }
    .has-paleblue-background-color { background-color:$paleblue; }
    .has-link-background-color { background-color:$link; }
    .has-orange-background-color { background-color:$orange; }
    .has-green-background-color { background-color:$green; }
    .has-hairline-background-color { background-color:$hairline; }  

    /* Paging */
    .paging-numbered {
        text-align:center;	
        margin: 100px 0 100px 0;
        display:flex;
        align-items:center;
        justify-content:center;

        .nav-numbered {
            padding:8px;
            min-width:43px;
            height:43px;
            border:1px solid $hairline;
            margin-left:2px;	
            margin-right:2px;
            line-height:25px;
            border-radius: 10px;

            &.static {
                background-color:$black;
                border:1px solid $black;
                color:$white;
                cursor:default;			
                transition:all 0.2s ease 0s;
            }

            &.nav-arrow {
                line-height:22px;

                svg {
                    fill:$black;
                }
            }

            &:hover {
                background-color:$black;
                border:1px solid $black;
                color:$white;	
            }
        }

        a {		
            text-transform:uppercase;	
            border:none;

            &:hover {
                text-decoration:none;	
            }
        }

        .nav-first,
        .nav-last,
        .nav-prev,
        .nav-next {
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .nav-first svg,
        .nav-last svg {
            width:14px;
        }

        .nav-prev svg,
        .nav-next svg {
            width:8px;
        }

        .nav-first:hover svg,
        .nav-last:hover svg,
        .nav-prev:hover svg,
        .nav-next:hover svg {
            fill:$white;		
        }
    }

    /* Separator */
    .wp-block-separator {
        border-top:none;
        border-bottom:1px solid $hairline;
    }

/* Flexslider */
    .flexslider {
        border:none;
        margin:0;
        border-radius:0;
        background-color: transparent;
    }

    ol.flex-control-nav {
        margin:0 !important;
    }

    .flex-direction-nav {
        position:relative;
        margin:0;

        a {
            width:44px;
            height:44px;
            opacity:1;
            margin:auto;
            text-shadow: none;

            &:hover,
            &:focus {

                &:before {                    
                    background-color: $link !important;
                }
            }

            &.flex-disabled {

                &:before {
                    background-color: $secondarydark;
                }

                &:hover,
                &:focus {
                    
                    &:before {
                        background-color: $secondarydark !important;
                    }
                }
            }
        }

        .flex-prev {
            left:0;
        }
        
        .flex-next {
            right:0;
        }

        a.flex-prev:before,
        a.flex-next:before {
            content:'';
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            -webkit-mask-position:center;
            mask-position: center;
            -webkit-mask-size:44px 44px;
            mask-size:44px 44px;            
            width:44px;
            height:44px;
            background-color:$secondarydark;            
            position:absolute;
            right:0;
            top:50%;
            transform: translateY(-50%);            
            display: block;
            transition: $transition;
        }

        a.flex-prev:before {
            -webkit-mask-image:url(../../img/flex-prev-thick.svg);
            mask-image:url(../../img/flex-prev-thick.svg);
        }
    
        a.flex-next:before {
            -webkit-mask-image:url(../../img/flex-next-thick.svg);
            mask-image:url(../../img/flex-next-thick.svg);
        }   
    }

/* Lightbox */
    .lightbox-overlay {
        position: fixed;
        z-index: 20000;
        background-color: rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        top:0;
        left:0;
        display: none;

        &.slide-lightbox {
            position: static;
            background: transparent;
            transition: none;
            margin-top:$half-spacing;
            z-index: 0;

            .lightbox-wrapper {
                position: static;
                transform: none;
                transition: none;

                .lightbox-inner {
                    overflow: initial;
                }

                .lightbox-footer {
                    display: none;
                }
            }

            &.active {
                display: block;

                .lightbox-wrapper {
                    display:block;
                }
            }
        }
    }

    .lightbox-wrapper {
        position:absolute;
        top:calc( 50% + 50px );
        left:50%;
        transform: translate( -50%, -50% );
        width:100%;
        max-width: min(calc(100vw - 2 * 56px ), 1264px );
        background-color: $white;   
        display: none; 
        border-radius:0 0 24px 24px;
        overflow:hidden;

        @media( max-width:$sm ) {
            max-width: min(calc(100vw - 2 * $half-spacing ), 1264px );
        }

        form {
            display: flex;
            flex-direction: column;
            max-height:calc( 100vh - 100px - ( 2 * $spacing) );

            @media( max-width:$sm ) {
                max-height: none;
            }            
        }

        .lightbox-inner {
            padding:$spacing;
            color:$black;
            display: flex;
            flex:1;
            overflow-y:scroll;

            & > * {
                width:100%;
            }

            .wp-block-heading {
                margin-bottom: 12px;
            }

            .single-widget,
            .wp-block-columns,
            .wc-block-attribute-filter,
            ul {
                margin:0;
            }                

            .popup-filter-section-title {
                font-size: 19px;
                letter-spacing: $ls17;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .popup-filter-section-content {
            
            }
        }

        .lightbox-footer {
            background-color: $lightgray;
            width:100%;
            padding:$half-spacing $spacing;                
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:$half-spacing;

            .lightbox-footer-left {
            
            }

            .lightbox-footer-right {
                display: flex;
                align-items: center;
                gap:$spacing;
            }
        }
    }

    .lightbox-wrapper.slider-card-lightbox {
    
        .lightbox-inner {
            flex-direction: column;
        }

        .lightbox-footer {
            justify-content: flex-end;            
        }
    }

/* Custom Class */    
    .bold {
        font-weight: 700;
    }

    .center {
        justify-content: center;
    }

    .lh40 {
        line-height: 40px;
    }

    .hide {
        display: none; 
    }

    .hidden {
        display: none !important;
        visibility: hidden !important;
    }

    @media( max-width:$md ) {
        .desktop-only {
            display: none !important;
        }

        .mobile-linebreak {
            display: block;
        }
    }

    @media( min-width:992px ) {
        .mobile-only {
            display: none;
        }
    }

    /* Title */
    .title {
        font-weight: bold;
    }

    /* Pill */
    p.pill {
        border:1px solid $secondarydark;
        border-radius:$double-spacing;                    
        padding:3px 22px 4px;
        margin-left:auto;
        margin-right:auto;      
        display: table;  
    }

    /* Border */
    .border {
        border:1px solid $hairline;
    }

    /* Specification Gallery */
    .specification-gallery {
        display: flex;
        flex-wrap: nowrap !important;
        border:1px solid $hairline;
        padding:$half-spacing;
        gap:16px !important;

        @media( max-width:$sm ) {
            flex-wrap: wrap !important;
        }

        .wp-block-image {
            width:auto !important;

            img {
                width:auto !important;
                height:auto !important;
                object-fit: contain !important;
            }
        }
    }

    /* Card */
    .card {
        border-radius: $border-radius;
        padding:$spacing;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.card-columns {
            flex-direction: row;
            text-align: left;
            align-items: flex-start;            
            justify-content: center;
        }

        &.radius-half {
            border-radius: 11px;;
        }

        &.padding-half {
            padding:14px 14px 8px 14px;
        }

        .card-title {
            font-size: $h6;
            letter-spacing: $lsh6;
            line-height: 18px;
            font-weight: 700;
            margin:0 0 10px 0;
        }

        .card-content {
            flex:1;
        }
    }

    /* Card Snippet */
    .card-snippet {
        border:1px solid $hairline;
        border-radius: 8px;
        overflow: hidden;
        gap:24px;

        @media( max-width:$xs ) {
            flex-direction: column;
            gap:0;
        }

        .wp-block-column {
            display: flex;
            flex-direction: column;
            justify-content:center;

            &:first-child {
            
                @media( max-width:$sml ) {
                    flex:0 0 130px !important;
                }            

                @media( max-width:$xs ) {
                    flex:1 !important;
                }

                .wp-block-image {
                    height:100%;

                    img {
                        height:100%;
                        object-fit: cover;
                        object-position: center;

                        @media( max-width:$xs ) {
                            width:100%;
                            height:120px;
                        }
                    }                
                }
            }

            &:last-child {
                padding:8px 8px 8px 0;

                @media( max-width:$sm ) {
                    flex:1 !important;
                    padding:8px;
                }
            }
        }

        p {
            margin-bottom: 5px;
        }

        
    }

    /* Link Arrow */
    p.link-arrow a,
    a.link-arrow {
        padding-right:10px;
        position:relative;

        &:hover,
        &:focus {
            color:$secondary;

            &:after {
                background-color: $secondary;
            }
        }

        &:after {
            content:'';
            -webkit-mask-image:url(../../img/black-arrow.svg);
            mask-image:url(../../img/black-arrow.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            -webkit-mask-position:center;
            mask-position: center;
            -webkit-mask-size:5px 10px;
            mask-size:5px 10px;            
            background-color:$black;
            position:absolute;
            right:0;
            top:50%;
            transform: translateY(-50%);
            width:5px;
            height:10px;
            display: block;
            transition: $transition;
        }

        &.big-link-arrow {
            padding-right:9px;

            &:hover,
            &:focus {
                color:$secondary;

                &:after {
                    background-color: $secondary;
                }
            }

            &:after {
                background-color: $link;
                -webkit-mask-size:9px 18px;
                mask-size:9px 18px;  
                width:9px;
                height:18px;    
            }
        }
    }

    p.link-arrow {
    
        &.link-arrow-blue {

            a {

                &:hover,
                &:focus {
                    color:$link;
                
                    &:after {
                        background-color: $link;
                    }
                }
            
                &:after {
                    background-color: $link;
                }
            }
        }
    }

    p.link-arrow a {
        padding-right:13px;

        &:hover,
        &:focus {

            &:after {
                background-color: $secondary;
            }
        }
        
        &:after {
            background-color: $secondary;
            -webkit-mask-size:7px 13px;
            mask-size:7px 13px;
            width:7px;
            height:13px;
            margin-top:1px;
        }
    }    

    /* Link Question */    
    a.link-question {
        padding-right:15px;
        position:relative;

        &:hover,
        &:focus {
            color:$secondary;

            &:after {
                background-color: $secondary;
            }
        }

        &:after {
            content:'';
            -webkit-mask-image:url(../../img/question.svg);
            mask-image:url(../../img/question.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            -webkit-mask-position:center;
            mask-position: center;
            -webkit-mask-size:18px 18px;
            mask-size:18px 18px;
            background-color:$link;
            position:absolute;
            right:0;
            top:50%;
            transform: translateY(-50%);
            width:18px;
            height:18px;
            display: block;
            transition: $transition;
        }
    }

    /* Tone Color */
    .tone {
        padding-left:27px;
        position: relative;
        margin: 0 0 9px 0;
        transition: $transition;
        
        &:before {
            content:'';
            position:absolute;
            width:16px;
            height:16px;
            border-radius: 100%;
            left:3px;
            top:5px;
        }

        &.color-gray:before { background-color: $secondarydark; }
        &.color-beige:before  { background-color: $beige; }
        &.color-bluedream:before  { background-color: $bluedream; }
    }

    /* Attr/Value */
    .column-attr {
        font-size: $f10;
        letter-spacing: $ls10;
        font-weight: 700;
        padding:6px 0 0 0;
        margin:0 0 16px 0;
    }

    .column-value {

        a {
            padding:0 !important;
            line-height: $lh !important;
        }
    
        span {
            display: block;
            margin:0 0 9px 0;
            transition: $transition;
        }
    }

    /* Sizechart */
    .sizechart-row {
        display: flex;
        flex-direction: column;        
        gap:24px;

        @media( max-width:$md ) {

            .sizechart-columns:first-child .sizechart-column .sizechart-image {
                height:40px;
            }
        }
    }

    .sizechart-columns {
        display:flex;
        justify-content: space-between;
        gap:10px;        
        text-align: center;        

        @media( max-width:$md ) {
            gap:20px;
            justify-content: space-evenly;
        }

        .sizechart-column {                                           

            .sizechart-dog,
            .sizechart-cat {
                transition: $transition;
                cursor: pointer;     
                margin-bottom:22px;

                @media( max-width:$md ) {
                    margin-bottom: 8px;
                }

                &:hover {
                    opacity:0.6;
                }

                &.sizechart-xs a .sizechart-image {
                    width:24px;
                }

                a {
                    color:$secondarydark;
                    padding:0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .sizechart-image {
                height:60px;
                width:100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin-bottom: 14px;

                @media( max-width:$md ) {
                    align-items: center;
                }
            }

            .sizechart-description {
                line-height: 18px;
                font-size: $h6;
                letter-spacing: $lsh6;        
                font-weight: 600;
            }
        }
    }

    .sizechart-title {
        font-size:$h4;
        letter-spacing: $lsh4;
        font-weight: bold;       
        color:$black; 
        margin-bottom:38px;

        @media( max-width:$md ) {
            margin-bottom: 10px;
        }
    }

    /* Light Column */
    .columns {
        display:flex;
        gap:$spacing;

        .gap-none {
            gap:0;
        }

        &.gap-full {
            gap:$spacing;
        }

        &.gap-half {
            gap:$half-spacing;
        }

        &.gap-one-half {
            gap:48px;
        }

        &.gap-big {
            gap:80px;
        }

        &.columns-down {
            flex-direction: column;
        }

        &.children-equal {
        
            & > * {
                flex:1;
            }
        }
    }

    .column-equal {
        flex:1;
    }

    /* Mobile Only */
    .mobile-align-left {

        @media( max-width:$sm ) {
            text-align: left;
        }
    }

    /* Border Radius */
    .radius8 {
        border-radius: 8px;
    }

    /* Letter spacing */
    .letterspacing0 {
        letter-spacing: 0;
    }

    /* Warning */
    .warning {        

        strong {
            position:relative;
            padding-left:38px;

            &:after {
                content:'';
                -webkit-mask-image:url(../../img/warning.svg);
                mask-image:url(../../img/warning.svg);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat; 
                -webkit-mask-position:center;
                mask-position: center;
                -webkit-mask-size:40px 36px;
                mask-size:40px 36px;
                background-color:$orange;
                position:absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
                width:40px;
                height:36px;
                display: block;
                transition: $transition;        
            }
        }
    }     

    /* Color Prefix */
    .color-prefix-gray {
        position: relative;
        margin-bottom: 0 !important;

        &:before {
            content:'';
            width:28px;
            height:28px;
            border-radius: 100px;
            background-color: $secondarydark;
            display: inline-block;
            margin-right: 13px;
        }
    }

    .color-prefix-beige {
        position: relative;
        margin-bottom: 0 !important;

        &:before {
            content:'';
            width:28px;
            height:28px;
            border-radius: 100px;
            background-color: $beige;
            display: inline-block;
            margin-right: 13px;
        }
    }

    .color-prefix-blue {
        position: relative;
        margin-bottom: 0 !important;

        &:before {
            content:'';
            width:28px;
            height:28px;
            border-radius: 100px;
            background-color: $bluedream;
            display: inline-block;
            margin-right: 13px;
        }
    }

    /* Choices Selector */
    .choices {
        margin-bottom: 0 !important;

        .choices__inner {
        
        }

        .choices__list.choices__list--dropdown {
        
            .choices__input.choices__input--cloned {
                border-radius: 0 !important;
            }
        }

        & + #dogfinder {
            position: static !important;
            padding:$spacing !important;
            border:1px solid $hairline;
            width:100% !important;

            @media( max-width:$sm ) {
                padding:$half-spacing !important;
            }
            
            .row {
                margin-left:0;
                margin-right: 0;
            }

            .vc_row {
                margin-left:0;
                margin-right: 0;
                display: flex;
                gap:$spacing;
                flex-wrap:wrap;

                @media( max-width:$sm ) {
                    flex-direction:column;
                }

                .vc_col-sm-6,
                .vc_col-sm-12 {
                    flex:1; 
                }
            }

            .text-center {
                text-align: center;
            }

            #dogfinder {
                max-width:800px !important;
            }

            .pet-bed-dim {
                margin: 0 auto;
            }

            .dogfinder-right {
                margin:0 auto;
                width: 100%;
            }

            h1, h2, h3, h4, h5, h6 {
                font-weight:700;
            }

            p,
            .dog-data p {
                font-size: $h5;
                letter-spacing: $lsh5;
                margin-bottom: $half-spacing;
            }
        }
    }

    /* Showmore */
    .showmore-content {
        transition: all .2s ease 0s;
        overflow: hidden;

        &.show {
            margin-bottom:24px;
        }
    }

    .showmore-wrapper {
        display: flex;
        position: absolute;        
        bottom:0;
        right: 0;
        left: 0;
        width: 100%;
        text-align: right;
    }

    .showmore-overlay {
        background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 25%,#fff);
        flex: 1;
    }

    .showmore-button {
        position: relative;
        cursor: pointer;        
        color: $link;
        /*padding-right: 12px;*/
        background-color: #fff;
        font-size: $h5;
        letter-spacing: $lsh5;
        transition: all .2s ease 0s;
        font-weight: 700;
    }
    
    body .wp-block-group__inner-container.is-layout-constrained:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
        max-width: none;
    }