@use "global" as *;

/*#pet {

    .megamenu-wrapper {
        display: block !important;                                         
        visibility: visible !important;
        opacity: 1 !important;
    }

    #petlounge {
        opacity:1 !important;
        visibility: visible !important;
    }

    #reasonforchoosing {
        opacity: 0 !important;
        visibility: hidden !important;
    } 
}*/

/* Header */
    .admin-bar {
    
        .site-header {
            top:32px;

            @media( max-width:782px ) {
                top:46px;
            }

            .header-top {
            
                .left-menu {

                    @media( max-width:$md ) {
                
                        #site-navigation {
                            top:84px;
                            height:calc( 100% - 84px );
                        }
                    }

                    @media( max-width:782px ) {
                
                        #site-navigation {
                            top:98px;
                            height:calc( 100% - 98px );
                        }
                    }
                }
            }
        }
    }

    .site-header {
        position:fixed;        
        top:0;
        left:0;
        width:100%;
        z-index:11000;        
        background-color: $black;

        /*&.transparentheader {
            
            .header-top {

                .left-menu {        

                    .burger-wrapper {
                    
                        .burger-inner {

                            .burgerbar {
                                background-color: $white;
                            }
                        }
                    }                

                    #site-navigation {
                        .inside-navigation {
                            .main-nav {
                                ul.desktop-primary-menu {
                                    & > li {
                                        & > a {
                                            color:$white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .right-menu {                        

                    .header-top-search-wrapper {
                        a {
                            .gp-icon {                                
                                svg {
                                    fill:$white;
                                }
                            }
                        }
                    }

                    #secondary-navigation {
                        .main-nav {
                            ul.secondary-menu {
                                & > li {
                                    & > a {
                                        color:$white;
                                    }

                                    &#menu-search-wrapper {
                                    
                                        a {
                                            background-color: $white;
                                        }
                                    }

                                    &#menu-cart-wrapper {
                                    
                                        a {
                                        
                                            @media( max-width:$md ) {
                                                background-color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }            
        }*/   

        .header-top {
            display: flex;
            width:100%;                
            align-items: center;
            padding:5px 32px;

            @media( max-width:$md ) {
                padding:4px 8px 4px 8px;
            }

            .left-menu {
                flex:1;

                .burger-wrapper {           
                    padding:14px 12px;
                    width:44px;
                    height:44px;   
                    cursor: pointer;
                    display: none;

                    @media( max-width:$md ) {
                        display: block;
                    }                        
                    
                    &:hover,
                    &:focus {                        

                        .burger-inner {

                            .burgerbar {
                                &:nth-child(1) { top:-1px; }
                                &:nth-child(3) { bottom:-1px; }
                            }
                        }
                    }

                    &.active {

                        .burger-inner {
                        
                            .burgerbar {
                            
                                &:nth-child(1) { transform: rotate(45deg) translate(1.5px, -2px); width:22.6px; top:0; }
                                &:nth-child(2) { display: none; }
                                &:nth-child(3) { transform: rotate(-45deg) translate(1.5px, 2px); width:22.6px; bottom:0; }
                            }
                        }
                    }

                    .burger-inner {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        .burgerbar {
                            background-color: $white;
                            width:20px;
                            height:2px;
                            position:absolute;
                            left:0;
                            transition: $transition;
                            border-radius: $border-radius;

                            &:nth-child(1) { top:1px; transform-origin:left top; }
                            &:nth-child(2) { top:50%; transform: translateY(-50%); }
                            &:nth-child(3) { bottom:1px; transform-origin:left bottom; }
                        }
                    }
                }

                #site-navigation {
                    transition: $transition;

                    @media( max-width:$md ) {
                        position:fixed;                            
                        top:52px;
                        left:-100%;
                        background-color: $lightgray;
                        width:360px;
                        height:calc( 100% - 52px );
                        box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.08);
                        overflow-y:scroll;


                        &.active {
                            left:0;
                        }
                    }

                    .inside-navigation {
                        .main-nav {
                            
                            /* Mobile Menu */
                            .mobile-primary-menu {
                                display: none;
                                padding:$half-spacing 0 0 0;

                                @media( max-width:$md ) {
                                    display: flex;
                                }

                                .mobile-menu-title {
                                    font-size:$h6;
                                    letter-spacing: $lsh6;
                                    flex:1;
                                    text-align: center;
                                    cursor: pointer;
                                    transition: $transition;
                                    padding:18px 15px 19px;

                                    &:hover,
                                    &:focus {
                                        background-color:$secondary;
                                    }

                                    &.active {
                                        background-color: $white;
                                    }
                                }
                            }

                            /* Desktop Menu */
                            ul.desktop-primary-menu {
                                display: flex;
                                margin:0;
                                list-style-type: none;
                                
                                & > li {                                

                                    & > a {
                                        font-size:$h6;                                                                                        
                                        line-height: $lh;
                                        letter-spacing: $lsh6;                                              
                                        padding:16px 12px 18px 11px;
                                        display: block;
                                        color:$white;

                                        @media( max-width:$md ) {
                                            display: none;
                                        }

                                        &:hover,
                                        &:focus {
                                            color:$link;
                                        }
                                    }
                                }
                            }

                            /* Mobile Bottom Menu */
                            .mobile-bottom-menu {
                                display: none;
                                font-size: $h6;
                                letter-spacing: $lsh6;
                                padding:50px $half-spacing;

                                @media( max-width:$md ) {
                                    display: block;
                                }

                                a {
                                    color:$black;

                                    &:hover,
                                    &:focus {
                                        color:$link;
                                    }
                                }

                                .myaccount-bottom-menu-wrapper {
                                    margin:0 0 31px 0;
                                
                                    a {
                                        display: flex;
                                        align-items: center;
                                    
                                        svg {
                                            margin:0 6px 0 0;
                                        }
                                    }
                                }

                                .service-bottom-menu-wrapper {
                                
                                    a {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .logo-wrapper {
                padding-left:$half-spacing;
                padding-right:$half-spacing;

                .site-logo {
                    width:188px;
                    padding:4px 0 0 0;

                    @media( max-width:$md ) {
                        width:147px;
                        padding:5px 0 0 0;
                    }
                }
            }

            .right-menu {
                display:flex;
                align-items: center;
                flex:1;
                display: flex;
                justify-content: flex-end;

                .header-top-search-wrapper {
                    a {                            

                        &:hover,
                        &:focus {
                            .gp-icon {
                                svg {
                                    fill:$link;   
                                }
                            }                                
                        }

                        .gp-icon {
                        
                            svg {
                                fill:$white;
                                width:16px;
                                height:16px;
                                transition: $transition;
                            }
                        }
                    }
                }

                #secondary-navigation {
                    background-color:transparent;                        

                    .main-nav {

                        ul.secondary-menu {
                            margin:0;
                            display: flex;

                            li {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &:first-child {
                                    a {
                                        padding-left:0;
                                    }
                                }

                                &:last-child {
                                    a {
                                        padding-right:0;
                                    }
                                }

                                &#menu-search-wrapper {
                                
                                    a {
                                        display: block;
                                        width:44px;
                                        height:44px;
                                        background-color: $white;
                                        -webkit-mask-image:url(../../img/search.svg);
                                        mask-image:url(../../img/search.svg);
                                        -webkit-mask-repeat: no-repeat;
                                        mask-repeat: no-repeat; 
                                        -webkit-mask-position:center;
                                        mask-position: center;
                                        -webkit-mask-size:16px 16px;
                                        mask-size:16px 16px;
                                        font-size: 0;

                                        @media( max-width:$md ) {
                                            -webkit-mask-size:20px 20px;
                                            mask-size:20px 20px;
                                        }

                                        &:hover,
                                        &:focus {
                                            background-color: $link;
                                        }
                                    }
                                }

                                &#menu-myaccount-wrapper {

                                    @media( max-width:$md ) {
                                        display: none;
                                    }
                                }

                                &#menu-cart-wrapper {
                                
                                    a {
                                            
                                            display: block;
                                            width:44px;
                                            height:44px;
                                            background-color: $white;
                                            -webkit-mask-image:url(../../img/cart.svg);
                                            mask-image:url(../../img/cart.svg);
                                            -webkit-mask-repeat: no-repeat;
                                            mask-repeat: no-repeat; 
                                            -webkit-mask-position:center;
                                            mask-position: center;
                                            -webkit-mask-size:19px 24px;
                                            mask-size:19px 24px;
                                            font-size: 0;

                                            &:hover,
                                            &:focus {
                                                background-color: $link;
                                            }    
                                    }

                                    .cart-count {
                                        background-color: #fff;
                                        border-radius: 1000px;
                                        width: 14px;
                                        height: 14px;
                                        font-size: 8px;
                                        line-height: 13px;
                                        text-align: center;
                                        position: absolute;
                                        font-weight: bold;
                                        right: 35px;
                                        bottom: 21px;
                                        padding-left: 2px;

                                        @media( max-width:$md ) {   
                                            right: 10px;
                                            bottom: 15px;
                                        }
                                    }
                                }

                                a {
                                    color:$white;
                                    font-size:$h6;
                                    line-height: $lh;
                                    letter-spacing: $lsh6;
                                    padding-left:15px;
                                    padding-right:0;

                                    &:hover,
                                    &:focus {
                                        color:$link;
                                        background-color:transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-search-wrapper {
            position: absolute;
            z-index:1000;
            width:100vw;
            height:100vh;
            top:0;
            left:0;            
            background-color:rgba(0,0,0,0.5);
            display: none;

            .header-search-inner {
                position: absolute;
                z-index:1001;
                width:100%;
                top:0;
                left:0;                
                background-color: $white;
                display:none;
                height:158px;
            
                .header-search-container {
                    padding:$spacing 0;
                    max-width: $default-width;
                    margin-left:auto;
                    margin-right:auto;
                    
                    @media( max-width:$sm ) {
                        max-width: $mobile-default-width;
                    }

                    .header-search-form-wrapper {
                        display: none;                        

                        form {                        
                            display: flex;
                            align-items: center;
                            padding:$half-spacing 0;                        
                            gap:$half-spacing;

                        
                            input[type="text"] {
                                border:none;                            
                                padding:$half-spacing 0;
                                font-size: $h4;
                                letter-spacing: $lsh4;                            
                                border-radius: 0;
                                flex:1;
                                border-bottom:1px solid $dark;
                                min-width:0;

                                &:focus {
                                    border-color:$link;
                                }
                            }

                            input[type="submit"] {
                                font-weight: bold;                            

                                &:hover,
                                &:focus {                                
                                    border-radius: 100px;
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }

    /* Transparent Header */
    /*.transparentheader.site-header {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        z-index: 1000;

        .admin-bar & {
            top:32px;

            @media( max-width:$md ) {

                .header-top .left-menu #site-navigation {
                    height:calc( 100vh - 32px - 54px );
                    top:calc( 32px + 54px );
                }
            }

            @media( max-width:782px ) {
                top:46px;

                .header-top .left-menu #site-navigation {
                    height:calc( 100vh - 46px - 52px );
                    top:calc( 46px + 52px );
                }
            }
        }
    }*/

    /* Megamenu */
    .site-header {

        .header-top {

            .left-menu {

                #site-navigation {

                    .inside-navigation {
                        position:static;

                        .main-nav {
                            position: static;

                            ul.desktop-primary-menu {

                                @media( max-width:$md ) {
                                    display: block;
                                }

                                & > li {
                                    position: static;

                                    /* Desktop */
                                    .megamenu-wrapper {                                           
                                    
                                        .submenu-content-wrapper {
                                        
                                            .container {
                                            
                                                .submenu-content {
                                                
                                                    .submenu-accordion-title {
                                                        transition: $transition;
                                                    
                                                        svg:first-child {
                                                            display: none;
                                                            position: absolute;
                                                            opacity: 0;
                                                            left:24px;
                                                            top:50%;
                                                            transform: translateY(-50%);
                                                            transition: $transition;
                                                        }                                               

                                                        svg:last-child {
                                                            position: absolute;
                                                            right:20px;
                                                            top:50%;
                                                            transform: translateY(-50%);
                                                            transition: $transition;
                                                        }
                                                    }

                                                    .submenu-accordion-content {
                                                            
                                                        .sub-submenu-accordion-wrapper  {                                                            
                
                                                            .sub-submenu-accordion-title  {    

                                                                svg {
                                                                    display: none;
                                                                    position: absolute;
                                                                    right:20px;
                                                                    top:50%;
                                                                    transform: translateY(-50%) rotate(90deg);
                                                                    transition: $transition;
                                                                }
                                                            }

                                                            .sub-submenu-accordion-content  {

                                                                .new-menu {
                                                                    color: red;
                                                                    display: inline-block;
                                                                }

                                                                @media( min-width:992px ) {
                                                                    display:  block !important;

                                                                    &.columns {
                                                                        display: flex !important;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    /* Mobile */
                                    @media( max-width:$md ) {
                                        width:100%;

                                        &.active {
                                            .megamenu-wrapper {
                                                display: block;
                                                opacity: 1;
                                                visibility: visible;
                                                position:static;
                                            }
                                        }

                                        .megamenu-wrapper {
                                            padding:0;
                                            display: none;

                                            .submenu-title-wrapper {
                                                display: none;
                                            }

                                            .submenu-content-wrapper {
                                                padding:0;
                                                border-bottom: 1px solid #cccccc;

                                                .container {
                                                    display: block;
                                                    margin:0;
                                                    max-width: 100%;

                                                    .submenu-content {
                                                        opacity: 1;
                                                        visibility: visible;
                                                        border-bottom: 1px solid #cccccc;                                                        

                                                        &.active {
                                                            
                                                            .submenu-accordion-title {

                                                                svg:last-child {
                                                                    opacity:0;
                                                                }
                                                            }

                                                            .submenu-accordion-content {
                                                                left:0;

                                                                .submenu-accordion-title {
                                                                    padding-left:48px;

                                                                    svg {
                                                                        opacity:1;
                                                                        display: block;
                                                                    }                                                                
                                                                }
                                                            }
                                                        }
                                                        
                                                        .submenu-accordion-title {
                                                            padding:15px 24px;
                                                            cursor: pointer;
                                                            position: relative;     

                                                            svg {
                                                                display: block;
                                                            } 
                                                        }
                                                    
                                                        .submenu-accordion-content {
                                                            position: absolute;
                                                            left:-100%;
                                                            transition: $transition;
                                                            background-color: $white;
                                                            z-index: 1;
                                                            top:0;
                                                            width: 100%;
                                                            /*height:100%;*/
                                                            overflow-x: hidden;
                                                            overflow-y:scroll;

                                                            .submenu-accordion-title {
                                                                border-bottom:1px solid #cccccc;

                                                                &:hover,
                                                                &:focus {
                                                                    
                                                                    svg {
                                                                        left:15px;
                                                                    }
                                                                }

                                                                
                                                            }
                                                            
                                                            .sub-submenu-accordion-wrapper  {
                                                                flex:1;

                                                                &.active {      
                                                                    border-bottom:1px solid #cccccc;                                                              
                                                            
                                                                    .sub-submenu-accordion-title {                                                                        
                                                                        border-bottom:2px solid #cccccc;

                                                                        svg {
                                                                            transform: translateY(-50%) rotate(-90deg);
                                                                        }
                                                                    }
                                                                }

                                                                &:not(.active) {

                                                                    .sub-submenu-accordion-content {
                                                                        display: none;
                                                                    }
                                                                }

                                                                .sub-submenu-accordion-title  {    
                                                                    border-bottom:1px solid #cccccc;
                                                                    font-size: $h5;
                                                                    letter-spacing: $lsh5;
                                                                    font-weight: 400;
                                                                    margin:0;
                                                                    padding: 15px 24px;
                                                                    cursor: pointer;
                                                                    position: relative;   

                                                                    svg {
                                                                        display: block;
                                                                    }
                                                                }

                                                                .sub-submenu-accordion-content  {                                                                    
                                                                    padding:24px 24px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &:hover {
                                        
                                        .megamenu-wrapper {
                                            display: block;
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .megamenu-wrapper {
        position:absolute;
        width:100%;
        left:0;
        padding:11px $spacing;
        background-color: #fff;
        box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.08);        
        display: none;
        visibility: hidden;
        opacity: 0;        
        transition: $transition;
        font-size: $h5;
        letter-spacing: $lsh5;

        @media( max-width:$md ) {
            width:100%;
            box-shadow:none;
        }

        &.megamenu-grey {
            background-color: $lightgray;
            /*visibility: visible;
            display: block;
            opacity: 1;*/

            @media( max-width:$md ) {
                background-color: $white;
            }
        }

        .submenu-title-wrapper {
            display: flex;

            .submenu-title {
                margin-right:25px;
                padding-bottom:15px;
                cursor: pointer;
                position: relative;
                font-size: $h6;
                letter-spacing: $lsh6;
                
                &:last-child {
                    margin-right:0;
                }

                &:hover,
                &.active {

                    &:before {
                        transform: scaleX(1);
                    }
                }

                &:before {
                    content:'';
                    border-bottom:2px solid #808080;
                    transform: scaleX(0);
                    transition: all 0.35s ease-in-out 0s;
                    position: absolute;
                    top:100%;
                    width:100%;
                }
            }            
        }

        .submenu-content-wrapper {
            padding:32px 0 42px;
        
            .container {
                display: grid;
                grid-template-columns: 1fr;
                max-width: min(100vw - 112px,1024px); 
            
                .submenu-content {
                    opacity:0;
                    visibility: hidden;
                    transition: $transition;
                    grid-row-start: 1;
                    grid-column-start: 1;

                    &.active {
                        opacity:1;
                        visibility: visible;
                    }

                    .submenu-accordion-title {
                        display: none;

                        @media( max-width:$md ) {
                            display: block;
                        }
                    }

                    .submenu-accordion-content {
                    
                        
                    }

                    
                }
            }
        }

        #sofalist {
            /* This one is very unique:
                - first child (sofa icons) is normal
                - sidebar inside first child is copied as 2-3-4-5th child
                - On mobile, 2-3-4-5 child act like accordion INSIDE child. Normally child open by sliding out from the left. This one would open below like accordion.                
               do not copy elsewhere */

            .submenu-accordion-content {

                padding-bottom: 130px;
            
                .columns {        

                    & > .sub-submenu-accordion-wrapper {
                    
                        .sub-submenu-accordion-title {
                            display: none;
                        }

                        .sub-submenu-accordion-content {

                            @media( max-width:$md ) {
                                background-color: $lightgray;

                                .sofalist-row {
                                    flex-direction: column;

                                    .sofalist-column {
                                    
                                        .card {
                                            border-radius: 12px;

                                            &.columns {
                                                justify-content: flex-start;
                                                flex-wrap: wrap;
                                                padding:36px 12px 16px 12px;
                                        
                                                .column-equal {
                                                    flex: 0 0 calc((100% - 32px)/3);
                                                }
                                            }
                                        }                             
                                    }                                    
                                }
                            }   
                        }                        
                    }
            
                    .sub-submenu-accordion-wrapper {
                        flex:1;

                        .sub-submenu-accordion-title {
                            font-size: $h6;
                            letter-spacing: $lsh6;
                            font-weight: 700;
                            margin:0 0 $half-spacing 0;                            
                        }

                        .sub-submenu-accordion-content {
                            padding:0 $half-spacing 0 0;
                            margin:0 0 $spacing 0;

                            @media( max-width:$md ) {
                                margin:0;
                            }

                            .columns {

                                .column-equal {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    .sofalist-image {
                                    
                                    }

                                    .sofalist-title {
                                        font-size:$f10;
                                        letter-spacing: $ls10;
                                    }
                                }
                            }

                            .sofalist-row {
                                margin-bottom: 24px;
                                display: flex;
                                gap:$spacing;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                & > a {
                                    color:$secondarydark;
                                    
                                    &:hover,
                                    &:focus {
                                        color:$link;
                                    }
                                }
                                
                                .sofalist-title {
                                    margin-bottom:7px;
                                    font-size: $h6;
                                    letter-spacing: $lsh6;
                                    font-weight: 700;
                                }

                                a {
                                    color:$secondarydark;

                                    &:hover,
                                    &:focus {
                                        color:$link;
                                    }
                                }  
                            }

                            .sofalist-column {
                                flex:1;
                                display: flex;
                                flex-direction: column;

                                .card {
                                    flex:1;
                                    text-align: center;
                                    padding:20px 20px 8px 20px;

                                    @media( max-width:$md ) {
                                        padding:14px 14px 8px 14px;
                                    }
                                }
                            }
                        }
                    }    

                    .column-side {
                        width:176px;                        

                        @media( max-width:$md ) {
                            display: none;
                        }

                        a {
                            display: block;
                            margin-bottom: 8px;

                            &:last-child {
                                margin-bottom:0;
                            }
                        }

                        .sub-submenu-accordion-wrapper {
                            margin-bottom:$half-spacing;

                            @media( max-width: $md ) {
                                margin:0;
                            }

                            &:last-child {
                                margin:0;
                            }

                            .sub-submenu-accordion-title {
                                margin:0 0 15px 0;
                                flex:0;
                            
                                .title {

                                    @media( max-width: $md ) {
                                        font-weight: 400;
                                    }
                                }
                            }

                            .sub-submenu-accordion-content {
                                padding:0;
                                margin:0;
                            
                                a {
                                    font-size: $h6;
                                    letter-spacing: $lsh6;
                                    margin:0 0 12px 0;

                                    &:last-child {
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }                    
                }
            }

            /* Only for mobile, special menu, duplicate from siblings' sidebar, see above */
            & + #mobile-column-side {
                display: none !important;
                border-bottom:none;

                @media( max-width:$md ) {
                    display: block !important;                
                }
            
                .submenu-accordion-content {
                    position:static !important;

                    .sub-submenu-accordion-wrapper {
                    
                        .sub-submenu-accordion-title {
                        
                        }

                        .sub-submenu-accordion-content {
                            padding:18px 24px 18px 24px;

                            .new-menu {
                                color: red;
                                display: inline-block;
                            }
                        
                            a {
                                display: block;
                                margin-bottom: 19px;

                                &:last-child {
                                    margin-bottom:0;
                                }
                            }
                        }
                    }
                }
            }
        }

        #sofa-blog,
        #pet-blog,
        #pet-accessories-mobile,
        #pet-furusato-mobile {

            .submenu-accordion-content {
                position:static !important;

                .sub-submenu-accordion-wrapper {
                    padding:16px 32px;
                    border-radius: 11px;
                    display: inline-block;

                    @media( max-width:$md ) {
                        padding:0;
                        border-radius: 0;
                        display: block;                        
                    }
                
                    .sub-submenu-accordion-title {
                        font-weight: 700;
                        font-size: $f10;
                        letter-spacing: $ls10;
                        padding:6px 0 0 0;
                        margin:0 0 16px 0;

                        /*svg {
                            transform: translateY(-50%) rotate(0deg) !important;
                        }*/
                    }

                    &.active {
                    
                        .sub-submenu-accordion-title {

                            /*svg {
                                transform: translateY(-50%) rotate(-90deg) !important;
                            }*/
                        }
                    }

                    .sub-submenu-accordion-content {
                        /*padding:18px 24px 18px 24px;*/
                        padding:0;
                    
                        a {
                            display: block;
                            /*margin-bottom: 19px;*/
                            margin-bottom:8px;

                            &:last-child {
                                margin-bottom:0;
                            }
                        }
                    }
                }
            }
        }

        #sofa-blog {
        
            .submenu-accordion-content {

                .sub-submenu-accordion-wrapper {
                    background-color: $white;
                }
            }
        }

        #pet-blog {
        
            .submenu-accordion-content {                

                .sub-submenu-accordion-wrapper {
                    background-color: $lightgray;

                    @media( max-width:$md ) {
                        background-color: $white;
                    }
                }
            }
        }
        

        #petlounge {

            .submenu-accordion-content {

                height: 100%;

                .columns {

                    @media( max-width:$md ) {
                        display: block;    
                    }         
                }   
            }

            #petlounge-bedtypes {

                .sub-submenu-accordion-title {
                    display: none;

                    @media( max-width:$md ) {
                        display: block;
                    }
                }            
            }
        
            #petlounge-sizechart {
                flex:0 0 422px;

                .sub-submenu-accordion-title {
                    display: none;

                    @media( max-width:$md ) {
                        display: block;
                    }
                }                
            }

            #petlounge-card-mobile-wrapper {                

                a {
                    flex:1;
                }

                @media( max-width:$md ) {
                    display: flex;
                    gap:8px;

                    .card {
                        height:100%;

                        .card-title {
                            font-size: $f10;
                            letter-spacing: $ls10;
                        }
                    }
                }
            }

            #petlounge-colorpurposeaccessories {
                margin:0 0 20px 0; 

                @media( max-width:$md ) {
                    margin:0;
                }

                & > :nth-child(2) {
                    min-width: 91px;
                }

                #petlounge-purpose {

                    @media( max-width: $md ) {
                        margin-bottom: 150px;
                    }

                    a {
                        /*text-decoration: underline;*/
                    }
                }
            }

            #petlounge-card {

                @media( max-width:$md ) {
                    /*display: none;*/
                    display: flex;
                }
            
                a {
                    flex:1;
                }

                .card {
                    flex-direction: row;
                    padding:3px 4px 0px 4px;
                    border-radius: 12px;
                    position: relative;  

                    .card-image {
                        width:73px;
                        margin-right: 14px;
                        padding:2px;
                    }

                    .card-title {
                        flex:1;
                        text-align: left;
                        margin:0;
                        padding-bottom:3px;

                        .card-title-text {
                            font-size:$h5;
                            letter-spacing: $lsh5;                            
                        }

                        .card-title-subtext {
                            font-size:$f10;
                            letter-spacing: $ls10;
                        }
                    }
                }
            }

            & > .columns {
                margin:0 0 6px 0;
            }

            .soft-link {
                display: block;
                text-align: right;
            
                @media( max-width:$md ) {
                    display: none;
                }
            }

            /* Mobile - Change Order */
            @media( max-width:$md ) {
            
                & > .submenu-accordion-content {
                
                    & > .columns {
                    
                        & > .column-equal {
                            display: flex;
                            flex-direction: column;

                            & > #petlounge-colorpurposeaccessories {
                                order:1;
                                display: flex;
                                flex-direction: column;
                                gap:0;

                                & #petlounge-purpose {
                                    order:-1;
                                }
                            }
                        }
                    }
                }
            }
        }

        #reasonforchoosing {

            .submenu-accordion-content {
                height: 100%;
            }
        
            p {
                font-size: $h6;
                letter-spacing: $lsh6;
            }

            img {
                width:100%;
            }

            .column-side {
                width:176px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media( max-width:$md ) {
                    display: block;
                    width: auto;
                }

                a {
                    display: block;
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom:0;
                    }
                }

                .sub-submenu-accordion-wrapper {
                    margin-bottom:$spacing;

                    @media( max-width: $md ) {
                        margin:0;
                    }

                    &:last-child {
                        margin:0;

                        @media( max-width: $md ) {
                            margin-bottom: 150px;
                        }
                    }

                    .sub-submenu-accordion-title {
                    
                        .title {

                            @media( max-width: $md ) {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .submenu-accordion-content {
            
                & > .columns {  

                    @media( max-width:$md ) {
                        display: block;
                    }
                
                    & > .sub-submenu-accordion-wrapper {
                        flex:1;

                        .sub-submenu-accordion-title {
                            display: none;

                            @media( max-width:$md ) {
                                display: block;
                            }
                        }
                    
                        & > .columns {
                            padding:$half-spacing $spacing;
                            align-items: center;

                            @media( max-width:$md ) {                                
                                border-radius: 0;
                                flex-direction: column;
                            }
                        
                            .column:first-child {
                                width:305px;
                                margin-bottom: 22px;

                                p {
                                    margin-bottom:10px;
                                }
                            }

                            .column:last-child {
                                flex:1;

                                & > .card {
                                    padding:11px $half-spacing 9px;
                                    gap:12px;   

                                    @media( max-width:$md ) {
                                        flex-direction: column;
                                        align-items: center;
                                        background-color: transparent !important;
                                        border-radius: 0;
                                        padding:0;

                                        & > .column-equal {
                                            background-color: $white;
                                            border-radius: 11px;
                                            padding:11px $half-spacing 9px;
                                            width:100%;
                                            text-align: center;

                                            img {
                                                width:auto;
                                                margin:0 auto 5px;
                                            }
                                        }
                                    }
                                }

                                p {
                                    font-size: $f10;
                                    letter-spacing: $ls10;
                                    margin-bottom: 8.5px;
                                }

                                img {
                                    display: block;
                                    margin:0 0 5px 0;
                                }

                                a {
                                    color:$secondarydark;
                                    font-size:$h6;
                                    letter-spacing: $lsh6;

                                    &:hover,
                                    &:focus {
                                        color:$link;

                                        &:after {
                                            background-color: $link;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }

        a {
            color:$black;
            font-size: $h5;
            letter-spacing: $lsh5;

            &:hover,
            &:focus {
                color:$link;
            }

            &.soft-link {
                color:$secondarydark;
                font-size: $h6;
                letter-spacing: $lsh6;
                line-height: $lh;

                &:hover,
                &:focus {
                    color:$link;
                }
            }
        }
        
    }

    .menu-new {
        color: #fff;
        background-color: #e93121;
        text-align: center;
        border-radius: 7px;
        display: inline-block;
        padding: 0px 5px 1px;
        margin: 2px 0px;
        font-size: 11px;
        font-weight: 800;
        position: absolute;
        top: -12px;
    }
    
    

    

