@use "global" as *;

/* Attribute */
    .productattribute-wrapper {
        margin-bottom:$double-spacing;
        text-align: center;

        .productattribute-image {
            margin-bottom: 14px;
        }

        .productattribute-selection {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 14px;

            .attribute-selection {
                border: 2px solid $black;
                width: 36px;
                height: 36px;
                line-height: 32px;
                margin: 0 4px;
                text-align: center;
                text-transform: uppercase;
                transition: all .2s ease 0s;
                cursor: pointer;
                color: $black;
                border-radius: 100px;
                font-weight: 700;
                padding-left:2px;

                &:hover,
                &.selected {
                    background-color: $black;
                    color: $white;
                }
            }
        }

        .productattribute-name {
            font-size: $h5;
            letter-spacing: $lsh5;
            margin: 0 0 1px;
            font-weight: bold;
        }

        .productattribute-price {
            font-size: $h5;
            letter-spacing: $lsh5;
        }

        .productattribute-content {
            margin-bottom: 21px;
        }

        .productattribute-sale {
            text-align: center;
            color: #f9423a;
            font-weight: 600;
            font-size: $h5;
            letter-spacing: $lsh5;
        }

        .productattribute-sub {
            font-size: $h6;
            letter-spacing: $lsh6;
            text-align: center;
            margin-bottom: 14px;
        }

        .productattribute-content {            
            font-size: $f17;
            letter-spacing: $ls17;
            font-weight: 300;
            text-align: center;
            margin-bottom: 14px;
        }

        .productattribute-action {
            text-align: center;
        }

    }

    

