@use "global" as *;

/* Archive / Collection Page */

/* Filter */
    .popup-filter {
        cursor: pointer;
        transition:$transition;

        &:hover,
        &:focus {
            color:$link;
        } 
    }
    
    // Collection Filter - Color
    .collection-filter-color {

        .collection-filter-color-normal {
            font-size:$h6;
            letter-spacing:$lsh6;
            font-weight:bold;
            width:100%;
        }

        .collection-filter-color-water-resistant {
            display:flex;
            align-items: center;
            width:100%;
            margin-bottom: 4px;

            .collection-filter-color-water-resistant-image {
                width:21px;
                height:30px;
                background-image:url(../../img/woocommerce-archive/producticons.svg);
                margin-right:8px;
            }

            .collection-filter-color-water-resistant-heading {
                flex:1;
            
                .collection-filter-color-water-resistant-title {
                    font-size:$h6;
                    letter-spacing:$lsh6;
                    font-weight:bold;            
                }

                .collection-filter-color-water-resistant-subtitle {
                    font-size:$f10;
                    letter-spacing: $ls10;
                    color:$secondarydark;
                }
            }
        }
    
        .wc-block-checkbox-list {

            .normal,
            .water-resistant {
                display: flex;
                gap:8px;
                flex-wrap: wrap;
                margin-bottom: 20px;
            }            

            li {
                margin:0;
                width:16px;
            
                .wc-block-checkbox-list__checkbox {
                    margin:0;

                    label {
                    
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            margin:0;

                            &:checked + svg + .wc-block-components-checkbox__label img {                                
                                padding:2px;
                                border:2px solid $link;
                            }
                        }
                    
                        .wc-block-components-checkbox__label {
                            font-size:0;

                            img {
                                width:16px;
                                height:16px;
                                border-radius: 50%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }

    // Collection Filter - Category 
    .collection-filter-category {

        .wc-block-checkbox-list {         

            li {             
                margin-bottom: 12px;   
            
                .wc-block-checkbox-list__checkbox {
                    margin:0;

                    label {
                    
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 16px;
                            width: 16px;
                            margin:0;

                            

                            &:checked:before {                                

                            }

                            & + svg + .wc-block-components-checkbox__label {
                                position: relative;
                                padding-left:24px;
                            
                                &:before {
                                    content:'';
                                    width:16px;
                                    height:16px;
                                    position: absolute;
                                    left:0;
                                    top:2px;
                                    border-radius: 50%;
                                    border:1px solid $link;
                                    background-color: $white;
                                }

                                &:after {
                                    content:'';
                                    width:10px;
                                    height:10px;
                                    border-radius: 50%;
                                    background-color: $link;
                                    position: absolute;
                                    top:5px;
                                    left:3px;                                    
                                    display: none;
                                }
                            }

                            &:checked + svg + .wc-block-components-checkbox__label {

                                &::after {
                                    display: block;
                                }
                            }
                        }
                    
                        .wc-block-components-checkbox__label {
                            font-size:$h6;
                            letter-spacing: $lsh6;  
                        }
                    }
                }
            }
        }
    }  

    // Collection Filter - Price
    .collection-filter-price {

        display: block;

        .wc-block-components-price-slider__range-text .wc-block-components-formatted-money-amount {
            font-size:$h5;
            letter-spacing: $lsh5;
        }
    }
    

/* General */
    .woocommerce.archive {
        background-color: $lightgray;

        .swatch-promotionlabel {
            display: none;
        }

        .term-description {
            background-color: #fff;
            border-radius: 20px;
            padding: 30px;
            padding-bottom: 1px;
        } 
 
        .site-content .entry-content {
            padding-bottom: 188px;

            @media( max-width:$sm ) {
                padding-bottom:80px;
            }
        }

        .site-content .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.is-style-slim) {
            max-width: min(calc(100vw - 2 * 56px ), 1264px ) !important;

            @media( max-width:$sm ) {
                max-width: min(calc(100vw - 2 * $half-spacing ), 1264px ) !important;
            }   
        }

        .woocommerce-products-header {

            h1 {
                font-size: $h2;
                letter-spacing: $lsh2; 
                text-align: center;
                font-weight: 700;
                padding:45px 0 0 0;
                margin-bottom:90px;
            }
        }

        .woocommerce-collection-meta-wrapper {
            font-size: $h6;
            letter-spacing: $lsh6;
            color:$secondarydark;
            margin-bottom:$spacing;             

            .woocommerce-collection-meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:$spacing;
                width: 100%;
            }

            .container {
                display: flex;
                justify-content:space-between;
                flex-wrap:wrap;
                max-width: min(calc(100vw - 2 * 56px ), 1264px ) !important;

                @media( max-width:$sm ) {
                    max-width: min(calc(100vw - 2 * $half-spacing ), 1264px ) !important;
                }   

                p,
                select {
                    font-size: $h6;
                    letter-spacing: $lsh6;
                    color:$secondarydark;
                }

                select {
                    padding:0 12px 0 0;
                    border:none;
                    background-color: transparent;
                    background-position: right 0px center;
                    background-size:8px auto;

                    &:hover,
                    &:focus {
                        background-color: transparent !important;
                    }
                }

                .woocommerce-notices-wrapper {
                    width:100%;
                }

                .woocommerce-result-count,
                .woocommerce-ordering {
                    margin-bottom: 0;
                    float:none;
                }
            }        
        }

        ul.products {
            margin:0;
            display: flex;
            flex-wrap: wrap;
            gap:$half-spacing;

            &:before {
                display: none;
            }
        
            li.product {
                float:none;
                margin:0;
                width:calc( ( 100% - 48px ) / 4);
                display: flex;
                flex-direction: column;
                background-color: $white;
                border-radius: 24px;
                /*padding:48px 24px 33px;*/
                padding:24px 24px;
                text-align: center;

                @media( max-width:$md ) {
                    width:calc( ( 100% - 16px ) / 2 );
                }                

                .woocommerce-LoopProduct-link {
                    color:$black;

                    img {
                        margin-bottom: 24px;
                    }

                    .woocommerce-loop-product__title {
                        font-size: $h5;
                        letter-spacing: $lsh5;
                        font-weight: 700;
                        padding-top:0;
                        padding-bottom: 0px;
                    }

                    .woocommerce-cat-title {
                        font-size:$h6;
                        letter-spacing: $lsh6;
                    }

                    .jdgm-preview-badge {
                        margin-bottom: 3px;
                    
                        .jdgm-prev-badge__text,
                        .jdgm-preview-badge--with-link {
                            font-size: $h6;
                            letter-spacing: $lsh6;
                        }

                        .jdgm-star.jdgm-star {
                            font-size: $f10;
                            padding:0 2px 0 0 !important;
                        }

                        .jdgm-prev-badge__text {
                            visibility: visible;
                        }
                    }

                    .price {
                        color:$black;
                        margin-bottom: 13px;
                        font-size: $h6;
                        letter-spacing: $lsh6;

                        .woocommerce-price-suffix {
                            margin-left:0;
                            color:$black;
                            display: block;
                            font-size: $h6;
                            letter-spacing: $lsh6;
                        }
                    }
                }

                .swatch-align-left {
                    flex:1;

                    .variations_form {
                        height:100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .variations {
                        
                            .variation-wrap:not(.pa_color) {
                                display: none !important;
                            }

                            .variation-wrap.pa_color {
                                margin:0;                            

                                .variation-label {

                                    label,
                                    .pa_color_variation_label {
                                        display: none;
                                    }
                                }
                            
                                .tawcvs-swatches[data-attribute_name="attribute_pa_color"] {                                
                                    justify-content: center;
                                    display: flex;
                                    max-width:172px;
                                    width:100%;
                                    gap:0px !important;
                                    margin:0 auto;
                                
                                    .swatch-item-wrapper {                                                                  

                                        &.interiorplus-header  {
                                            display: none;
                                        }
                                    
                                        .swatch {
                                            border:1px solid transparent;
                                            padding:0;
                                            width:22px;
                                            height:22px;
                                            position: relative;
                                            margin:0 3px 6px 3px;

                                            &:hover,
                                            &:focus,
                                            &.selected {

                                                .swatch-image {
                                                    width:14px;
                                                    height:14px;
                                                    margin-top: 4px;
                                                    margin-left: 4px;
                                                }
                                            
                                                &:before {
                                                    content:'';
                                                    border:2px solid $link;
                                                    border-radius: 100px;
                                                    position:absolute;
                                                    width:22px;
                                                    height:22px;
                                                    top:0;
                                                    left:0;
                                                }
                                            }

                                            &.disabled {
                                                border-color:$paleblue;
                                                cursor:default;
                                                display: none;

                                                &:hover,
                                                &:focus {
                                                    border-color:secondary;       
                                                }

                                                &:before {
                                                    display: none;
                                                }
                                        
                                                &:after {
                                                    /*width: 100%;
                                                    position: absolute;
                                                    content: "";
                                                    right: 0;
                                                    top: 50%;
                                                    height: 0;
                                                    border-bottom: 1px solid #f9423a;
                                                    opacity: .7;
                                                    -webkit-transform: rotate(-35deg);
                                                    transform: rotate(-35deg);
                                                    z-index: 1;*/
                                                }

                                                .swatch-image {
                                                    filter: grayscale(100%);
                                                    opacity:0.2;
                                                }                            
                                            }
                                        
                                            .swatch-image {
                                                height:22px;
                                                width:22px;
                                                border-radius: 50%;
                                                background-size: cover;
                                            }
                                        }

                                        .swatch-item-label {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .single_variation_wrap {
                            padding:0;
                            background-color: transparent;
                            border-radius: 0;

                            display: none !important;

                            .woocommerce-variation.single_variation {
                                display: none !important;
                            }

                            .woocommerce-variation-add-to-cart {

                                .quantity {
                                    display: none !important; 
                                }

                                .single_add_to_cart_button {
                                    margin:5px 0 0 0 !important;
                                }
                            }

                            .variation-info-wrapper {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

