@use "../../abstracts" as *;

.error404 {
    .entry-content {
        & > * {
            max-width: $default-width !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.error-404 {
    margin:$triple-spacing 0;
    text-align: center;

    .error-404-content { 
        margin: 0 0 $double-spacing 0;       
    
        h1 {
            font-family: $primary-font;
            font-weight: 700;
            font-size:130px;
            line-height: 130px;
            margin:0;
        }

        h2 {
            font-family: $primary-font;
            font-weight: 700;
            font-size:26px;
            line-height: 36px;
            margin:0 0 $spacing 0;
        }

        .std-button {
        
        }
    }

    .error-404-thumb {
        img {
            max-width:800px;
        }

    }
}