@use "../../abstracts" as *;

.about-highlight-title {
    padding-top:50px;

    h1 {        
        font-family: $primary-font;
        font-weight: 700;
        margin-bottom:$double-spacing;
    }
}

.about-highlight-wrapper {
    display:flex;    
    margin-bottom:$double-spacing;

    @media( max-width:$md ) {
        flex-direction: column-reverse;
    }

    .about-highlight-content {
        margin-right:$spacing;
        flex:1;

         @media( max-width:$md ) {
            margin:0;
        }

        &:first-letter {
            text-transform: uppercase;
            color:$primary-color;
            font-size:40px;
            font-weight: bold;            
        }
    }

    .about-highlight-box {
        margin-left:$spacing;
        width:470px;
        
        @media( max-width:$md ) {
            margin:0 0 $spacing 0;
            width:100%;
            display:flex;
            justify-content:center;
        }

        .faculty-box-wrapper {
            background-color: $background-color;

            @media( max-width:$md ) {
                max-width:470px;
            }
        }
    }
}

.faculty-list-wrapper {

    .department-wrapper {
        margin-bottom:$double-spacing;

        .department-title {

            h2 {
                @include h3;
                font-family: $primary-font;
                font-weight: bold;
                margin-bottom:$spacing;
            }    
        }
    }

    .faculty-list {
        display: flex;
        flex-wrap: wrap;
        margin:0 calc( -1 * $spacing );
    }
}

.faculty-box-wrapper {
    padding:$spacing;    
    flex:50%;

    @media( max-width:$md ) {
        flex:100%;
    }
    
    .faculty-box-top {
        display:flex;
        margin-bottom:16px;
    
        .faculty-box-top-left {
            width:120px;
            height:165px;
            min-height:164px;
            background-position: center top;
            background-size:cover;
            background-repeat: no-repeat;
            margin-right:$spacing;

            &.no-post-thumb {
                background-image:url(../../img/blog-default-icon.png) !important;
            }
        }

        .faculty-box-top-right {
            flex:1;

            .faculty-box-title {
                border-bottom:2px solid $primary-color;
                margin-bottom:12px;

                a {
                    color:$foreground-color;

                    &:hover,
                    &:focus {
                        color:$primary-color;
                    }
                }

                h2 {
                    @include h4;
                    font-weight: 700;
                    margin-bottom:13px;
                }

                h3 {
                    @include h4;
                    font-weight: 700;
                    margin-bottom:13px;
                }
            }

            .faculty-box-occupation {
                @include h6;
                line-height: 22px;
                color:$secondary-color-hover;
            }
        }
    }

    .faculty-box-bottom {
        @include h6;
        line-height: 22px;

        p {

            &:last-child {
                margin:0;
            }
        }
    }
}

.wp-block-cover  {

    input[type="text"], 
    input[type="email"], 
    input[type="url"], 
    input[type="password"], 
    input[type="search"], 
    input[type="tel"],
    input[type="number"], 
    textarea, 
    select {
        display:block;
    }

    input[type=submit] {
        border-color:$background-color;
        color:$background-color;

        &:hover,
        &:focus {
            background-color:$background-color;
            color:$foreground-color;
        }
    }

    .wpcf7 form.invalid .wpcf7-response-output, 
    .wpcf7 form.unaccepted .wpcf7-response-output, 
    .wpcf7 form.payment-required .wpcf7-response-output {
        background-color:$background-color;
        margin-left:0;
        margin-right:0;
    }

    .wpcf7-not-valid-tip {
        display:inline-block;
        background-color:$primary-color-hover;
        color:$background-color;
        padding:5px 15px;
        border-radius:0 0 5px 5px;
    }
}