@use "../../abstracts" as *;

.post-release-date {
    font-size:12px;
    line-height: 22px;
    text-transform: uppercase;
    padding:2px 10px;
    background-color: $primary-color;
    color:$background-color;
    position:absolute;
    top:10px;
    left:10px;
}