@use "../../abstracts" as *;

.faculty-wrapper {

    .faculty-title {

        h2 {
            font-family: $primary-font;
            font-weight:700;
        }
    }
}

.faculty-more-wrapper {
    margin:calc( -1 * $spacing ) 0 $double-spacing 0;
    text-align: right;
}

