@use "../../abstracts" as *;

.archive {

    .archive-title {

        h1 {
            margin:0;
        }

        h4 {
            color:$secondary-color;
        }
    }

    .frontpage-post-action {
        margin-top:$double-spacing;
    }
}