@use "../../abstracts" as *;

body.page-template-template-areas-of-work, body.tax-areas_of_work {
	.post-clinicians {                
		@include h6;
		margin-bottom:7px;
		color:$secondary-color-hover;

		& > *:last-child {
			margin:0;
		}

		a {
			color:$tertiary-color;

			&:hover,
			&:focus {
				color:$primary-color;
			}
		}
	}
}