@use "../../abstracts" as *;

.blog-stage-wrapper {
    background-color: $secondary-color;

    .post-sticky {    
        color:$background-color;
        padding:$double-spacing 0 70px;

        .post-sticky-row {
            display: flex;
            flex-wrap: wrap;
            margin:0 calc( -1 * $spacing );       
        
            .post-sticky-stage {
                padding: 0 $spacing;   
                width:50%;

                @media( max-width:$md ) {
                    width:100%;
                    margin-bottom:$double-spacing;
                } 

                .post-sticky-stage-thumb {                    
                    height:100%;
                    width:100%;
                    min-height:400px;
                    background-size:cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color:$background-color;
                    position:relative;

                    @media( max-width:$md ) {
                        min-height:500px;
                    } 

                    &.no-post-thumb {
                        background-size:contain;
                        background-image:url(../../img/blog-default-icon.png) !important;
                    }

                    &:before {
                        content:'';
                        position:absolute;
                        width:100%;
                        height:100%;
                        left:0;
                        top:0;
                        background-color:$secondary-color;
                        opacity:0.6;
                    }

                    .post-sticky-stage-inner {  
                        position:absolute;
                        width:100%;                        
                        left:0;
                        bottom:0;
                        padding:$spacing;
                        
                        a {
                            color:$background-color;

                            &:hover,
                            &:focus {
                                color:$primary-color;
                            }
                        }                        
                    }
                }

                .post-sticky-stage-meta {
                    display:flex;
                    margin:0 0 20px 0;

                    .entry-date {
                        margin-left:30px;
                    }
                }

                .post-sticky-stage-title {

                    h2 {
                        @include h1;
                    }
                }
            }

            .post-sticky-rest {
                padding: 0 $spacing;   
                width:50%;

                @media( max-width:$md ) {
                    width:100%;                
                } 

                .post-sticky-rest-box {
                    margin-bottom: $spacing;
                    display: flex;

                    @media( max-width:$sm ) {
                        flex-direction: column;
                        margin-bottom: $double-spacing;
                    }

                    &:last-child {
                        margin-bottom:0;
                    }

                    .post-sticky-rest-thumb {
                        width:210px;
                        height:160px;
                        background-color: $background-color;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size:cover;
                        margin-right:30px;

                        @media( max-width:$sm ) {
                            width:100%;
                            height:240px;   
                            margin-bottom:10px;
                            margin-right:0;
                        }

                        @media( max-width:$xs ) {
                            height:160px;
                        }

                        &.no-post-thumb {
                            background-size:contain;
                            background-image:url(../../img/blog-default-icon.png) !important;
                        }
                    }

                    .post-sticky-rest-content {
                        flex:1;

                        .post-sticky-rest-title {

                            a {
                                color:$background-color;

                                &:hover,
                                &:focus {
                                    color:$primary-color;
                                }

                                h2 {
                                    @include h4;
                                    margin-bottom:3px;
                                }
                            }
                        }

                        .post-sticky-stage-date {
                            margin-bottom:6px;

                            a {
                                color:$tertiary-color;

                                &:hover,
                                &:focus {
                                    color:$primary-color;
                                }
                            }
                        }

                        .post-sticky-rest-category {
                            margin-bottom:18px;
                        }

                        .post-sticky-rest-excerpt {                       
                            @include h6;
                            margin-bottom:7px;
                            color:$secondary-color-hover;

                            & > *:last-child {
                                margin:0;
                            }

                            a {
                                display: none;
                                color:$tertiary-color;

                                &:hover,
                                &:focus {
                                    color:$primary-color;
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
}

.post-list-wrapper {
    padding-bottom:$double-spacing;

    .post-list-action {
        margin:60px 0 50px;
    
        select {
            background-color:transparent;
            border-color:$tertiary-color-hover;
            
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }

    .post-list {

        .post-box {
            display: flex;
            margin:0 0 24px 0;
            padding:26px 0 24px 0;
            border-bottom:2px solid #d9d9d7;

            &.post-box-big {
                flex-direction:column;
				
				.post-thumb {
                    margin-bottom:15px;
					
                    &.no-post-thumb {
                        width:100%;
                        height:400px;
                        background-size:auto;
                    }
				}

                .post-content {
                
                    .post-title {
                    
                        h2 {
                            @include h2;
                            margin:0 0 9px 0;
                        }
                    }

                    .post-date {
                        margin:0;
                    }
                }
            }

            @media( max-width:$sm ) {
                flex-direction: column;
            }

            .post-meta-top {
                font-size:13px;
                line-height: 17px;
                font-weight: 500;
                letter-spacing: -0.2px;
                margin-bottom: 10px;
            }
        
            .post-thumb {
                width:260px;
                height:200px;
                background-color: $background-color;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                margin-right:30px;
				position:relative;

                @media( max-width:$sm ) {
                    width:100%;
                    height:300px;
                    margin-bottom:10px;
                    margin-right:0;
                }

                @media( max-width:$xs ) {
                    height:200px;
                }

                &.no-post-thumb {
                    background-size:contain;
                    background-image:url(../../img/blog-default-icon.png) !important;
                }
            }

            .post-content {                
            
                .post-title {
                    font-weight: bold;

                    a {
                        color:$foreground-color;

                        &:hover,
                        &:focus {
                            color:$primary-color;
                        }
                    }

                    h2,
                    h3,
                    h4 {
                        @include h4;
                        margin-bottom:4px;
                        font-weight: bold;
                    }                
                }

                .post-date {
                    margin-bottom:15px;

                    a {
                        color:$secondary-color-hover;

                        &:hover,
                        &:focus {
                            color:$primary-color;
                        }
                    }
                }

                .post-excerpt {                
                    @include h6;
                    margin-bottom:7px;
                    color:$secondary-color-hover;

                    & > *:last-child {
                        margin:0;
                    }

                    a {
                        display: none;
                        color:$tertiary-color;

                        &:hover,
                        &:focus {
                            color:$primary-color;
                        }
                    }
                }
            }
        }
    }
}