@use "../../abstracts" as *;

.fellowship-title {

    h1 {
        @include h2;
        font-weight: bold;
        margin-bottom:$double-spacing;
    }
}

.page-template-template-fellowships {

    .boxed-list {
        margin:0;
    }
}

.fellowship-filter {

    .filter-header {

        @media( min-width:992px ) {
            display:none;
        }
    }

    .filter-content {
        column-count: 1;
    
        ul {
            margin:0 0 $spacing 10px;

            li {
                list-style-type:none;
                position:relative;
                padding-left:20px;

                &:before {
                    content:'';
                    position:absolute;
                    top:11px;
                    left:0;
                    width:8px;
                    height:8px;
                    background-color: $primary-color;
                    border-radius: 50%;
                }
            
                a {
                    color:$foreground-color;

                    &:hover,
                    &:focus {
                        color:$primary-color;
                    }
                }
            }
        }

        a {
			color:$foreground-color;
			
			&:hover,
			&:focus {
				color:$primary-color;
			}
			
            &.current {
                color:$primary-color;                        
            }
        }
    }
}