@use "../../abstracts" as *;

.flexslider {
    padding:0;
    border-radius:0;
    background-color: transparent;
    margin:0;
    border:0;

    &.carousel-wrapper {        

        .slides {
            display:flex;
        
            li {                
                min-height: 100%;
                float:none !important;

                .carousel-slide {
                    border:2px solid $background-color;
                    color:$background-color;
                    padding:12px 22px 34px;
                    height:100%;

                    a {
                        color:$background-color;

                        h3 {
                            @include h4;
                            color:$background-color;
                            transition: $transition;
                        }

                        &:hover,
                        &:focus {

                            h3 {
                                color:#cccccc;
                            }
                        }
                    }
                }            
            }        
        }        
    }
    
    .flex-direction-nav {

        a {
            width:24px;
            height:24px;
            margin-top:-12px;
            opacity:1;

            &.flex-prev {
                left:-37px;

                @media( max-width:1299px ) {
                    left:-24px;
                }

                &:before {
                    content:'';
                    border-left:2px solid $background-color;
                    border-bottom:2px solid $background-color;
                    width:100%;
                    height:100%;
                    transform:rotate(45deg);                    
                    position:absolute;
                    top:0;
                    left:7px;
                    border-radius: 1px;
                }
            }

            &.flex-next {
                right:-37px;

                @media( max-width:1299px ) {
                    right:-24px;
                }

                &:before {
                    content:'';
                    border-right:2px solid $background-color;
                    border-bottom:2px solid $background-color;
                    width:100%;
                    height:100%;
                    transform:rotate(-45deg);
                    position:absolute;
                    top:0;
                    right:7px;
                    border-radius: 1px;
                }
            }
        }
    }

    &:hover {

        .flex-direction-nav {

            .flex-prev {
                left:-37px;

                @media( max-width:1299px ) {
                    left:-24px;
                }

                &:hover {
                    opacity:0.8;
                }
            }
            .flex-next {
                right:-37px;

                @media( max-width:1299px ) {
                    right:-24px;
                }

                &:hover {
                    opacity:0.8;
                }
            }        
        }
    }
}

.stage-areas-of-work {
    .wp-block-columns {
        margin-bottom:38px;
        gap:0;

        .wp-block-column {

            @media( max-width:781px ) {
                text-align: left !important;

                .has-text-align-right {
                    text-align: left !important;
                }
            }

            & > *:last-child {
                margin:0;
            }
        }
    }
}

.post-list-wrapper {

    a {
        color:$foreground-color;

        &:hover,
        &:focus {
            color:$primary-color;
        }
    }

    .wp-block-columns {
        margin-bottom:38px;        

        .wp-block-column {

            @media( max-width:781px ) {
                text-align: left !important;

                .has-text-align-right {
                    text-align: left !important;
                }
            }

            & > *:last-child {
                margin:0;
            }
        }
    }

    .post-list {

        .grid-row {

            .gutentor-post {
                position: relative;

                .gutentor-post-item {
                    position:relative;            
                    padding-left:285px;
                    padding-bottom:24px;
                    border-bottom:2px solid #d9d9d7;
                    min-height: 226px;
                    margin:24px 0 15px 0;

                    @media( max-width:$sm ) {
                        padding-left:0;
                        flex-direction: column;
                    }

                    .gutentor-post-image-box {
                        position:absolute !important;
                        left:0;
                        top:0;
                        width:260px !important;
                        height:200px;
                        background-color:$secondary-color;
                        padding:0;
                        margin:0;

                        @media( max-width:$sm ) {
                            position:relative !important;
                            width:100% !important;
                            height:300px;
                            margin-bottom: 10px;
                        }

                        img {
                            position:absolute;
                            width:100%;
                            height:100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .gutentor-post-content {
                        width:100% !important;
                        padding:2px 0 0 0 !important;

                        .gutentor-post-title {
                            @include h4;
                            font-weight: bold;
                            margin:0 0 10px 0;

                            a {
                                &:hover,
                                &:focus {
                                    color:$primary-color;
                                }
                            }
                        }

                        .gutentor-entry-meta {
                            margin-bottom:20px;
                        }

                        .gutentor-post-desc {
                            @include h6;
                            color:$secondary-color;
                            margin:0;

                            & > *:last-child {
                                margin:0;
                            }
                        }
                    }
                }

                &:first-child {
                    .gutentor-post-item {
                        flex-direction: column;
                        padding-left:0;                        
                        padding-bottom:11px;
                        margin-top:15px;
                        margin-bottom:29px;

                        @media( max-width:$sm ) {
                            padding-bottom:24px;
                            margin:24px 0 15px 0;
                        }

                        .gutentor-post-image-box {
                            position:static !important;
                            width:100% !important;
                            height:auto;
                            margin:0 0 15px 0;

                            @media( max-width:$sm ) {
                                position:relative !important;                                
                                width:100% !important;
                                height:300px;                                
                                margin:0 0 10px 0;
                            }   

                            img {
                                position:static;

                                @media( max-width:$sm ) {
                                    position:absolute;
                                }
                            }
                        }

                        .gutentor-post-content {
                            padding:0 !important;

                            .gutentor-post-title { 
                                @include h2;
                                margin: 0 0 9px 0;

                                @media( max-width:$sm ) {
                                    @include h4;                            
                                    margin:0 0 10px 0;
                                }
                            }

                            .gutentor-entry-meta {
                                margin-bottom: 15px;
                            }
                        
                            .gutentor-post-desc {
                                display: none ;

                                @media( max-width:$sm ) {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                &.gutentor-post-no-thumb {

                    &:before {
                        content:'';
                        position:absolute;
                        left:0;
                        top:0;
                        width:260px;
                        height:200px;
                        background-color:$background-color;                        
                        background-size:contain;
                        background-image:url(../../img/blog-default-icon.png);
                        background-position: center;
                        background-repeat: no-repeat;

                        @media( max-width:$sm ) {
                            display: none;
                        }
                    }
                }                   
            }        
        }
    }
}

.home-blog {

    @media( max-width:$md ) {
        flex-direction: column;
    }

    & > .wp-block-column:first-child {
    
        @media( max-width:$md ) {
            flex-basis: 100%;
        }
    }

    & > .wp-block-column:last-child {

        @media( max-width:$md ) {
            flex-basis: 100%;
        }    
    }
}

.home-area-link {

    p {
        line-height:45px;
    }

    a {
        color:$background-color;

        &:hover,
        &:focus {
            color:$background-color !important;
            text-decoration: underline;
        }
    }
}

.home-area-blog {

    p {
        line-height:45px;
    }

    a {
        color:$foreground-color;

        &:hover,
        &:focus {
            color:$primary-color;
        }
    }
}

