@use "../../abstracts" as *;

.singlepost-wrapper {
    display:flex;
    margin:62px 0 $double-spacing 0;    

    @media( max-width:$md ) {
        flex-direction: column;
        margin:$spacing 0 $double-spacing 0;
    }

    .singlepost-category-wrapper {
        width:170px;
        position:relative;

        @media( max-width:$md ) {
            width:100%;
        }   

        .singlepost-category-inner {

            @media( max-width:$md ) {
                position:static;
                margin:0 0 $spacing 0;
                column-count: 3;
                padding-bottom:$spacing;
                border-bottom:1px solid $foreground-color;
            }         

            @media( max-width:$sm ) {
                column-count: 2;

            }

            a {
                @media( max-width:$md ) {
                    display:block;
                } 
            }

            &.stay {
                position:fixed;
                top:50px;

                @media( max-width:$md ) {
                    position:static;
                }   
            }

            &.stay-at-bottom {
                position:absolute;
                top:auto;
                bottom:34px;

                @media( max-width:$md ) {
                    position:static;
                } 
            }
        }

        a {
            display: block;
            margin: 0 0 3px 0;
        }
    }

    .singlepost-content-wrapper {
        flex:1;
        margin:0 $double-spacing;

        @media( max-width:$md ) {
            margin:0 0 $double-spacing 0;
        }

        .singlepost-meta-wrapper {
            display: flex;
            align-items: center;
            margin:0 0 44px 0;

            .singlepost-meta-category {
                margin:0 15px 0 0;
            
                a {
                    display:inline-block;
                    padding:7px 21px 5px;
                    background-color: $foreground-color;
                    border-radius: 50px;
                    color:$background-color;
                    font-size:15px;
                    line-height: 25px;
                }
            }

            .singlepost-meta-date {
                display:flex;
                align-items: center;

                a {
                    color:$secondary-color;                                        

                    &:hover,
                    &:focus {
                        color:$primary-color;
                    }

                    .entry-date {                        
                        font-size:15px;
                        line-height: 25px;
                    }
                }
            }
        }

        .singlepost-title {
        
            h1 {
                margin: 0 0 35px 0;
            }
        }

        .singlepost-thumb {
            margin:0 0 34px 0;
        }

        .singlepost-content {
            margin:0 0 37px 0;

            p {
                margin: 0 0 20px 0;
            }
        }
    }

    .singlepost-sidebar-wrapper {
        width:170px;
        position:relative;

        @media( max-width:$md ) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            
        }

        .singlepost-sidebar-inner {
            width:170px;

            @media( max-width:$md ) {
                position:static;
                width:100%;
                max-width: 240px;
            }

            &.stay {
                position:fixed;
                top:50px;

                @media( max-width:$md ) {
                    position:static;
                }   
            }

            &.stay-at-bottom {
                position:absolute;
                top:auto;
                bottom:46px;

                @media( max-width:$md ) {
                    position:static;
                } 
            }

            .singlepost-sharer-wrapper {
                margin:0 0 30px 0;

                .sharer-wrapper {

                    @media( max-width:$md ) {
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            h5 {
                font-weight: bold;
                line-height: 24px;
                margin-bottom: 13px;
            }
        }
    }
}

/* Single Post Subscriber */
.singlepost-subscribe-wrapper {

    form {

        input[type=email] {
            border-radius:100px;
            border:1px solid #ddd;
            background-color:#f5f5f5;
            width:100%;
            margin:0 0 10px 0;
            text-align: center;
            padding:8px 15px;
        }

        input[type=submit] {
            border-radius:100px;
            background-color:$primary-color;
            color:$background-color;
            width:100%;
            border:1px solid $primary-color;
            padding:9px 15px 7px;
            @include h6;

            &:hover,
            &:focus {

            }
        }
    }
}

.single-post {

    #content {
        padding:$double-spacing 0 0 0;
    }
}

.comments-area {
    padding:$spacing 0 $triple-spacing 0 !important;
    margin:$double-spacing 0 0 0;
    border-top:1px solid $border-color;

    #reply-title {
        font-family: $primary-font;
        font-weight: bold;
    }
}

.featured-navigation {

    p.gb-headline {
        background-color:$primary-color !important;
    }
}

.widget-area {

    &.is-right-sidebar {

        

        .widget {
            padding:0 0 0 $double-spacing;
            margin:0 0 $double-spacing 0;

            @media( max-width: $sm ) {
               padding: 0 0 0 0; 
            }
        }
    }
} 