@use "../../abstracts" as *;

.wcfm-dashboard-page {
    .site-content {
        max-width:100% !important;
    }

    #wcfm-main-content {
        max-width:100%;
        padding:0;

        #wcfm-main-contentainer {
            margin:0;

            #wcfm-content {
                border:none;
            }
        }
    }
}

#page {
    #wcfm-main-contentainer .wcfm-page-headig, 
    .wcfm_menu_logo, 
    .wcfm_menu_no_logo {
        background-color:$dark-gray;
        box-shadow: none;
        border-bottom:2px solid $secondary-color;
    }

    #wcfm_menu, 
    #wcfm_menu span.wcfm_sub_menu_items {
        background-color:$dark-gray;
    }

    #wcfm-main-contentainer .wcfm_menu_toggler, 
    #wcfm-main-contentainer .wcfm_responsive_menu_toggler {
        color:$background-color !important;
    }

    #wcfm_menu .wcfm_menu_items:hover a span.wcfmfa, 
    #wcfm_menu .wcfm_menu_items:hover a span, 
    #wcfm_menu .wcfm_menu_items a:hover span {
        color:$secondary-color;
    }

    #wcfm_menu .wcfm_menu_items a.active {
        background-color:$secondary-color;
    }

    #wcfm_menu .wcfm_menu_items a.wcfm_menu_item:hover:after {
        border-right-color:$secondary-color;    
    }

    .page_collapsible, .collapse-close, 
    .wcfm-collapse a.page_collapsible_dummy {
        background-color:$primary-color;
    }

    #wcfm_menu span.wcfm_sub_menu_items {
        width:125px;
        padding:10px 15px;

        a {

            &:hover {
                color:$secondary-color;
            }
        }
    }

    .wcfm_header_panel .unread_notification_count.enquiry_count {
        background-color:$secondary-color;
    }
}