@use "../components/" as *;

// Blog
    body.blog {
        background-color: $lightgray;

        .entry-header {
            max-width:$default-width;
            padding-top:112px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:64px;

            @media( max-width:$sm ) {
                max-width: $mobile-default-width;
                padding-top:56px;
                margin-bottom:32px;
            }

            .entry-title {
                text-align: center;
                font-weight: bold;
            }
        }

        .entry-content {

            .blog-wrapper {
                display: flex;
                gap:24px;   
                justify-content: center;
                flex-wrap: wrap;
                margin:0 0 188px 0;

                @media( max-width:$md ) {
                    gap:32px;
                }

                @media( max-width:$sm ) {
                    gap:12px;
                    margin:0 0 90px 0;
                } 

                .post-card {
                    flex:0 0 calc( ( 100% - 24px ) / 2 );

                    @media( max-width:$md ) {            
                        flex:0 0 calc( ( 100% - 32px ) / 2 );
                    }

                    @media( max-width:$sm ) {            
                        flex:0 0 100%;
                    }

                    .post-card-description {

                        @media( max-width:$sm ) {
                            padding:12px 24px 24px;
                        }
                    
                        .post-card-title {
                        
                            h3 {

                                @media( max-width:$sm ) {
                                    font-size:$h3;
                                    letter-spacing: $lsh3;
                                    margin-bottom:14px;
                                }
                            }
                        }   
                    }
                }
            }
        }
    }

// Taxonomy Selector
    .blog-category-wrapper {
        margin:0 0 55px 0;
        display: flex;
        justify-content: center;

        @media( max-width:$sm ) {
            margin:0 0 40px 0;
        }

        &.lightgray-scheme {
        
            .blog-category-inner {
                background-color: $lightgray;
            }
        }

        &.bigger {
        
            .blog-category-inner {

                .blog-category { 
                    font-size: $h3;
                    letter-spacing: $lsh3;
                    padding:10px 15px;
                    min-width:138px;
                }
            }
        }

        .blog-category-inner {
            background-color: $white;
            border-radius: $spacing;                
            display: flex;         
            flex-wrap: wrap;      

            @media( max-width:$sm ) {                    
                width:230px;
                column-gap:12px;
            }
        
            .blog-category {
                /*flex:1;*/
                text-align: center;
                border-radius: $spacing;
                min-width:133px;
                cursor: pointer;
                transition: $transition;
                padding:11px 13px;                
                color:$link;
                font-weight: bold;
                font-size: $h5;
                letter-spacing: $lsh5;
                white-space: nowrap;

                @media( max-width:$sm ) {
                    min-width:109px;                    
                }

                &:hover,
                &:focus {
                    background-color: $black;
                    color:$white;
                }

                &.active {
                    background-color: $black;
                    color:$white;
                }
            }
        }
    }

    .page-template-template-compare {

        &.page-id-1068 {
            // Page Compare - Dog/Cat
            
            .blog-category-wrapper {

                .blog-category-inner {

                    @media( max-width:$sm ) {
                        width:288px;
                    }

                    .blog-category { 
                        font-size: $h3;
                        letter-spacing: $lsh3;
                        padding:10px 15px;
                        min-width:138px;
                    }
                }
            }
        }

        &.page-id-1124 {
            // Page Compare - Sofa
            
            .blog-category-wrapper {

                .blog-category-inner {
                    @media( max-width:$sm ) {
                        column-gap:6px;
                        row-gap:0;
                        width:310px;
                    }

                    .blog-category { 
                        min-width:100px;
                        padding:11px 33px;

                        @media( max-width:$sm ) {
                            font-size: $h6;
                            letter-spacing: $lsh6;
                            min-width:152px;
                            padding:11px 11px;
                        }
                    }
                }
            }
        }
    }