@use "../components/" as *;

/* About Us */
    .visionmission-wrapper.wp-block-cover {
        padding:0 56px;

        .wp-block-spacer.is-style-spacer112 {

            @media( max-width:$md ) {
                height:56px !important;
            }
        
            @media( max-width:$xs ) {
                height:$half-spacing !important;
            }
        }

        @media( max-width:$xs ) {
            padding:0 $half-spacing;
        }
    }

    .visionmission-card {
        margin:0 !important; 
        gap:24px;

        h2 {
            margin:0 0 3px 0;
        }
        
        .wp-block-column.is-style-card {
            padding:50px 32px 37px;
        }

        @media( max-width:$md ) {
            flex-direction: column;
            align-items: center !important;

            .wp-block-column {
                max-width:656px;
            }

            .wp-block-column.is-style-card {
                padding:50px 32px 52px;
            }
        }

        @media( max-width:$sml ) {
        
            .wp-block-columns.center {
            
                .wp-block-column {
                    flex-basis:240px !important;
                    flex-grow:0;
                }
            }
        }

        @media( max-width:$xs ) {
            gap:16px;

            .wp-block-column.is-style-card {
                padding:28px 16px 16px;
            }
        }
    }

    .capsule-highlight {
        border-radius:45px;
        min-height:85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid $hairline;
        padding:5px 25px;
        max-width:396px;
        width:100%;
        margin-left:auto;
        margin-right: auto;
    }

    .nomargin {
        margin:0;
    }

    .wp-block-image.center {
        display: flex;
        justify-content: center;
    }

    .aboutus-projects-columns {

        .wp-block-column {
            
            @media( max-width:$md ) {

                & > * {
                    max-width:438px;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }
    }

    .aboutus-projects-titles {

        .wp-block-column {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media( max-width:$sml ) {
            display: none !important;
        }
    }

    .mobile-title {
        display: none;

        @media( max-width:$sml ) {
            display: block;
        }
    }