@use "../components/" as *;

/* Professional */
    .professional-stage {

        h1 {
            margin-bottom:5px;
        }

        .lh40 {
            margin-bottom:8px;
        }

        @media( max-width:$md ) {
        
            .wp-block-cover__inner-container {

                .wp-block-spacer:first-child {
                    height:102px !important;
                }
            }
        }

        @media( max-width:$sm ) {

            h1 {
                margin-bottom:8px;
            }

            p,
            .has-h-5-font-size {
                font-size:$h6;
                letter-spacing: $lsh6;
            }

            .lh40 {
                line-height: 25px;
            }

            .wp-block-cover__inner-container {

                .wp-block-spacer:first-child {
                    height:52px !important;
                }

                .wp-block-spacer:last-child {
                    height:8px !important;
                }
            }
        }
    }

    .professional-stage-bg-top {    
        position:absolute;
        top:90px;
        max-width:1264px;
        width:100%;
        left:50%;
        transform: translateX(-50%);    
        gap:32px !important;              

        .wp-block-image { 
            width:400px !important;
            flex-grow:0 !important;
            position:absolute !important;

            &:nth-child(1) {
                left:calc( 50% - 232px - 400px );
            }

            &:nth-child(2) {
                left:calc( 50% - 200px );
            
                img {
                    margin:-26px 0 26px 0;
                }
            }

            &:nth-child(3) {
                left:calc( 50% + 232px );
            }
        }

        @media( max-width:$md ) {
            position:static;
            transform: none;
            max-width:620px;
            margin:0 auto 12px;
            padding:13px 0 0 0;
            gap:10px !important;

            .wp-block-image {
                width:auto !important;
                flex-grow:1 !important;
                position:static !important;
                flex:1;                                        

                &:nth-child(2) {

                    img {
                        margin:0;
                    }
                }

                img {
                    border-radius:16px;
                }
            }
        }

        @media( max-width:$sm ) {
            max-width:343px;
            gap:12px !important;

            .wp-block-image {                    
                width:106px !important;
                display: block !important;

                img {
                    border-radius: 24px;
                    height:106px !important;
                    object-position: center;
                }
            }
        }
    }

    .professional-stage-bg-bottom {
        position:absolute;
        top:330px;
        width:100%;
        left:0;            

        .wp-block-image {     
            width:400px !important;
            flex-grow:0 !important;
            position:absolute !important;

            &:nth-child(3) {
                left:calc( 50% - 360px - 400px );
            }

            &:nth-child(4) {
                left:calc( 50% + 360px );
            }

            &.professional-stage-bg-4a,
            &.professional-stage-bg-4b {
                display: none !important;
            }
        }

            @media( max-width:$md ) {
            position:static;
            transform: none;
            max-width:620px;
            margin:0 auto 35px;
            gap:10px !important;
            justify-content: center;                

            .wp-block-image {
                width:200px !important;
                position:static !important;                    

                img {
                    border-radius:16px;
                }
            }
        }

        @media( max-width:$sm ) {
            max-width:343px;
            gap:12px !important;
            margin:0 auto 19px;

            .wp-block-image {
                width:106px !important;

                &:nth-child(3) {
                    display: none !important;
                }

                &.professional-stage-bg-4a,
                &.professional-stage-bg-4b {
                    display: block !important;
                }

                img {
                    border-radius: 24px;                        
                    object-position: center;
                }
            }
        }
    }

    .professional-stage-shortcuts {
        gap:8px;

        @media( max-width:$sm ) {
            gap:11px;
        }

        .wp-block-button {
            width:calc(50% - 4px);

            @media( max-width:$sm ) {
                width:calc(50% - 5.5px);
            }

            .wp-block-button__link {
                width:100%;
                text-align: left;
                position:relative;
                display: flex;
                align-items: center;

                @media( max-width:$sm ) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    font-size: $h6 !important;
                    letter-spacing: $lsh6 !important;
                    line-height: 17px;
                    padding:4px 24px 4px !important;
                    min-height: 53px;
                }

                &:hover,
                &:focus {
                
                    &:after {
                        background-color: $white;
                    }
                }

                &:after {
                    content:'';
                    position:absolute;
                    top:50%;
                    right:17px;
                    transform: translateY(-50%);
                    -webkit-mask-image:url(../../img/jump-arrow.svg);
                    mask-image:url(../../img/jump-arrow.svg);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat; 
                    -webkit-mask-position:center;
                    mask-position: center;
                    -webkit-mask-size:10.5px 21px;
                    mask-size:10.5px 21px;
                    width:10.5px;
                    height:32px;
                    background-color: $black;
                    transition: $transition;

                    @media( max-width:$sm ) {
                        right:25px;
                    }
                }
            }
        }
    }

    .button-text-detail {
        font-size:$f10;
        letter-spacing: $ls10;
        margin-left:3px;

        @media( max-width:$sm ) {
            margin-left:0;
        }
    }

    .professional-achievement {

        h2 {
            margin-bottom:2px;
        
            @media( max-width:$sm ) {
                margin-bottom:6px;
            }
        }
    }

    .achievement-card {
        padding:32px 37px 19px !important;

        h5 {
            margin-bottom:12px;
        }

        p {
            font-size: $h6;
            letter-spacing: $lsh6;
            margin:0 0 9px 0;
        }

        @media( max-width:$sml ) {

            .wp-block-columns {

                .wp-block-column {
                    flex-basis: 0 !important;   
                }    
            }
        }

        @media( max-width:$sm ) {
            padding:25px 16px 22px !important;
        
            .wp-block-columns {
                gap:0;         
                margin:0;           

                .wp-block-column {
                    flex-basis:50% !important;
                    flex-grow:0;
                    margin:0 0 50px 0;

                    &:nth-child(3),
                    &:nth-child(4) {
                        margin:0;
                    }
                }    
            }
        }
    }

    .professional-example {
    
        h2 {
            margin-bottom:7px;
        }

        p {
            line-height: 2;

            @media( max-width:$sm ) {
                text-align: left;
            }
        }

        .wp-block-cover__inner-container {
        
            & > h2 {
                margin-bottom:7px;

                @media( max-width:$sm ) {
                    margin-bottom: 3px;
                }
            }

            & > h3 {
                margin-bottom:30px;

                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin-bottom:12px;

                    & + .wp-block-columns {
                        margin-bottom:10px;
                    }
                }
            }

            .wp-block-buttons {
                margin-bottom:22px;

                @media( max-width:$sm ) {
                    margin-bottom:20px;
                }

                .wp-block-button.has-h-3-font-size {
            
                    .wp-block-button__link {
                        padding:11px 42px;
                    }
                }
            }

            & > .wp-block-spacer:first-child {

                @media( max-width:$sm ) {
                    height:10px !important;
                }
            }

            .has-paragraph-font-size {
            
                @media( max-width:$sm ) {
                    font-size: $f17;
                    letter-spacing: $ls17;
                    margin-bottom:20px;
                }
            }
        }

        .wp-block-image {
            margin-bottom:15px;
        }

        .professional-example-location {
            margin-bottom: 22px;
        }   

        .wp-block-gallery {
            gap:12px !important;
            margin-bottom:36px;
        }

        .professional-example-lineup-title {
            margin-bottom:12px;

            @media( max-width:$sm ) {
            
                & + .wp-block-columns {
                    margin-bottom:0;

                    & + .wp-block-spacer {
                        height:4px !important;
                    }
                }
            }
        }

        .wp-block-columns:not(.is-not-stacked-on-mobile) {

            .professional-example-lineup-gallery.wp-block-column {  

                @media( max-width:$sml ) {
                    flex-basis:280px !important;
                    flex-grow: 0;
                }

                & > .wp-block-columns {
                    gap:16px;

                    @media( max-width:$sml ) {
                    
                        &.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
                            flex-basis: calc(50% - 8px) !important;
                            flex-grow: 0;
                        }
                    }

                    .wp-block-image {
                        margin-bottom:14px;
                    }
                    
                    p {
                        font-size: $f10;
                        letter-spacing: $ls10;

                        a {
                            color:$secondarydark;
                            text-decoration: underline;
                            padding-right:10px;
                            position:relative;

                            &:hover,
                            &:focus {
                                color:$link;

                                &:after {
                                    background-color: $link;
                                }
                            }

                            &:after {
                                content:'';
                                -webkit-mask-image:url(../../img/black-arrow.svg);
                                mask-image:url(../../img/black-arrow.svg);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat; 
                                -webkit-mask-position:center;
                                mask-position: center;
                                -webkit-mask-size:5px 10px;
                                mask-size:5px 10px;
                                background-color:$secondarydark;
                                position:absolute;
                                right:0;
                                top:50%;
                                transform: translateY(-50%);
                                width:5px;
                                height:10px;
                                display: block;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
        }
    }

    .professional-engraving {

        .wp-block-cover__inner-container {

            & > h2 {
                margin-bottom:7px;

                @media( max-width:$sm ) {
                    margin-bottom: 3px;
                }
            }

            & > h3 {
            
                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin-bottom:1px;

                    & + .wp-block-spacer {

                        & + .wp-block-columns {
                            margin-bottom:2px;
                        }
                    }
                }
            }

            p {
                line-height: 2;

                @media( max-width:$sm ) {
                    text-align: left;
                }
            }

            & > .wp-block-spacer:last-child {

                @media( max-width:$sm ) {
                    height:10px !important;
                }
            }

            .professional-example-engraving-gallery {

                .wp-block-column {
                
                    @media( max-width:$md ) {
                        flex-basis:440px !important;
                        flex-grow:0 !important;
                    }

                    @media( max-width:$sm ) {
                        flex-basis:280px !important;
                    }
                }

                

                .wp-block-gallery {
                    gap:40px;

                    @media( max-width:$md ) {
                        gap:16px;

                        .wp-block-image {
                            width:calc( 50% - 20px) !important;
                        }
                    }
                }
            }
        }
    }

    .professional-casephoto {
    
        .wp-block-cover__inner-container {

            & > h2 {
                margin-bottom:7px;

                @media( max-width:$sm ) {
                    margin-bottom: 3px;
                }
            }

            & > h3 {
            
                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin-bottom:11px;

                    & + .wp-block-spacer {

                        & + .wp-block-columns {
                            margin-bottom:2px;
                        }
                    }
                }
            }

            p {
                line-height: 2;

                @media( max-width:$sm ) {
                    text-align: left;
                }
            }

            & > .wp-block-spacer:first-child {

                @media( max-width:$sm ) {
                    height:10px !important;
                }
            }
        }
    }

    .professional-casephoto-gallery {
    
        .wp-block-cover__inner-container {
            max-width: min(100vw - 64px, 1376px);

            @media( max-width:$sm ) {
                max-width: min(100vw - 32px, 1376px);
            }

            & > .wp-block-spacer:last-child {

                @media( max-width:$md ) {
                    height:80px !important;
                }

                @media( max-width:$sm ) {
                    height:48px !important;
                }
            }

            .professional-casephoto-projects-gallery {

                .wp-block-column {
                
                    /*@media( max-width:$md ) {
                        flex-basis:440px !important;
                        flex-grow:0 !important;
                    }

                    @media( max-width:$sm ) {
                        flex-basis:280px !important;
                    }*/
                }                    

                .wp-block-gallery {
                    gap:32px;

                    .wp-block-image {
                    
                        &:nth-child(3n+2) {
                            margin:80px 0 -80px !important;

                            @media( max-width:$md ) {
                                margin:0 !important;
                            }
                        }
                    }

                    @media( max-width:$md ) {
                        gap:24px;
                    }

                    @media( max-width:$sm ) {
                        column-gap:12px;
                        row-gap:16px;

                        .wp-block-image {
                            width:calc( 50% - 6px) !important;
                        }
                    }
                }
            }
        }
    }

    .professional-range {
    
        .wp-block-cover__inner-container {

            & > h2 {
                margin-bottom:7px;

                @media( max-width:$sm ) {
                    margin-bottom: 3px;
                }
            }

            & > h3 {
                margin-bottom:29px;
            
                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin-bottom:11px;

                    & + .wp-block-columns {
                        margin-bottom:3px;
                    }
                }
            }

            p {
                line-height: 2;

                @media( max-width:$sm ) {
                    text-align: left;
                }
            }

            & > .wp-block-spacer:last-child {

                @media( max-width:$sm ) {
                    height:59px !important;
                }
            }

            .professional-range-gallery-top,
            .professional-range-gallery-bottom {
                max-width: 920px;
                gap:40px;
                margin:0 auto 29px;

                @media( max-width:$md ) {
                    max-width:440px;
                    flex-wrap: wrap !important;
                }

                @media( max-width:$sm ) {
                    column-gap:10px;
                    row-gap:18px;
                    margin:0 auto 18px;
                }

                .wp-block-column {

                    @media( max-width:$md ) {
                        flex-grow:0;
                        flex-basis:calc(50% - 20px) !important;
                    }

                    @media( max-width:$sm ) {
                        flex-basis:calc(50% - 5px) !important;
                    }
                
                    .wp-block-image {

                        @media( max-width:$sm ) {
                            margin-bottom:1px;
                        }
                    
                        img {
                            width:100%;
                        }
                    }

                    p {
                        margin-bottom:0;

                        @media( max-width:$sm ) {
                            text-align: center;
                        }
                    }

                    a {
                        font-size:$f10;
                        letter-spacing: $ls10;
                        padding-right:9px;
                        position:relative;
                        color:$secondarydark;
                        display: inline-block;
                        text-decoration: underline;

                        &:hover,
                        &:focus {
                            color:$link;

                            &:after {
                                background-color: $link;
                            }
                        }

                        &:after {
                            content:'';
                            -webkit-mask-image:url(../../img/black-arrow.svg);
                            mask-image:url(../../img/black-arrow.svg);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat; 
                            -webkit-mask-position:center;
                            mask-position: center;
                            -webkit-mask-size:4px 8px;
                            mask-size:4px 8px;
                            background-color:$secondarydark;
                            position:absolute;
                            right:0;
                            top:50%;
                            transform: translateY(-50%);
                            width:4px;
                            height:8px;
                            display: block;
                            transition: $transition;
                            margin-top:1px;
                        }
                    }
                }
            }
        }
    }

    .professional-inquiries {
    
        .wp-block-cover__inner-container {

            & > h1 {
                margin-bottom:0px;
            }

            & > h3 {
                margin-bottom:19px;
            
                @media( max-width:$sm ) {
                    font-size: $h5;
                    letter-spacing: $lsh5;
                    margin-bottom:11px;

                    & + .wp-block-columns {
                        margin-bottom:3px;
                    }
                }
            }

            p {
                line-height: 30px;

                @media( max-width:$sm ) {
                    text-align: left;
                }
            }

            & > .wp-block-columns {
                margin-bottom:0;
            
                & > .wp-block-column {
                
                    p:first-child {
                        margin-bottom: 7px;
                    }

                    & > .wp-block-columns {
                        margin-bottom:0;
            
                        & > .wp-block-column {
                            padding-bottom:18px;

                            @media( max-width:$sm ) {
                                padding-left:$half-spacing;
                                padding-right:$half-spacing;
                            }
                        }
                    }
                }
            }

            & > .wp-block-spacer:last-child {

                @media( max-width:$sm ) {
                    height:59px !important;
                }
            }

            textarea {
                height:43.5px;
            }

                    

            .wpcf7-response-output {
                margin-top:0;
            }          
        }
    }