@use "../components/" as *;

.page-template-template-faq {

    .wp-block-spacer.is-style-spacer112 {

        @media( max-width:$sm ) {
            margin-top:112px !important;
        }
    }
}