@use "../components/" as *;

.page-template-template-compare {

    .content-area {
    
        & > .entry-header {

            .page-heading-wrapper .entry-container .entry-title {
                margin-bottom:16px;
            }
        }
    }
}

.wp-block-columns.column-compare-size {

    .wp-block-column {

        & > p {
            margin-bottom:5px !important;
        }

        & > h3 {
            line-height: 32px;
            margin-bottom:0 !important;

            & + p {
                margin-bottom:14px !important;
            }
        }

        & > .wp-block-image:not(:first-child) {
            margin-bottom:7px !important;
        
            figure {
                display: flex;
                justify-content: center;
            }
        }

        .compare-price {
            margin-top:14px;
            margin-bottom:21px !important;
        }

        & > .wp-block-buttons {
            margin-bottom:13px !important;
        }
    } 

    &:not(.is-not-stacked-on-mobile) {

        @media( max-width:$md ) {
            max-width:464px;
            margin-left:auto;
            margin-right:auto;
            column-gap:16px;
            row-gap:26px;
        }
    
        .wp-block-column {

            @media( max-width:$md ) {
                flex-basis:calc( 50% - 8px ) !important;
            }    
        }
    }
}