@use "../../abstracts" as *;

.woocommerce {

    /* Content with Sidebar */
    &.right-sidebar,
    &.left-sidebar {

        ul {

            &.products {            
                display: grid;
                gap: $double-spacing;
                grid-template-columns: repeat( 3, 1fr );

                @media( max-width:$md ) {
                    grid-template-columns: repeat( 2, 1fr );
                    gap:$spacing;
                }
                
                @media( max-width: $sm ) {
                    li.product {
                        width:100%;
                    }
                }

                @media( max-width:$xs ) {
                    grid-template-columns: repeat( 1, 1fr );
                }
            }
        }
    }

    /* Full Width Content */
    ul {

        &.products {            
            display: grid;
            gap: $double-spacing;
            grid-template-columns: repeat( 4, 1fr );

            @media( max-width:$md ) {
                grid-template-columns: repeat( 3, 1fr );
                gap:$spacing;
            }

            @media( max-width:$sml ) {
                grid-template-columns: repeat( 2, 1fr );
            }

            @media( max-width:$sm ) {
                li.product {
                    width:100% !important;
                }
            }

            @media( max-width:$xs ) {
                grid-template-columns: repeat( 1, 1fr );
            }

            &:before,
            &:after {
                display:none;
            }

            li {

                &.product {
                    margin: 0;
                    float: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .woocommerce-product-thumb-wrapper {

                        .inside-wc-product-image {
                            display: block;
                        
                            a {

                                img {
                                    border-radius:9px 9px 0 0;
                                    height:180px;
                                    width:100%;
                                    object-fit: cover;
                                    margin:0;
                                }

                                .onsale {
									font-size: 12px;
									padding:0 5px;
                                    background-color:$dark-gray;
                                    width:50px;
                                    height:50px;
                                    line-height: 50px;
                                    text-align: center;
                                    margin:0;
                                    top:-25px;
                                    left:50%;
                                    transform: translateX(-50%);
                                    font-weight: 400;
                                    min-width:0;
                                    min-height:0;
                                    padding:0;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }

                    .uwa_auction_bage_icon {
                        width:50px;
                        height:50px;
                        top:-25px;
                        left:50%;
                        transform: translateX(-50%);
                        display:none;
                    }

                    .woocommerce-product-content-wrapper {
                        background-color:$background-color;
                        border:1px solid $border-color;
                        border-radius:0 0 9px 9px;
                        padding:44px 20px 32px 20px;
						padding:44px 15px 100px 15px;
                        position:relative;
                        flex:1;

                        .wcfmmp_sold_by_container {
                            position:absolute;
                            top:-31px;
                            /*left:19px;*/
							left:50%;
							transform: translateX(-50%);

                            .wcfmmp_sold_by_wrapper  {
                                width:auto;

                                .wcfmmp_sold_by_label {
                                    display:none;
                                }

                                .wcfmmp_sold_by_logo {
                                    width:60px !important;
                                    height:60px;
                                    border-radius:50%;
                                    object-fit:cover;
                                    background-color:#fff;
									border:1px solid $border-color;
                                }

                                .wcfm_dashboard_item_title {
                                    display: none !important;
                                }
                            }

                            .wcfmmp-store-rating {
                                display:none;
                            }

                            .wcfm-clearfix {
                                display:none;
                            }
                        }

                        .woocommerce-loop-product__link {
                            color:$foreground-color;

                            &:hover {
                                color:$primary-color-hover;
                            }

                            .woocommerce-loop-product__title {
                                padding:0;
                                @include h5;
                            }
                        }

                        .visit-btn {
                            position:absolute;
                            top:-16px;
                            right:19px;
                            @include h6;
                            padding:3px $spacing;
                            border-radius: 10px;
                            background-color:$secondary-color;
                            color:$background-color;
							transition:all 0.2s ease 0s;

							&:hover,
							&:focus {
								background-color: $secondary-color-hover !important;
							}
                        }

						.continue-shopping-btn-wrapper {							
							position: absolute;
							bottom: 25px;
							left: 50%;
							transform: translateX(-50%);
							display:block;
							white-space: nowrap;

							.continue-shopping-btn {
								@include std-button;        
								background-color: $secondary-color !important;
								border:1px solid $secondary-color !important;
								padding:10px 15px !important;
								transition:all 0.2s ease 0s;

								&:hover,
								&:focus {
									background-color: $secondary-color-hover !important;
									border:1px solid $secondary-color-hover !important;
								}
							}
						}

						.product-vendor-name {
							font-weight:bold;
							@include h6;
							font-family: $secondary-font;
							color:$foreground-color !important;
							text-transform: uppercase;

							&:hover,
							&:focus {
								color:$secondary-color-hover !important;
							}
						}

                        .star-rating {
                            display:none;
                        }

                        .price {
                            margin:$spacing 0 0 0;
                            color:$secondary-color;
                            font-family: $secondary-font;
                            @include h5;
                        }
                    }
                }
            }
        }
    }

    /* Meta Bar */
    .woocommerce-top-meta-bar {
        margin-bottom:$spacing;
    }

    /* Button */
    #respond input#submit, 
    a.button, 
    button.button, 
    input.button,
    button.button {
        @include h5;
        @include std-button;        
        padding:10px $spacing !important;

        &:disabled {
            color:$background-color !important;
        }
    }

    /* Form */
    form {

        .form-row {

            label {
                font-family: $secondary-font;    
				font-weight: 600;
            }
        }
    }

    /* Table */
    table {
        &.shop_table {

            th {
                padding:10px;
                font-family: $secondary-font;
                background-color: $light-gray;
            }

            tfoot {

                tr {

                    &:first-child {
                        td, 
                        th {
                            padding-top:15px;
                        }
                    }

                    &:last-child {
                        td, 
                        th {
                            padding-bottom:15px;
                        }
                    }
                
                    td, 
                    th {
                        padding:5px 10px;
                        line-height: 1;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    /* Checkout */
    .woocommerce-checkout {

        #payment {

            div.payment_box {
                padding:15px;
            }

            & > .form-row {                
                padding:15px;                
            }

            .woocommerce-terms-and-conditions-wrapper {
                @include h6;
            }

            #place_order {
                font-size:100%;
                font-weight: 400;
            }

            .payment_methods {

                & > .wc_payment_method {

                    & > label {
                        padding:10px 15px;
                        font-family: $secondary-font;
                    }
                }
            }
        }
    }   
}

.woocommerce-page {

    #payment {

        #place_order {
            font-size:100%;
            font-weight: 400;
        }
    }
}

#wcfm_home {
    float:none !important;
    margin:0 !important;
    display: block !important;
}


/* PLUGIN - WOOCOMMERCE */
	/* General */
	body[class*="woocommerce"] .entry-content > .woocommerce {
		max-width:$default-width;
	}
	
	.wide-max-width {
		max-width:$default-width;
	}
	
	.content-wrapper > .woocommerce {
		margin: 0 auto 45px auto;
	}
	
	.woocommerce #respond input#submit.loading::after, 
	.woocommerce a.button.loading::after, 
	.woocommerce button.button.loading::after, 
	.woocommerce input.button.loading::after {
		top:50%;
		margin-top:calc( -0.5 * $h5 );
		width:$h5;
		height:$h5;
		right:calc( 0.6 * $spacing );		
	}
	
	.woocommerce #respond input#submit.added::after, 
	.woocommerce a.button.added::after, 
	.woocommerce button.button.added::after, 
	.woocommerce input.button.added::after {
		position:absolute;
		top:50%;
		margin-top:calc( -0.5 * $h5 );
		width:$h5;
		height:$h5;
		right:calc( 0.6 * $spacing );		
	}
	
	.woocommerce #respond input#submit.added,
	.woocommerce a.button.added,
	.woocommerce button.button.added,
	.woocommerce input.button.added,
	.woocommerce #respond input#submit.loading,
	.woocommerce a.button.loading, 
	.woocommerce button.button.loading, 
	.woocommerce input.button.loading {
		padding-right:calc( 2 * $spacing );
	}
	
	/* Breadcrumb */
	.woocommerce .woocommerce-breadcrumb {
		@include h6;
		color:$foreground-color;
		padding-top:15px;

        a {
            color:$primary-color;
            text-decoration: none;
        }
	}	
	
	/* Title */
	.woocommerce-products-header__title {
	
		&.page-title {
			@include h2;
			color:$primary-color;			
		}		
	}
	
	/* Notice */
	.woocommerce-error, 
	.woocommerce-info,
	.woocommerce-notice,
	.woocommerce-message {
		@include h6;
		border:2px solid $border-color;
		color:$foreground-color;
		background-color:$background-color;
		padding:15px 25px;
		border-left-width: 20px;

        a {
            color:$primary-color !important;

            &:hover,
            &:focus {
                color:$primary-color-hover !important;
            }

			&.woocommerce-Button,
			&.button {
				color:$background-color !important;
			}
        }
	}
	
	.woocommerce-error:before, 
	.woocommerce-info:before,
	.woocommerce-message:before {
		top:15px;
		left:24px;
	}
	
	.woocommerce-message { 
        border-color:$success;	

        &:before {
            color:$success;
        }    
    }
	
	.woocommerce-info { border-color:$info; }
	.woocommerce-info:before { color:$info; }

    .woocommerce-warning { border-color:$warning; }
	.woocommerce-warning:before { color:$warning; }
	
	.woocommerce-error { border-color:$error; }	
	.woocommerce-error:before {	color:$error; }

	.woocommerce-notice--success { border-color:$success; }	
	.woocommerce-notice--success:before { color:$success; }
	
	.woocommerce .woocommerce-notices-wrapper a.button,
	.woocommerce .woocommerce-error a.button,
	.woocommerce .woocommerce-info a.button,
	.woocommerce .woocommerce-message a.button {
		padding:10px 15px !important;	
        background-color:$primary-color;	
        @include h6;
        border-radius:10px !important;

        &:hover {
            background-color:$primary-color-hover;	
        }
	}
	
	.woocommerce a.remove {
		background-color:$error !important;
		color:$background-color !important;
		line-height:24px;
		border-radius:4px;
		width:28px;
		height: 28px;
		border:none !important;
	}
	
	.woocommerce a.remove:hover {
		background-color:#f00 !important;
		color:$background-color !important;
	}
	
	/* Select */
	.select2-container {

        .select2-dropdown {
            border-color:$border-color;

            .select2-results {
                @include h6;

                .select2-results__option {
                    padding:3px 6px;
                }
            }
        }
    
        .select2-selection--single {
            border:1px solid $border-color !important;
            border-radius:10px !important;
            height:44px !important;

            .select2-selection__rendered {
                padding-top:8px;
                padding-bottom:8px;
				@include h6;
            }

            .select2-selection__arrow {
                top:9px !important;
            }
        }
	}

	body > .select2-container {
		margin-top:-16px;

		.select2-dropdown {
			border-radius:10px 10px 0 0;
		}
	}

	
	/* Login */	
	.woocommerce-account:not(.logged-in) .page-heading {
		display:none;
	}
	
	.woocommerce-account:not(.logged-in) #woocommerce-my-account-wrapper {
		border:none;
		flex-direction:column;
		align-items:center;
	}
	
	.woocommerce-account:not(.logged-in) #woocommerce-my-account-wrapper h2 {
		@include h1;
		padding:0 0 40px 0;
		font-weight:bold;
	}
	
	.woocommerce form.checkout_coupon, 
	.woocommerce form.login, 
	.woocommerce form.register {
		border:1px solid $border-color;
		margin:0 0 45px 0;
		border-radius:10px;
		padding:$spacing;

		p {
			@include h6;
		}
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
		padding:18px 25px;
	}
	
	.woocommerce-LostPassword {
		@include h6;
	}
	
	.woocommerce-LostPassword a {
		color:$tertiary-color;
	}
	
	.woocommerce-LostPassword a:hover {
		color:$secondary-color;
		text-decoration:none;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
		display: inline-flex;
		align-items: center;
		height:54px;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme input {
		margin:0 5px 0 0;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme span {
		@include h6;
	}
	
	/* My Account */
	#woocommerce-my-account-wrapper {
		border:1px solid $border-color;
		display:flex;		
		margin-bottom: $double-spacing;
	}
	
	.woocommerce-account .woocommerce-MyAccount-navigation {
		float:none;
		width:250px;
		border-right:1px solid $border-color;

		ul {
			padding:0;
        	margin:0;
			border-top:none;

			li {
				list-style-type:none;		
				border-bottom:1px solid $border-color;

				&:last-child {
					border:none;
				}

				&.is-active {

					a {
						text-decoration:none;
						color:$background-color;
						background-color:$primary-color; 
					}
				}

				a {
					display:block;
					padding:10px 15px;
					text-decoration: none;

					&:hover {
						text-decoration:none;
						color:$background-color;
						background-color:$primary-color; 
					}
				}
			}
		}
	}
	
	.woocommerce-account .woocommerce-MyAccount-content {
		flex:1;
		width:auto;
		float:none;
		padding:20px 20px;
	}

    .woocommerce-account .woocommerce-MyAccount-content a {
        text-decoration: none;
    }
	
	.woocommerce-account .addresses {
		margin:45px 0 0 0;
	}
	
	.woocommerce-account .addresses .title {
		margin: 0 0 15px 0;
	}	
	
	.woocommerce-account .addresses .title h3 {
		font-weight:bold;
		@include h4;
	}
	
	.woocommerce-account .addresses .title .edit {
		color:$background-color;
		background-color:$primary-color; 
		border-radius:$border-radius;
		font-size:$h5;
		padding:4px 10px;
	}
	
	.woocommerce-account .addresses .title .edit:hover {
		text-decoration:none;
		background-color:$secondary-color-hover; 
	}
	
	.woocommerce-account address {
		font-style:normal;
		margin: 0 0 45px 0;
	}
	
	@media( max-width:991px ) {
		.woocommerce .woocommerce-MyAccount-content .col2-set .col-1,
		.woocommerce-page .woocommerce-MyAccount-content .col2-set .col-1,
		.woocommerce .woocommerce-MyAccount-content .col2-set .col-2,
		.woocommerce-page .woocommerce-MyAccount-content .col2-set .col-2 {
			float:none;
			width:100%;
			margin: 0 0 45px 0;
		}
	}
	
	@media( max-width:767px ) {
		#woocommerce-my-account-wrapper {
			flex-direction:column;	
		}
		
		.woocommerce-account .woocommerce-MyAccount-navigation {		
			width:auto;
			flex:1;
		}
		
		.woocommerce-MyAccount-navigation ul li:last-child {
			border-bottom:10px solid $dark-gray;
		}
	}

	.woocommerce-form-register {
		.woocommerce-form-register-action {
			display: inline-block;
			margin-bottom: 15px;
		}

		.wcfmmp_become_vendor_link {
			display: inline-block;

			a {
				@include h5;
				font-family: $secondary-font;
				background-color: $secondary-color;
				border-radius: 10px;
				border:1px solid $secondary-color;
				padding:10px 25px;
				color:$background-color;
				display: block;

				@media ( max-width:767px ) {
					padding:14px 25px;
				}

				&:hover {
					background-color: $secondary-color-hover;
				}
			}
		}
	}
	
	/* Archive - Content Product */
	.woocommerce .woocommerce-breadcrumb {
		margin:0 0 45px 0;
	}
	
	.vendor-archive-header {
		margin: 0 0 9px 0;
	}
	
	.vendor-archive-header-top {
		display:flex;
		margin:0 0 20px 0;	
		align-items:center;
	}
	
	.vendor-archive-avatar {
		width:100px;
		height:100px;
		margin:0 20px 0 0;
		border-radius:100px;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}
	
	.vendor-archive-header-top-content {
		flex:1;
	}
	
	.vendor-archive-name h1 {
		@include h3;
		font-weight:bold;
		margin: 0 0 7px 0;
	}
	
	.woocommerce .vendor-archive-rating .star-rating {
		font-size:13px;
		width:69px;
	}
	
	.vendor-archive-rating small {
		display:none !important;
	}
	
	.vendor-archive-rating span {
		color:$secondary-color;
	}
	
	.vendor-archive-header-bottom {
		margin:0 0 40px 0;
	}
	
	.vendor-archive-description {
		@include h4;
	}
	
	.woocommerce-archive-content-wrapper {
		display:flex;
		margin: 0 0 $double-spacing 0;
	}
	
	.woocommerce-sidebar-wrapper {
		background-color: $light-gray;
		width:270px;
		padding:$spacing;
		margin:0 $double-spacing 0 0;
		border-radius: 10px;
	}
	
	.woocommerce-sidebar-header {
		@include h4;
		font-weight:bold;
		height:51px;
		display:flex;
		align-items:center;
		margin: 0 0 26px 0;
	}
	
	.woocommerce-archive-content {
		flex:1;		
		margin:0 0 31px 0;
	}
	
	.woocommerce-archive-content-header {
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin: 0 0 45px 0;
	}
	
	.woocommerce-archive-content-header-left {
		@include h4;
		font-weight:bold;
	}
	
	.woocommerce .woocommerce-ordering {
		margin:0;

        select {
            max-width:265px;
			border-radius: 10px;

			@media( max-width: $sm ) {
				border-radius:10px 0 0 10px;
			}
        }
	}
	
	.filter-toggler {
		height:43px;
		width:43px;		
		background-color:$primary-color;
		color:$background-color;
		cursor:pointer;		
		align-items:center;
		justify-content:center;
		display:none;
		border-radius:0 10px 10px 0;
	}
	
	.filter-toggler svg {
		width:32px;
		stroke:#ffffff;
		fill:$primary-color;
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products {
		margin:0 -15px;	
		justify-content:flex-start;
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
		width:25%;
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product a img {
		margin: 0 0 1em 0
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
		margin: 0 0 calc( $spacing * 3 ) 0;
	}	
	
	@media( max-width:767px ) {
		.woocommerce-archive-content-wrapper {
			flex-direction:column;	
		}
		
		.woocommerce-archive-content-header-left {
			display:none;
		}
		
		.woocommerce-archive-content-header-right {
			display:flex;
			align-items:center;
			justify-content:flex-end;
			flex:1;
		}
		
		.woocommerce-sidebar-wrapper {
			position:fixed;
			top:0;
			right:-100%;
			width:100%;
			height:100%;
			z-index:1000;			
			margin:0;	
			transition:all 0.4s ease 0s;
			background-color:transparent;
		}
		
		.woocommerce-sidebar-inner {
			max-width:280px;
			width:80vw;
			height:100%;
			background-color:$light-gray;
			box-shadow:0 0 25px #888;
			padding:25px;
			overflow-y:scroll;
			position:absolute;
			right:0;
			top:0;			
		}
		
		.woocommerce-archive-content-wrapper.open .woocommerce-sidebar-wrapper {
			right:0;
		}
		
		.admin-bar .woocommerce-sidebar-inner {
			padding:61px 25px 25px 25px;
		}
		
		.woocommerce-sidebar-header {
			line-height:28px;
			height:31px;
			margin:0 0 20px 0;
			display:flex;
			align-items:center;
			justify-content:space-between;

			.filter-menu-close-wrapper {
				width: 30px;
				margin: 0 0 0 15px;
				order: 1;
				cursor: pointer;
				display:none;

				@media( max-width: $sm ) {
					display:block;
				}

				.burgerbar.top {
					transform: rotate(45deg) translate(-1px, -10px);
					width: 30px;
					height: 4px;
					transform-origin:left top;
					border-radius: 10px;
					background-color:$primary-color;
				}

				.burgerbar.bottom {
					transform: rotate(-45deg) translate(-1px, 10px);
					width: 30px;
					height: 4px;
					margin: 0;
					transform-origin: left bottom;
					border-radius: 10px;
					background-color:$primary-color;
				}
			}
		}
		
		.filter-toggler {
			display:flex;
		}
	}
	
	@media( max-width:576px ) {
		.woocommerce-archive-content-header-right .woocommerce-ordering {
			flex:1;
		}
		
		.woocommerce-archive-content-header-right .woocommerce-ordering select {
			width:100%;
		}
	}
	
	.woocommerce-product-column {
		padding:0 15px;
	}
	
	.woocommerce-product-column-inner {
		background-color:$foreground-color;
		border-radius:10px;
		box-shadow: 0 0 10px #111;
		padding-bottom:50px;
		position:relative;
	}

	.woocommerce-vendor-wrapper {
		text-align:center;
		letter-spacing:1px;
		text-transform:uppercase;	
		font-size:$h5;	
		margin:0 0 2px 0;
	}
	
	.woocommerce-vendor-wrapper a {
		color:#888888;
	}
	
	.woocommerce-vendor-wrapper a:hover {
		color:$secondary-color;
	}
	
	.woocommerce-title-wrapper {
		text-align:center;		
		margin:0 0 2px 0;	
	}
	
	.woocommerce-title-wrapper h3 {
		font-weight:bold;			
	}
	
	.woocommerce ul.products li.product .woocommerce-title-wrapper h3 {
		 padding:0;
	}
	
	.woocommerce-rating-wrapper {
		text-align:center;
	}
	
	.woocommerce .products .star-rating {
		margin:0 0 2px 0;	
	}
	
	.woocommerce .star-rating,
	.woocommerce ul.products li.product .star-rating,
	.woocommerce #woocommerce-wrapper ul.products li.product .star-rating {
		font-size:13px;
		width:69px;
	}
	
	.woocommerce .products .woocommerce-rating-wrapper .star-rating {
		display:inline-block;
	}
	
	.woocommerce-rating-wrapper span:before,
	.star-rating span:before {
		color:$secondary-color;
	}
	
	.woocommerce-price-wrapper {
		text-align:center;
		font-weight:bold;	
		margin-bottom:20px;
	}
	
	.woocommerce-Price-amount {
		font-size:$h5;
	}
	
	ins {
		color:$success;
		text-decoration:none;
	}
	
	/* Archive - add to cart button */
	.woocommerce #respond input#submit.loading::after, 
	.woocommerce a.button.loading::after, 
	.woocommerce button.button.loading::after, 
	.woocommerce input.button.loading::after {
		top:50%;
		margin-top:calc( -0.5 * $h5 );
		width:$h5;
		height:$h5;
		right:calc( 0.6 * $spacing );		
	}
	
	.woocommerce #respond input#submit.added::after, 
	.woocommerce a.button.added::after, 
	.woocommerce button.button.added::after, 
	.woocommerce input.button.added::after {
		position:absolute;
		top:50%;
		margin-top:calc( -0.5 * $h5 );
		width:$h5;
		height:$h5;
		right:calc( 0.6 * $spacing );		
	}
	
	.woocommerce #respond input#submit.added,
	.woocommerce a.button.added,
	.woocommerce button.button.added,
	.woocommerce input.button.added,
	.woocommerce #respond input#submit.loading,
	.woocommerce a.button.loading, 
	.woocommerce button.button.loading, 
	.woocommerce input.button.loading {
		padding-right:calc( 2 * $spacing );
	}
	
	#woocommerce-wrapper ul.products li.product .added_to_cart {
		position: absolute;
		width: 100px;
		border: 0;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		margin:0;
		padding:0;
		font-family:$primary-font;
	}
	
	/* Single - Content Single Product - General */
	.woocommerce div.product div.summary {
		margin:0 0 45px 0;
	}
	
	.woocommerce-single-product-wrapper {
		margin:0;
        width:100%;
	}
	
	.woocommerce.single-product .entry.product {
		margin-top:0;
	}
	
	.woocommerce.single-product .entry.product > .onsale {
		left:15px;
		transform:none;
	}
	
	.woocommerce div.product .product_title {
		@include h2;
		font-weight:bold;
		margin:0 0 10px 0;
	}
	
	.woocommerce div.product .woocommerce-product-rating {
		font-size:$h5;
		display:flex;
		align-items:center;
		margin:0;		
	} 	
	
	.woocommerce div.product .woocommerce-product-rating a {
		color:$tertiary-color;
        text-decoration: none;
	}
	
	.woocommerce div.product .woocommerce-product-rating a:hover {
		color:$secondary-color;
		text-decoration:none;
	}
	
	.woocommerce div.product .woocommerce-product-rating .star-rating {
		margin:0 10px 0 0;
		float:none;
	}
	
	.woocommerce div.product p.price, 
	.woocommerce div.product span.price {
		color:$foreground-color;
        font-family: $secondary-font;
		font-weight:bold;
		margin:0 0 20px 0;
		padding:0;
	}
	
	.woocommerce div.product p.price del, 
	.woocommerce div.product span.price del {
		opacity:1;
	}
	
	.woocommerce div.product p.price .woocommerce-Price-amount , 
	.woocommerce div.product span.price .woocommerce-Price-amount {
		@include h4;
	}
	
	.woocommerce div.product .woocommerce-product-details__short-description {
		margin:0 0 20px 0;
		padding:0 0 3px 0;
		border-bottom:2px solid $border-color;
	}
	
	.woocommerce div.product .woocommerce-product-details__short-description p {
		margin: 0 0 15px 0;
	}
	
	.woocommerce form {

        &.cart {
            margin: 0 0 $spacing 0;
        }

        .quantity.buttons-added {
            margin:0 !important;

            .minus,
            .plus {
                display:flex;
				height:54px;
                background-color:$background-color;        
                font-size:$h5 !important;        
            
                &:hover {
                    background-color:$primary-color-hover;
                    color:$background-color;
                }

				@media( max-width: $sm ) {
					width:35px;
				}
            }

            input[type=number] {
                border:1px solid $border-color;
                width:70px;
                height:54px;
                padding:0;
                outline:none;

                &:focus {
                    border:1px solid $primary-color;
                }
            }
        }

        .single_add_to_cart_button {
            border-top-left-radius:0px !important;
            border-bottom-left-radius:0px !important;
            color: $background-color !important;
            background-color: $primary-color !important;
            padding:10px 15px !important;

            &:hover {
                background-color: $primary-color-hover !important;
            }
        }
    }	

	.wcpv-sold-by-single {
		@include h6;
		color:$foreground-color;
		font-weight:bold;
		margin:0 0 5px 0;
	}
	
	.product_meta {
		@include h6;
		color:$foreground-color;
		font-weight:bold;

        a {
            text-decoration: none;
        }
	}
	
	.wcpv-sold-by-single a:hover,
	.product_meta a:hover {
		text-decoration:none;
	}
	
	/* Single - Content Single Product - Tabs */
	.woocommerce div.product .woocommerce-tabs {
		margin:0 0 $double-spacing 0;

        ul.tabs {
            margin:0;	
            padding:0;

            &:before {
                border-bottom:1px solid $primary-color;
            }

            li {
                border-radius:0px;
                border:1px solid $primary-color;
                background-color:$primary-color;
                margin:0;
                padding:0;     

                &.active {		
					z-index:2;			

                    a {
                        color:$primary-color
                    }
                }          

                &:after,
                &:before {
                    display:none;
                }

                &:hover {
                    background-color:$background-color;                    
                    color:$primary-color;
					border-bottom: 1px solid $background-color;
					z-index:2;
                }

                a {
                    font-family: $secondary-font;
                    @include h5;
                    color:$background-color;
                    padding:10px 15px;
                    display: block;

                    &.active,
                    &:hover {
                        color:$primary-color;
                    }
                }
            }
        }

        .panel {
            padding:$spacing 15px;
            background-color:#ffffff;
            @include h6;
            border-bottom:1px solid $primary-color;
            border-left:1px solid $primary-color;
            border-right:1px solid $primary-color;
            margin-top:0 !important;

            h2 {
                @include h4;
                font-weight:bold;
                margin:0 0 $spacing 0;
            }

            p {
                margin: 0 0 15px 0;
            }
        }
	}
	
    /* Single - Content Single Product - Tabs - Table */
	.woocommerce table.shop_attributes th,
	.woocommerce table.shop_attributes td {
		border:none;
		border-bottom:1px solid $border-color;
	}
	
	.woocommerce table.shop_attributes th {
		background-color:$border-color;
	}
	
	.woocommerce table.shop_attributes td {
		padding:8px;
		font-style:normal;
	}
	
	.woocommerce table.shop_attributes tr:nth-child(2n) th {
		background-color:$dark-gray;
	}
	
	.woocommerce table.shop_attributes tr:nth-child(2n) td {
		background-color:transparent;
	}
	
	.woocommerce table.shop_attributes p {
		margin: 0 0 15px 0;
	}
	.woocommerce table.shop_attributes p {
		margin: 0 0 15px 0;
	}
	
	.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes p {
		margin:0;
	}
	
	/* Single - Content Single Product - Tabs - Review */
	.comments-title, .comment-reply-title {
		@include h4;
		font-weight:bold;
		font-style:normal;
	}
	
	.comment-form {
		margin: 0 0 20px 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist {
		padding:0;
		margin: 0 0 20px 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		border-radius:0px;
	}
	
	.woocommerce #reviews #comment {
		height:200px;
	}
	
	.comment-form-rating a {
		color:$secondary-color;
	}
	
	.woocommerce #review_form #respond p.form-submit {
		margin:0;
	}
	
	/* Single - Content Single Product - Related Products */
	.related.products h2 {
		@include h4;
		font-weight:bold;
		margin: 0 0 45px 0;
	}
	
	#woocommerce-wrapper div.product .related.products  ul.products {
		margin:0 -15px;
	}
	
	.woocommerce #woocommerce-wrapper ul.products li.product a img {
		margin: 0 0 1em 0;
	}
	
	/* Woocommerce Paging */
	.woocommerce nav.woocommerce-pagination {
		text-align:center;
	}
	
	.woocommerce nav.woocommerce-pagination ul {
		border:none;
	}
	
	.woocommerce nav.woocommerce-pagination ul li {
		border:none;
	}
	
	.woocommerce nav.woocommerce-pagination ul li a,
	.woocommerce nav.woocommerce-pagination ul li span {
		padding:11px 11px;
		min-width:40px;
		border:none;
		margin:0 2px;
		border-radius: 10px;
	}
	
	.woocommerce nav.woocommerce-pagination ul li a:focus, 
	.woocommerce nav.woocommerce-pagination ul li a:hover, 
	.woocommerce nav.woocommerce-pagination ul li span.current {
		color:$background-color;
		background-color:$primary-color; 
	}
	
	/* Cart */	
	.woocommerce-cart table.cart img {
		width:48px;
	}
	
	.woocommerce #content table.cart td.actions .input-text, 
	.woocommerce table.cart td.actions .input-text, 
	.woocommerce-page #content table.cart td.actions .input-text, 
	.woocommerce-page table.cart td.actions .input-text {
		width:150px;
		padding:4px 15px 3px;
		line-height:32px;
		margin:0 13px 0 0;
		border-radius:4px;
	}	

    .coupon {

        #coupon_code {
            padding:9px 15px !important;
            border-radius: 0px !important;
            margin-right:0 !important;
        }

        button.button {
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            padding:10px $spacing !important;
            font-size:$h5 !important;

            @media( max-width:$xs ) {
                padding:10px 5px !important;
            }
        }
    }
	
	.woocommerce td.product-name dl.variation dt {
		font-weight:700;
	}
	
	.woocommerce td.product-name .wc-item-meta, 
	.woocommerce td.product-name dl.variation,
	.woocommerce td.product-name dl.variation em {
		@include h6;
		color:$foreground-color;
		font-weight:bold;
	}
	
	.woocommerce td.product-name dl.variation a:hover {
		text-decoration:none;
	}
	
	.woocommerce #content table.cart td.actions, 
	.woocommerce table.cart td.actions, 
	.woocommerce-page #content table.cart td.actions, 
	.woocommerce-page table.cart td.actions {
		padding:13px 0;
	}
	
	.cart_totals h2 {
		@include h3;
		font-weight: bold;
		margin:0 0 15px 0;
	}
	
	.cart_totals table.shop_table th {
		background-color:transparent;
		border:none;
		padding-left:0;
        font-family: $secondary-font;
        font-weight: 400;
	}
	
	.woocommerce-cart .wc-proceed-to-checkout {
		text-align:right;
	}
	
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
		display:inline-block;
	}
	
	#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
	.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
		font-size:$h5;
	}
	
	/* Checkout */
	.woocommerce-billing-fields__field-wrapper {
		margin: 0 0 45px 0;
	}
	
	#add_payment_method #payment, 
	.woocommerce-cart #payment,
	.woocommerce-checkout #payment {
		background:$border-color;
		border-radius:0px;
	}
	
	.cart-subtotal th,
	.order-total th {
		background-color:transparent;
		border:none;
		padding-left:0;
	}

	ul.order_details {
		padding:$spacing;
		border:1px solid $border-color;

		li {
			color:$primary-color;
			font-weight: 700;;

			strong {
				font-weight:400;
				color:$foreground-color;
			}
		}
	}

	.woocommerce-order-details {
	
		h2 {
			color:$primary-color !important;
		}

		.woocommerce-table--order-details  {
			border:1px solid $border-color !important;
		}

		table {
			th {
				font-family: $secondary-font;
			}
		}
	}

	
	/* Widget */
	.woocommerce-widget-title {
		font-weight:bold;
		margin: 0 0 16px 0;
	}
	
	.widgetSidebar {
		margin: 0 0 45px 0;
        @include h6;
	}
	
	/* Widget - Price Filter */	
	.woocommerce .widget_price_filter {		

        .woocommerce-widget-title {
            margin: 0 0 20px 0;
        }

        .ui-slider {
            margin-left:0px;
            margin-right:0px;
            margin-bottom:0px;
            height:6px;
            background-color:#888;
            background-image:none;

            .ui-slider-range {
                background-color:$primary-color; 
                background-image:none;
                border:none;
            }

            .ui-slider-handle {
                width:14px;
                height:14px;
                background-color:$primary-color; 
                top:-4px;
                background-image:none;
                border:none;
                margin-left:-7px;
            }
        }

        .price_slider_amount {
			display:flex;
			flex-direction: column;
			align-items: flex-end;

            .button {
                font-size: $h6;
                transition:all 0.2s ease 0s;
				width:83px;

                &:hover {			
                    background-color: $primary-color-hover;
                }
            }

            .price_label {
                display:flex;
                justify-content:space-between;
                font-size:$h6;	
                margin: 0 0 10px 0;
				width:100%;
            }
        }
	}

	/* Widget - Auction Product Search */
	.woocommerce-auction-product-search {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.search-field {
			width:100%;
			margin-bottom: 15px;
		}

		button[type=submit] {			
			border:1px solid $primary-color;
			background-color:$primary-color;
			padding:10px 25px;
			line-height: normal;

			&:hover,
			&:focus {
				border:1px solid $primary-color-hover;
				background-color: $primary-color-hover;
				color:$background-color;
			}
		}
	}

	
	/* Widget - Rating */
	.woocommerce .widget_rating_filter {		

        ul {

            li {

                &.chosen {

                    a {

                        &:before {
                            position:absolute;
                            right:-20px;
                            margin:0;
                            top:4px;
                        }
                    }
                }

                a {
	            	position:relative;
	            }
            }
        }
	}	

/* Stripe */
    #stripe-card-element {
        @include h5;

        /*.wc-stripe-elements-field, 
        .wc-stripe-iban-element-field {
            height:44px;

            iframe {
                height:34px;
            }
        }*/
    }
	
/* Woocommerce Blocks */
	.wc-block-grid__products {
		margin:0 -15px 30px;	
		position:relative;
	}

	.wc-block-grid__product {
		border-left:15px solid transparent;
		border-right:15px solid transparent;	
		border-bottom:45px solid transparent;
	}
	
	.theme-twentytwenty .wc-block-grid.has-5-columns .wc-block-grid__product, 
	.theme-twentytwenty .wc-block-grid.has-6-columns.alignfull .wc-block-grid__product, 
	.wc-block-grid.has-5-columns .wc-block-grid__product, 
	.wc-block-grid.has-6-columns.alignfull .wc-block-grid__product {
		@include h5;
	}
	
	#content .wc-block-grid .wc-block-grid__product-price {
		@include h5;
		font-weight:bold;
	}
	
	#content .wc-block-grid .wc-block-grid__product .wc-block-grid__product-onsale {
		background-color:$primary-color;
		color:$background-color;
		border:none;
		right:initial;
		left:50%;
		transform:translateX(-50%);
		top:0;
		margin:-29px 0 0 0;
	}
	
	.wc-block-grid__product-link:hover {
		text-decoration:none;
	}



